.nn-btn.nn-outline.nn-white {
  color: var(--nn-gcolor-white-p10);
  border: 1px var(--nn-gcolor-white) solid;
}
.nn-btn.nn-outline.nn-white:hover, .nn-btn.nn-outline.nn-white:active, .nn-btn.nn-outline.nn-white.nn-active {
  color: var(--nn-gcolor-white-m20);
  background-color: var(--nn-gcolor-white-p20);
  border-color: var(--nn-gcolor-white-p20);
}
.nn-btn.nn-outline.nn-silver {
  color: var(--nn-gcolor-silver-p10);
  border: 1px var(--nn-gcolor-silver) solid;
}
.nn-btn.nn-outline.nn-silver:hover, .nn-btn.nn-outline.nn-silver:active, .nn-btn.nn-outline.nn-silver.nn-active {
  color: var(--nn-gcolor-silver-m20);
  background-color: var(--nn-gcolor-silver-p20);
  border-color: var(--nn-gcolor-silver-p20);
}
.nn-btn.nn-outline.nn-royal-purple {
  color: var(--nn-gcolor-royal-purple-p10);
  border: 1px var(--nn-gcolor-royal-purple) solid;
}
.nn-btn.nn-outline.nn-royal-purple:hover, .nn-btn.nn-outline.nn-royal-purple:active, .nn-btn.nn-outline.nn-royal-purple.nn-active {
  color: var(--nn-gcolor-royal-purple-m20);
  background-color: var(--nn-gcolor-royal-purple-p20);
  border-color: var(--nn-gcolor-royal-purple-p20);
}
.nn-btn.nn-outline.nn-persian-red {
  color: var(--nn-gcolor-persian-red-p10);
  border: 1px var(--nn-gcolor-persian-red) solid;
}
.nn-btn.nn-outline.nn-persian-red:hover, .nn-btn.nn-outline.nn-persian-red:active, .nn-btn.nn-outline.nn-persian-red.nn-active {
  color: var(--nn-gcolor-persian-red-m20);
  background-color: var(--nn-gcolor-persian-red-p20);
  border-color: var(--nn-gcolor-persian-red-p20);
}
.nn-btn.nn-outline.nn-denim {
  color: var(--nn-gcolor-denim-p10);
  border: 1px var(--nn-gcolor-denim) solid;
}
.nn-btn.nn-outline.nn-denim:hover, .nn-btn.nn-outline.nn-denim:active, .nn-btn.nn-outline.nn-denim.nn-active {
  color: var(--nn-gcolor-denim-m20);
  background-color: var(--nn-gcolor-denim-p20);
  border-color: var(--nn-gcolor-denim-p20);
}
.nn-btn.nn-outline.nn-gold-tips {
  color: var(--nn-gcolor-gold-tips-p10);
  border: 1px var(--nn-gcolor-gold-tips) solid;
}
.nn-btn.nn-outline.nn-gold-tips:hover, .nn-btn.nn-outline.nn-gold-tips:active, .nn-btn.nn-outline.nn-gold-tips.nn-active {
  color: var(--nn-gcolor-gold-tips-m20);
  background-color: var(--nn-gcolor-gold-tips-p20);
  border-color: var(--nn-gcolor-gold-tips-p20);
}
.nn-btn.nn-outline.nn-shamrock {
  color: var(--nn-gcolor-shamrock-p10);
  border: 1px var(--nn-gcolor-shamrock) solid;
}
.nn-btn.nn-outline.nn-shamrock:hover, .nn-btn.nn-outline.nn-shamrock:active, .nn-btn.nn-outline.nn-shamrock.nn-active {
  color: var(--nn-gcolor-shamrock-m20);
  background-color: var(--nn-gcolor-shamrock-p20);
  border-color: var(--nn-gcolor-shamrock-p20);
}
.nn-btn.nn-outline.nn-cod-grey {
  color: var(--nn-gcolor-cod-grey-p10);
  border: 1px var(--nn-gcolor-cod-grey) solid;
}
.nn-btn.nn-outline.nn-cod-grey:hover, .nn-btn.nn-outline.nn-cod-grey:active, .nn-btn.nn-outline.nn-cod-grey.nn-active {
  color: var(--nn-gcolor-cod-grey-m20);
  background-color: var(--nn-gcolor-cod-grey-p20);
  border-color: var(--nn-gcolor-cod-grey-p20);
}
.nn-btn.nn-outline.nn-gravel {
  color: var(--nn-gcolor-gravel-p10);
  border: 1px var(--nn-gcolor-gravel) solid;
}
.nn-btn.nn-outline.nn-gravel:hover, .nn-btn.nn-outline.nn-gravel:active, .nn-btn.nn-outline.nn-gravel.nn-active {
  color: var(--nn-gcolor-gravel-m20);
  background-color: var(--nn-gcolor-gravel-p20);
  border-color: var(--nn-gcolor-gravel-p20);
}
.nn-btn.nn-outline.nn-emerald {
  color: var(--nn-gcolor-emerald-p10);
  border: 1px var(--nn-gcolor-emerald) solid;
}
.nn-btn.nn-outline.nn-emerald:hover, .nn-btn.nn-outline.nn-emerald:active, .nn-btn.nn-outline.nn-emerald.nn-active {
  color: var(--nn-gcolor-emerald-m20);
  background-color: var(--nn-gcolor-emerald-p20);
  border-color: var(--nn-gcolor-emerald-p20);
}
.nn-btn.nn-outline.nn-burn-orange {
  color: var(--nn-gcolor-burn-orange-p10);
  border: 1px var(--nn-gcolor-burn-orange) solid;
}
.nn-btn.nn-outline.nn-burn-orange:hover, .nn-btn.nn-outline.nn-burn-orange:active, .nn-btn.nn-outline.nn-burn-orange.nn-active {
  color: var(--nn-gcolor-burn-orange-m20);
  background-color: var(--nn-gcolor-burn-orange-p20);
  border-color: var(--nn-gcolor-burn-orange-p20);
}
.nn-btn.nn-outline.nn-razzmatazz {
  color: var(--nn-gcolor-razzmatazz-p10);
  border: 1px var(--nn-gcolor-razzmatazz) solid;
}
.nn-btn.nn-outline.nn-razzmatazz:hover, .nn-btn.nn-outline.nn-razzmatazz:active, .nn-btn.nn-outline.nn-razzmatazz.nn-active {
  color: var(--nn-gcolor-razzmatazz-m20);
  background-color: var(--nn-gcolor-razzmatazz-p20);
  border-color: var(--nn-gcolor-razzmatazz-p20);
}
.nn-btn.nn-outline.nn-desert {
  color: var(--nn-gcolor-desert-p10);
  border: 1px var(--nn-gcolor-desert) solid;
}
.nn-btn.nn-outline.nn-desert:hover, .nn-btn.nn-outline.nn-desert:active, .nn-btn.nn-outline.nn-desert.nn-active {
  color: var(--nn-gcolor-desert-m20);
  background-color: var(--nn-gcolor-desert-p20);
  border-color: var(--nn-gcolor-desert-p20);
}
.nn-btn.nn-outline.nn-charcoal {
  color: var(--nn-gcolor-charcoal-p10);
  border: 1px var(--nn-gcolor-charcoal) solid;
}
.nn-btn.nn-outline.nn-charcoal:hover, .nn-btn.nn-outline.nn-charcoal:active, .nn-btn.nn-outline.nn-charcoal.nn-active {
  color: var(--nn-gcolor-charcoal-m20);
  background-color: var(--nn-gcolor-charcoal-p20);
  border-color: var(--nn-gcolor-charcoal-p20);
}
.nn-btn.nn-outline.nn-golden-brown {
  color: var(--nn-gcolor-golden-brown-p10);
  border: 1px var(--nn-gcolor-golden-brown) solid;
}
.nn-btn.nn-outline.nn-golden-brown:hover, .nn-btn.nn-outline.nn-golden-brown:active, .nn-btn.nn-outline.nn-golden-brown.nn-active {
  color: var(--nn-gcolor-golden-brown-m20);
  background-color: var(--nn-gcolor-golden-brown-p20);
  border-color: var(--nn-gcolor-golden-brown-p20);
}
.nn-btn.nn-outline.nn-sepia {
  color: var(--nn-gcolor-sepia-p10);
  border: 1px var(--nn-gcolor-sepia) solid;
}
.nn-btn.nn-outline.nn-sepia:hover, .nn-btn.nn-outline.nn-sepia:active, .nn-btn.nn-outline.nn-sepia.nn-active {
  color: var(--nn-gcolor-sepia-m20);
  background-color: var(--nn-gcolor-sepia-p20);
  border-color: var(--nn-gcolor-sepia-p20);
}
.nn-btn.nn-outline.nn-alizarin {
  color: var(--nn-gcolor-alizarin-p10);
  border: 1px var(--nn-gcolor-alizarin) solid;
}
.nn-btn.nn-outline.nn-alizarin:hover, .nn-btn.nn-outline.nn-alizarin:active, .nn-btn.nn-outline.nn-alizarin.nn-active {
  color: var(--nn-gcolor-alizarin-m20);
  background-color: var(--nn-gcolor-alizarin-p20);
  border-color: var(--nn-gcolor-alizarin-p20);
}
.nn-btn.nn-outline.nn-rust {
  color: var(--nn-gcolor-rust-p10);
  border: 1px var(--nn-gcolor-rust) solid;
}
.nn-btn.nn-outline.nn-rust:hover, .nn-btn.nn-outline.nn-rust:active, .nn-btn.nn-outline.nn-rust.nn-active {
  color: var(--nn-gcolor-rust-m20);
  background-color: var(--nn-gcolor-rust-p20);
  border-color: var(--nn-gcolor-rust-p20);
}
.nn-btn.nn-outline.nn-blush {
  color: var(--nn-gcolor-blush-p10);
  border: 1px var(--nn-gcolor-blush) solid;
}
.nn-btn.nn-outline.nn-blush:hover, .nn-btn.nn-outline.nn-blush:active, .nn-btn.nn-outline.nn-blush.nn-active {
  color: var(--nn-gcolor-blush-m20);
  background-color: var(--nn-gcolor-blush-p20);
  border-color: var(--nn-gcolor-blush-p20);
}
.nn-btn.nn-outline.nn-fire-brick {
  color: var(--nn-gcolor-fire-brick-p10);
  border: 1px var(--nn-gcolor-fire-brick) solid;
}
.nn-btn.nn-outline.nn-fire-brick:hover, .nn-btn.nn-outline.nn-fire-brick:active, .nn-btn.nn-outline.nn-fire-brick.nn-active {
  color: var(--nn-gcolor-fire-brick-m20);
  background-color: var(--nn-gcolor-fire-brick-p20);
  border-color: var(--nn-gcolor-fire-brick-p20);
}
.nn-btn.nn-outline.nn-sunglow {
  color: var(--nn-gcolor-sunglow-p10);
  border: 1px var(--nn-gcolor-sunglow) solid;
}
.nn-btn.nn-outline.nn-sunglow:hover, .nn-btn.nn-outline.nn-sunglow:active, .nn-btn.nn-outline.nn-sunglow.nn-active {
  color: var(--nn-gcolor-sunglow-m20);
  background-color: var(--nn-gcolor-sunglow-p20);
  border-color: var(--nn-gcolor-sunglow-p20);
}
.nn-btn.nn-outline.nn-milk-punch {
  color: var(--nn-gcolor-milk-punch-p10);
  border: 1px var(--nn-gcolor-milk-punch) solid;
}
.nn-btn.nn-outline.nn-milk-punch:hover, .nn-btn.nn-outline.nn-milk-punch:active, .nn-btn.nn-outline.nn-milk-punch.nn-active {
  color: var(--nn-gcolor-milk-punch-m20);
  background-color: var(--nn-gcolor-milk-punch-p20);
  border-color: var(--nn-gcolor-milk-punch-p20);
}
.nn-btn.nn-outline.nn-yukon-gold {
  color: var(--nn-gcolor-yukon-gold-p10);
  border: 1px var(--nn-gcolor-yukon-gold) solid;
}
.nn-btn.nn-outline.nn-yukon-gold:hover, .nn-btn.nn-outline.nn-yukon-gold:active, .nn-btn.nn-outline.nn-yukon-gold.nn-active {
  color: var(--nn-gcolor-yukon-gold-m20);
  background-color: var(--nn-gcolor-yukon-gold-p20);
  border-color: var(--nn-gcolor-yukon-gold-p20);
}
.nn-btn.nn-outline.nn-green-pea {
  color: var(--nn-gcolor-green-pea-p10);
  border: 1px var(--nn-gcolor-green-pea) solid;
}
.nn-btn.nn-outline.nn-green-pea:hover, .nn-btn.nn-outline.nn-green-pea:active, .nn-btn.nn-outline.nn-green-pea.nn-active {
  color: var(--nn-gcolor-green-pea-m20);
  background-color: var(--nn-gcolor-green-pea-p20);
  border-color: var(--nn-gcolor-green-pea-p20);
}
.nn-btn.nn-outline.nn-laurel {
  color: var(--nn-gcolor-laurel-p10);
  border: 1px var(--nn-gcolor-laurel) solid;
}
.nn-btn.nn-outline.nn-laurel:hover, .nn-btn.nn-outline.nn-laurel:active, .nn-btn.nn-outline.nn-laurel.nn-active {
  color: var(--nn-gcolor-laurel-m20);
  background-color: var(--nn-gcolor-laurel-p20);
  border-color: var(--nn-gcolor-laurel-p20);
}
.nn-btn.nn-outline.nn-elf-green {
  color: var(--nn-gcolor-elf-green-p10);
  border: 1px var(--nn-gcolor-elf-green) solid;
}
.nn-btn.nn-outline.nn-elf-green:hover, .nn-btn.nn-outline.nn-elf-green:active, .nn-btn.nn-outline.nn-elf-green.nn-active {
  color: var(--nn-gcolor-elf-green-m20);
  background-color: var(--nn-gcolor-elf-green-p20);
  border-color: var(--nn-gcolor-elf-green-p20);
}
.nn-btn.nn-outline.nn-lake {
  color: var(--nn-gcolor-lake-p10);
  border: 1px var(--nn-gcolor-lake) solid;
}
.nn-btn.nn-outline.nn-lake:hover, .nn-btn.nn-outline.nn-lake:active, .nn-btn.nn-outline.nn-lake.nn-active {
  color: var(--nn-gcolor-lake-m20);
  background-color: var(--nn-gcolor-lake-p20);
  border-color: var(--nn-gcolor-lake-p20);
}
.nn-btn.nn-outline.nn-cobalt-blue {
  color: var(--nn-gcolor-cobalt-blue-p10);
  border: 1px var(--nn-gcolor-cobalt-blue) solid;
}
.nn-btn.nn-outline.nn-cobalt-blue:hover, .nn-btn.nn-outline.nn-cobalt-blue:active, .nn-btn.nn-outline.nn-cobalt-blue.nn-active {
  color: var(--nn-gcolor-cobalt-blue-m20);
  background-color: var(--nn-gcolor-cobalt-blue-p20);
  border-color: var(--nn-gcolor-cobalt-blue-p20);
}
.nn-btn.nn-outline.nn-mariner {
  color: var(--nn-gcolor-mariner-p10);
  border: 1px var(--nn-gcolor-mariner) solid;
}
.nn-btn.nn-outline.nn-mariner:hover, .nn-btn.nn-outline.nn-mariner:active, .nn-btn.nn-outline.nn-mariner.nn-active {
  color: var(--nn-gcolor-mariner-m20);
  background-color: var(--nn-gcolor-mariner-p20);
  border-color: var(--nn-gcolor-mariner-p20);
}
.nn-btn.nn-outline.nn-fuchsia {
  color: var(--nn-gcolor-fuchsia-p10);
  border: 1px var(--nn-gcolor-fuchsia) solid;
}
.nn-btn.nn-outline.nn-fuchsia:hover, .nn-btn.nn-outline.nn-fuchsia:active, .nn-btn.nn-outline.nn-fuchsia.nn-active {
  color: var(--nn-gcolor-fuchsia-m20);
  background-color: var(--nn-gcolor-fuchsia-p20);
  border-color: var(--nn-gcolor-fuchsia-p20);
}
.nn-btn.nn-outline.nn-blue-violet {
  color: var(--nn-gcolor-blue-violet-p10);
  border: 1px var(--nn-gcolor-blue-violet) solid;
}
.nn-btn.nn-outline.nn-blue-violet:hover, .nn-btn.nn-outline.nn-blue-violet:active, .nn-btn.nn-outline.nn-blue-violet.nn-active {
  color: var(--nn-gcolor-blue-violet-m20);
  background-color: var(--nn-gcolor-blue-violet-p20);
  border-color: var(--nn-gcolor-blue-violet-p20);
}
.nn-btn.nn-outline.nn-purple-heart {
  color: var(--nn-gcolor-purple-heart-p10);
  border: 1px var(--nn-gcolor-purple-heart) solid;
}
.nn-btn.nn-outline.nn-purple-heart:hover, .nn-btn.nn-outline.nn-purple-heart:active, .nn-btn.nn-outline.nn-purple-heart.nn-active {
  color: var(--nn-gcolor-purple-heart-m20);
  background-color: var(--nn-gcolor-purple-heart-p20);
  border-color: var(--nn-gcolor-purple-heart-p20);
}