.nn-btn.nn-nav {
  color: hsla(0deg, 0%, 100%, 0.4);
}
.nn-btn.nn-nav.nn-white:active, .nn-btn.nn-nav.nn-white.nn-active {
  color: hsl(0deg, 0%, 120%);
  box-shadow: -2px 0 0 hsl(0deg, 0%, 100%);
}
.nn-btn.nn-nav.nn-silver:active, .nn-btn.nn-nav.nn-silver.nn-active {
  color: hsl(0deg, 0%, 95%);
  box-shadow: -2px 0 0 hsl(0deg, 0%, 75%);
}
.nn-btn.nn-nav.nn-royal-purple:active, .nn-btn.nn-nav.nn-royal-purple.nn-active {
  color: hsl(263deg, 41%, 64%);
  box-shadow: -2px 0 0 hsl(263deg, 41%, 44%);
}
.nn-btn.nn-nav.nn-persian-red:active, .nn-btn.nn-nav.nn-persian-red.nn-active {
  color: hsl(0deg, 67%, 72%);
  box-shadow: -2px 0 0 hsl(0deg, 67%, 52%);
}
.nn-btn.nn-nav.nn-denim:active, .nn-btn.nn-nav.nn-denim.nn-active {
  color: hsl(209deg, 84%, 62%);
  box-shadow: -2px 0 0 hsl(209deg, 84%, 42%);
}
.nn-btn.nn-nav.nn-gold-tips:active, .nn-btn.nn-nav.nn-gold-tips.nn-active {
  color: hsl(42deg, 78%, 75%);
  box-shadow: -2px 0 0 hsl(42deg, 78%, 55%);
}
.nn-btn.nn-nav.nn-shamrock:active, .nn-btn.nn-nav.nn-shamrock.nn-active {
  color: hsl(149deg, 61%, 71%);
  box-shadow: -2px 0 0 hsl(149deg, 61%, 51%);
}
.nn-btn.nn-nav.nn-cod-grey:active, .nn-btn.nn-nav.nn-cod-grey.nn-active {
  color: hsl(0deg, 0%, 31%);
  box-shadow: -2px 0 0 hsl(0deg, 0%, 11%);
}
.nn-btn.nn-nav.nn-gravel:active, .nn-btn.nn-nav.nn-gravel.nn-active {
  color: hsl(0deg, 0%, 63%);
  box-shadow: -2px 0 0 hsl(0deg, 0%, 43%);
}
.nn-btn.nn-nav.nn-emerald:active, .nn-btn.nn-nav.nn-emerald.nn-active {
  color: hsl(118deg, 56%, 78%);
  box-shadow: -2px 0 0 hsl(118deg, 56%, 58%);
}
.nn-btn.nn-nav.nn-burn-orange:active, .nn-btn.nn-nav.nn-burn-orange.nn-active {
  color: hsl(20deg, 94%, 78%);
  box-shadow: -2px 0 0 hsl(20deg, 94%, 58%);
}
.nn-btn.nn-nav.nn-razzmatazz:active, .nn-btn.nn-nav.nn-razzmatazz.nn-active {
  color: hsl(342deg, 100%, 63%);
  box-shadow: -2px 0 0 hsl(342deg, 100%, 43%);
}
.nn-btn.nn-nav.nn-desert:active, .nn-btn.nn-nav.nn-desert.nn-active {
  color: hsl(22deg, 45%, 63%);
  box-shadow: -2px 0 0 hsl(22deg, 45%, 43%);
}
.nn-btn.nn-nav.nn-charcoal:active, .nn-btn.nn-nav.nn-charcoal.nn-active {
  color: hsl(0deg, 0%, 47%);
  box-shadow: -2px 0 0 hsl(0deg, 0%, 27%);
}
.nn-btn.nn-nav.nn-golden-brown:active, .nn-btn.nn-nav.nn-golden-brown.nn-active {
  color: hsl(37deg, 82%, 54%);
  box-shadow: -2px 0 0 hsl(37deg, 82%, 34%);
}
.nn-btn.nn-nav.nn-sepia:active, .nn-btn.nn-nav.nn-sepia.nn-active {
  color: hsl(37deg, 67%, 46%);
  box-shadow: -2px 0 0 hsl(37deg, 67%, 26%);
}
.nn-btn.nn-nav.nn-alizarin:active, .nn-btn.nn-nav.nn-alizarin.nn-active {
  color: hsl(4deg, 85%, 69%);
  box-shadow: -2px 0 0 hsl(4deg, 85%, 49%);
}
.nn-btn.nn-nav.nn-rust:active, .nn-btn.nn-nav.nn-rust.nn-active {
  color: hsl(20deg, 84%, 63%);
  box-shadow: -2px 0 0 hsl(20deg, 84%, 43%);
}
.nn-btn.nn-nav.nn-blush:active, .nn-btn.nn-nav.nn-blush.nn-active {
  color: hsl(345deg, 48%, 72%);
  box-shadow: -2px 0 0 hsl(345deg, 48%, 52%);
}
.nn-btn.nn-nav.nn-fire-brick:active, .nn-btn.nn-nav.nn-fire-brick.nn-active {
  color: hsl(349deg, 67%, 59%);
  box-shadow: -2px 0 0 hsl(349deg, 67%, 39%);
}
.nn-btn.nn-nav.nn-sunglow:active, .nn-btn.nn-nav.nn-sunglow.nn-active {
  color: hsl(47deg, 100%, 77%);
  box-shadow: -2px 0 0 hsl(47deg, 100%, 57%);
}
.nn-btn.nn-nav.nn-milk-punch:active, .nn-btn.nn-nav.nn-milk-punch.nn-active {
  color: hsl(44deg, 69%, 96%);
  box-shadow: -2px 0 0 hsl(44deg, 69%, 86%);
}
.nn-btn.nn-nav.nn-yukon-gold:active, .nn-btn.nn-nav.nn-yukon-gold.nn-active {
  color: hsl(47deg, 66%, 53%);
  box-shadow: -2px 0 0 hsl(47deg, 66%, 33%);
}
.nn-btn.nn-nav.nn-green-pea:active, .nn-btn.nn-nav.nn-green-pea.nn-active {
  color: hsl(140deg, 56%, 49%);
  box-shadow: -2px 0 0 hsl(140deg, 56%, 29%);
}
.nn-btn.nn-nav.nn-laurel:active, .nn-btn.nn-nav.nn-laurel.nn-active {
  color: hsl(124deg, 45%, 56%);
  box-shadow: -2px 0 0 hsl(124deg, 45%, 36%);
}
.nn-btn.nn-nav.nn-elf-green:active, .nn-btn.nn-nav.nn-elf-green.nn-active {
  color: hsl(161deg, 69%, 51%);
  box-shadow: -2px 0 0 hsl(161deg, 69%, 31%);
}
.nn-btn.nn-nav.nn-lake:active, .nn-btn.nn-nav.nn-lake.nn-active {
  color: hsl(192deg, 60%, 56%);
  box-shadow: -2px 0 0 hsl(192deg, 60%, 36%);
}
.nn-btn.nn-nav.nn-cobalt-blue:active, .nn-btn.nn-nav.nn-cobalt-blue.nn-active {
  color: hsl(215deg, 88%, 56%);
  box-shadow: -2px 0 0 hsl(215deg, 88%, 36%);
}
.nn-btn.nn-nav.nn-mariner:active, .nn-btn.nn-nav.nn-mariner.nn-active {
  color: hsl(215deg, 59%, 71%);
  box-shadow: -2px 0 0 hsl(215deg, 59%, 51%);
}
.nn-btn.nn-nav.nn-fuchsia:active, .nn-btn.nn-nav.nn-fuchsia.nn-active {
  color: hsl(302deg, 91%, 56%);
  box-shadow: -2px 0 0 hsl(302deg, 91%, 36%);
}
.nn-btn.nn-nav.nn-blue-violet:active, .nn-btn.nn-nav.nn-blue-violet.nn-active {
  color: hsl(269deg, 82%, 81%);
  box-shadow: -2px 0 0 hsl(269deg, 82%, 61%);
}
.nn-btn.nn-nav.nn-purple-heart:active, .nn-btn.nn-nav.nn-purple-heart.nn-active {
  color: hsl(276deg, 56%, 64%);
  box-shadow: -2px 0 0 hsl(276deg, 56%, 44%);
}
.nn-btn.nn-nav:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}