.nn-btn.nn-flat.nn-white {
  color: var(--nn-gcolor-white-invert);
  background-color: var(--nn-gcolor-white);
  box-shadow: 0px 3px 0 var(--nn-gcolor-white-m10);
}
.nn-btn.nn-flat.nn-white:hover {
  background-color: var(--nn-gcolor-white-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-white-m20);
}
.nn-btn.nn-flat.nn-white:active, .nn-btn.nn-flat.nn-white.nn-active {
  background-color: var(--nn-gcolor-white-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-white-m20);
}
.nn-btn.nn-flat.nn-silver {
  color: var(--nn-gcolor-silver-invert);
  background-color: var(--nn-gcolor-silver);
  box-shadow: 0px 3px 0 var(--nn-gcolor-silver-m10);
}
.nn-btn.nn-flat.nn-silver:hover {
  background-color: var(--nn-gcolor-silver-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-silver-m20);
}
.nn-btn.nn-flat.nn-silver:active, .nn-btn.nn-flat.nn-silver.nn-active {
  background-color: var(--nn-gcolor-silver-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-silver-m20);
}
.nn-btn.nn-flat.nn-royal-purple {
  color: var(--nn-gcolor-royal-purple-invert);
  background-color: var(--nn-gcolor-royal-purple);
  box-shadow: 0px 3px 0 var(--nn-gcolor-royal-purple-m10);
}
.nn-btn.nn-flat.nn-royal-purple:hover {
  background-color: var(--nn-gcolor-royal-purple-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-royal-purple-m20);
}
.nn-btn.nn-flat.nn-royal-purple:active, .nn-btn.nn-flat.nn-royal-purple.nn-active {
  background-color: var(--nn-gcolor-royal-purple-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-royal-purple-m20);
}
.nn-btn.nn-flat.nn-persian-red {
  color: var(--nn-gcolor-persian-red-invert);
  background-color: var(--nn-gcolor-persian-red);
  box-shadow: 0px 3px 0 var(--nn-gcolor-persian-red-m10);
}
.nn-btn.nn-flat.nn-persian-red:hover {
  background-color: var(--nn-gcolor-persian-red-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-persian-red-m20);
}
.nn-btn.nn-flat.nn-persian-red:active, .nn-btn.nn-flat.nn-persian-red.nn-active {
  background-color: var(--nn-gcolor-persian-red-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-persian-red-m20);
}
.nn-btn.nn-flat.nn-denim {
  color: var(--nn-gcolor-denim-invert);
  background-color: var(--nn-gcolor-denim);
  box-shadow: 0px 3px 0 var(--nn-gcolor-denim-m10);
}
.nn-btn.nn-flat.nn-denim:hover {
  background-color: var(--nn-gcolor-denim-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-denim-m20);
}
.nn-btn.nn-flat.nn-denim:active, .nn-btn.nn-flat.nn-denim.nn-active {
  background-color: var(--nn-gcolor-denim-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-denim-m20);
}
.nn-btn.nn-flat.nn-gold-tips {
  color: var(--nn-gcolor-gold-tips-invert);
  background-color: var(--nn-gcolor-gold-tips);
  box-shadow: 0px 3px 0 var(--nn-gcolor-gold-tips-m10);
}
.nn-btn.nn-flat.nn-gold-tips:hover {
  background-color: var(--nn-gcolor-gold-tips-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-gold-tips-m20);
}
.nn-btn.nn-flat.nn-gold-tips:active, .nn-btn.nn-flat.nn-gold-tips.nn-active {
  background-color: var(--nn-gcolor-gold-tips-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-gold-tips-m20);
}
.nn-btn.nn-flat.nn-shamrock {
  color: var(--nn-gcolor-shamrock-invert);
  background-color: var(--nn-gcolor-shamrock);
  box-shadow: 0px 3px 0 var(--nn-gcolor-shamrock-m10);
}
.nn-btn.nn-flat.nn-shamrock:hover {
  background-color: var(--nn-gcolor-shamrock-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-shamrock-m20);
}
.nn-btn.nn-flat.nn-shamrock:active, .nn-btn.nn-flat.nn-shamrock.nn-active {
  background-color: var(--nn-gcolor-shamrock-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-shamrock-m20);
}
.nn-btn.nn-flat.nn-cod-grey {
  color: var(--nn-gcolor-cod-grey-invert);
  background-color: var(--nn-gcolor-cod-grey);
  box-shadow: 0px 3px 0 var(--nn-gcolor-cod-grey-m10);
}
.nn-btn.nn-flat.nn-cod-grey:hover {
  background-color: var(--nn-gcolor-cod-grey-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-cod-grey-m20);
}
.nn-btn.nn-flat.nn-cod-grey:active, .nn-btn.nn-flat.nn-cod-grey.nn-active {
  background-color: var(--nn-gcolor-cod-grey-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-cod-grey-m20);
}
.nn-btn.nn-flat.nn-gravel {
  color: var(--nn-gcolor-gravel-invert);
  background-color: var(--nn-gcolor-gravel);
  box-shadow: 0px 3px 0 var(--nn-gcolor-gravel-m10);
}
.nn-btn.nn-flat.nn-gravel:hover {
  background-color: var(--nn-gcolor-gravel-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-gravel-m20);
}
.nn-btn.nn-flat.nn-gravel:active, .nn-btn.nn-flat.nn-gravel.nn-active {
  background-color: var(--nn-gcolor-gravel-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-gravel-m20);
}
.nn-btn.nn-flat.nn-emerald {
  color: var(--nn-gcolor-emerald-invert);
  background-color: var(--nn-gcolor-emerald);
  box-shadow: 0px 3px 0 var(--nn-gcolor-emerald-m10);
}
.nn-btn.nn-flat.nn-emerald:hover {
  background-color: var(--nn-gcolor-emerald-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-emerald-m20);
}
.nn-btn.nn-flat.nn-emerald:active, .nn-btn.nn-flat.nn-emerald.nn-active {
  background-color: var(--nn-gcolor-emerald-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-emerald-m20);
}
.nn-btn.nn-flat.nn-burn-orange {
  color: var(--nn-gcolor-burn-orange-invert);
  background-color: var(--nn-gcolor-burn-orange);
  box-shadow: 0px 3px 0 var(--nn-gcolor-burn-orange-m10);
}
.nn-btn.nn-flat.nn-burn-orange:hover {
  background-color: var(--nn-gcolor-burn-orange-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-burn-orange-m20);
}
.nn-btn.nn-flat.nn-burn-orange:active, .nn-btn.nn-flat.nn-burn-orange.nn-active {
  background-color: var(--nn-gcolor-burn-orange-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-burn-orange-m20);
}
.nn-btn.nn-flat.nn-razzmatazz {
  color: var(--nn-gcolor-razzmatazz-invert);
  background-color: var(--nn-gcolor-razzmatazz);
  box-shadow: 0px 3px 0 var(--nn-gcolor-razzmatazz-m10);
}
.nn-btn.nn-flat.nn-razzmatazz:hover {
  background-color: var(--nn-gcolor-razzmatazz-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-razzmatazz-m20);
}
.nn-btn.nn-flat.nn-razzmatazz:active, .nn-btn.nn-flat.nn-razzmatazz.nn-active {
  background-color: var(--nn-gcolor-razzmatazz-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-razzmatazz-m20);
}
.nn-btn.nn-flat.nn-desert {
  color: var(--nn-gcolor-desert-invert);
  background-color: var(--nn-gcolor-desert);
  box-shadow: 0px 3px 0 var(--nn-gcolor-desert-m10);
}
.nn-btn.nn-flat.nn-desert:hover {
  background-color: var(--nn-gcolor-desert-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-desert-m20);
}
.nn-btn.nn-flat.nn-desert:active, .nn-btn.nn-flat.nn-desert.nn-active {
  background-color: var(--nn-gcolor-desert-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-desert-m20);
}
.nn-btn.nn-flat.nn-charcoal {
  color: var(--nn-gcolor-charcoal-invert);
  background-color: var(--nn-gcolor-charcoal);
  box-shadow: 0px 3px 0 var(--nn-gcolor-charcoal-m10);
}
.nn-btn.nn-flat.nn-charcoal:hover {
  background-color: var(--nn-gcolor-charcoal-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-charcoal-m20);
}
.nn-btn.nn-flat.nn-charcoal:active, .nn-btn.nn-flat.nn-charcoal.nn-active {
  background-color: var(--nn-gcolor-charcoal-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-charcoal-m20);
}
.nn-btn.nn-flat.nn-golden-brown {
  color: var(--nn-gcolor-golden-brown-invert);
  background-color: var(--nn-gcolor-golden-brown);
  box-shadow: 0px 3px 0 var(--nn-gcolor-golden-brown-m10);
}
.nn-btn.nn-flat.nn-golden-brown:hover {
  background-color: var(--nn-gcolor-golden-brown-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-golden-brown-m20);
}
.nn-btn.nn-flat.nn-golden-brown:active, .nn-btn.nn-flat.nn-golden-brown.nn-active {
  background-color: var(--nn-gcolor-golden-brown-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-golden-brown-m20);
}
.nn-btn.nn-flat.nn-sepia {
  color: var(--nn-gcolor-sepia-invert);
  background-color: var(--nn-gcolor-sepia);
  box-shadow: 0px 3px 0 var(--nn-gcolor-sepia-m10);
}
.nn-btn.nn-flat.nn-sepia:hover {
  background-color: var(--nn-gcolor-sepia-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-sepia-m20);
}
.nn-btn.nn-flat.nn-sepia:active, .nn-btn.nn-flat.nn-sepia.nn-active {
  background-color: var(--nn-gcolor-sepia-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-sepia-m20);
}
.nn-btn.nn-flat.nn-alizarin {
  color: var(--nn-gcolor-alizarin-invert);
  background-color: var(--nn-gcolor-alizarin);
  box-shadow: 0px 3px 0 var(--nn-gcolor-alizarin-m10);
}
.nn-btn.nn-flat.nn-alizarin:hover {
  background-color: var(--nn-gcolor-alizarin-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-alizarin-m20);
}
.nn-btn.nn-flat.nn-alizarin:active, .nn-btn.nn-flat.nn-alizarin.nn-active {
  background-color: var(--nn-gcolor-alizarin-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-alizarin-m20);
}
.nn-btn.nn-flat.nn-rust {
  color: var(--nn-gcolor-rust-invert);
  background-color: var(--nn-gcolor-rust);
  box-shadow: 0px 3px 0 var(--nn-gcolor-rust-m10);
}
.nn-btn.nn-flat.nn-rust:hover {
  background-color: var(--nn-gcolor-rust-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-rust-m20);
}
.nn-btn.nn-flat.nn-rust:active, .nn-btn.nn-flat.nn-rust.nn-active {
  background-color: var(--nn-gcolor-rust-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-rust-m20);
}
.nn-btn.nn-flat.nn-blush {
  color: var(--nn-gcolor-blush-invert);
  background-color: var(--nn-gcolor-blush);
  box-shadow: 0px 3px 0 var(--nn-gcolor-blush-m10);
}
.nn-btn.nn-flat.nn-blush:hover {
  background-color: var(--nn-gcolor-blush-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-blush-m20);
}
.nn-btn.nn-flat.nn-blush:active, .nn-btn.nn-flat.nn-blush.nn-active {
  background-color: var(--nn-gcolor-blush-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-blush-m20);
}
.nn-btn.nn-flat.nn-fire-brick {
  color: var(--nn-gcolor-fire-brick-invert);
  background-color: var(--nn-gcolor-fire-brick);
  box-shadow: 0px 3px 0 var(--nn-gcolor-fire-brick-m10);
}
.nn-btn.nn-flat.nn-fire-brick:hover {
  background-color: var(--nn-gcolor-fire-brick-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-fire-brick-m20);
}
.nn-btn.nn-flat.nn-fire-brick:active, .nn-btn.nn-flat.nn-fire-brick.nn-active {
  background-color: var(--nn-gcolor-fire-brick-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-fire-brick-m20);
}
.nn-btn.nn-flat.nn-sunglow {
  color: var(--nn-gcolor-sunglow-invert);
  background-color: var(--nn-gcolor-sunglow);
  box-shadow: 0px 3px 0 var(--nn-gcolor-sunglow-m10);
}
.nn-btn.nn-flat.nn-sunglow:hover {
  background-color: var(--nn-gcolor-sunglow-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-sunglow-m20);
}
.nn-btn.nn-flat.nn-sunglow:active, .nn-btn.nn-flat.nn-sunglow.nn-active {
  background-color: var(--nn-gcolor-sunglow-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-sunglow-m20);
}
.nn-btn.nn-flat.nn-milk-punch {
  color: var(--nn-gcolor-milk-punch-invert);
  background-color: var(--nn-gcolor-milk-punch);
  box-shadow: 0px 3px 0 var(--nn-gcolor-milk-punch-m10);
}
.nn-btn.nn-flat.nn-milk-punch:hover {
  background-color: var(--nn-gcolor-milk-punch-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-milk-punch-m20);
}
.nn-btn.nn-flat.nn-milk-punch:active, .nn-btn.nn-flat.nn-milk-punch.nn-active {
  background-color: var(--nn-gcolor-milk-punch-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-milk-punch-m20);
}
.nn-btn.nn-flat.nn-yukon-gold {
  color: var(--nn-gcolor-yukon-gold-invert);
  background-color: var(--nn-gcolor-yukon-gold);
  box-shadow: 0px 3px 0 var(--nn-gcolor-yukon-gold-m10);
}
.nn-btn.nn-flat.nn-yukon-gold:hover {
  background-color: var(--nn-gcolor-yukon-gold-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-yukon-gold-m20);
}
.nn-btn.nn-flat.nn-yukon-gold:active, .nn-btn.nn-flat.nn-yukon-gold.nn-active {
  background-color: var(--nn-gcolor-yukon-gold-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-yukon-gold-m20);
}
.nn-btn.nn-flat.nn-green-pea {
  color: var(--nn-gcolor-green-pea-invert);
  background-color: var(--nn-gcolor-green-pea);
  box-shadow: 0px 3px 0 var(--nn-gcolor-green-pea-m10);
}
.nn-btn.nn-flat.nn-green-pea:hover {
  background-color: var(--nn-gcolor-green-pea-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-green-pea-m20);
}
.nn-btn.nn-flat.nn-green-pea:active, .nn-btn.nn-flat.nn-green-pea.nn-active {
  background-color: var(--nn-gcolor-green-pea-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-green-pea-m20);
}
.nn-btn.nn-flat.nn-laurel {
  color: var(--nn-gcolor-laurel-invert);
  background-color: var(--nn-gcolor-laurel);
  box-shadow: 0px 3px 0 var(--nn-gcolor-laurel-m10);
}
.nn-btn.nn-flat.nn-laurel:hover {
  background-color: var(--nn-gcolor-laurel-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-laurel-m20);
}
.nn-btn.nn-flat.nn-laurel:active, .nn-btn.nn-flat.nn-laurel.nn-active {
  background-color: var(--nn-gcolor-laurel-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-laurel-m20);
}
.nn-btn.nn-flat.nn-elf-green {
  color: var(--nn-gcolor-elf-green-invert);
  background-color: var(--nn-gcolor-elf-green);
  box-shadow: 0px 3px 0 var(--nn-gcolor-elf-green-m10);
}
.nn-btn.nn-flat.nn-elf-green:hover {
  background-color: var(--nn-gcolor-elf-green-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-elf-green-m20);
}
.nn-btn.nn-flat.nn-elf-green:active, .nn-btn.nn-flat.nn-elf-green.nn-active {
  background-color: var(--nn-gcolor-elf-green-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-elf-green-m20);
}
.nn-btn.nn-flat.nn-lake {
  color: var(--nn-gcolor-lake-invert);
  background-color: var(--nn-gcolor-lake);
  box-shadow: 0px 3px 0 var(--nn-gcolor-lake-m10);
}
.nn-btn.nn-flat.nn-lake:hover {
  background-color: var(--nn-gcolor-lake-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-lake-m20);
}
.nn-btn.nn-flat.nn-lake:active, .nn-btn.nn-flat.nn-lake.nn-active {
  background-color: var(--nn-gcolor-lake-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-lake-m20);
}
.nn-btn.nn-flat.nn-cobalt-blue {
  color: var(--nn-gcolor-cobalt-blue-invert);
  background-color: var(--nn-gcolor-cobalt-blue);
  box-shadow: 0px 3px 0 var(--nn-gcolor-cobalt-blue-m10);
}
.nn-btn.nn-flat.nn-cobalt-blue:hover {
  background-color: var(--nn-gcolor-cobalt-blue-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-cobalt-blue-m20);
}
.nn-btn.nn-flat.nn-cobalt-blue:active, .nn-btn.nn-flat.nn-cobalt-blue.nn-active {
  background-color: var(--nn-gcolor-cobalt-blue-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-cobalt-blue-m20);
}
.nn-btn.nn-flat.nn-mariner {
  color: var(--nn-gcolor-mariner-invert);
  background-color: var(--nn-gcolor-mariner);
  box-shadow: 0px 3px 0 var(--nn-gcolor-mariner-m10);
}
.nn-btn.nn-flat.nn-mariner:hover {
  background-color: var(--nn-gcolor-mariner-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-mariner-m20);
}
.nn-btn.nn-flat.nn-mariner:active, .nn-btn.nn-flat.nn-mariner.nn-active {
  background-color: var(--nn-gcolor-mariner-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-mariner-m20);
}
.nn-btn.nn-flat.nn-fuchsia {
  color: var(--nn-gcolor-fuchsia-invert);
  background-color: var(--nn-gcolor-fuchsia);
  box-shadow: 0px 3px 0 var(--nn-gcolor-fuchsia-m10);
}
.nn-btn.nn-flat.nn-fuchsia:hover {
  background-color: var(--nn-gcolor-fuchsia-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-fuchsia-m20);
}
.nn-btn.nn-flat.nn-fuchsia:active, .nn-btn.nn-flat.nn-fuchsia.nn-active {
  background-color: var(--nn-gcolor-fuchsia-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-fuchsia-m20);
}
.nn-btn.nn-flat.nn-blue-violet {
  color: var(--nn-gcolor-blue-violet-invert);
  background-color: var(--nn-gcolor-blue-violet);
  box-shadow: 0px 3px 0 var(--nn-gcolor-blue-violet-m10);
}
.nn-btn.nn-flat.nn-blue-violet:hover {
  background-color: var(--nn-gcolor-blue-violet-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-blue-violet-m20);
}
.nn-btn.nn-flat.nn-blue-violet:active, .nn-btn.nn-flat.nn-blue-violet.nn-active {
  background-color: var(--nn-gcolor-blue-violet-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-blue-violet-m20);
}
.nn-btn.nn-flat.nn-purple-heart {
  color: var(--nn-gcolor-purple-heart-invert);
  background-color: var(--nn-gcolor-purple-heart);
  box-shadow: 0px 3px 0 var(--nn-gcolor-purple-heart-m10);
}
.nn-btn.nn-flat.nn-purple-heart:hover {
  background-color: var(--nn-gcolor-purple-heart-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-purple-heart-m20);
}
.nn-btn.nn-flat.nn-purple-heart:active, .nn-btn.nn-flat.nn-purple-heart.nn-active {
  background-color: var(--nn-gcolor-purple-heart-m10);
  box-shadow: 0px 3px 0 var(--nn-gcolor-purple-heart-m20);
}