.nn-btn.nn-flat.nn-white {
  color: hsl(0deg 0% 23%);
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 90%);
}
.nn-btn.nn-flat.nn-white:hover {
  background-color: hsl(0deg, 0%, 90%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 80%);
}
.nn-btn.nn-flat.nn-white:active, .nn-btn.nn-flat.nn-white.nn-active {
  background-color: hsl(0deg, 0%, 90%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 80%);
}
.nn-btn.nn-flat.nn-silver {
  color: hsl(0deg 0% 24%);
  background-color: hsl(0deg, 0%, 75%);
  box-shadow: 0px 3px 0 hsl(0deg 0% 50%);
}
.nn-btn.nn-flat.nn-silver:hover {
  background-color: hsl(0deg 0% 50%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 55%);
}
.nn-btn.nn-flat.nn-silver:active, .nn-btn.nn-flat.nn-silver.nn-active {
  background-color: hsl(0deg 0% 50%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 55%);
}
.nn-btn.nn-flat.nn-royal-purple {
  color: hsl(263deg, 41%, 100%);
  background-color: hsl(263deg, 41%, 44%);
  box-shadow: 0px 3px 0 hsl(263deg, 41%, 34%);
}
.nn-btn.nn-flat.nn-royal-purple:hover {
  background-color: hsl(263deg, 41%, 34%);
  box-shadow: 0px 3px 0 hsl(263deg, 41%, 24%);
}
.nn-btn.nn-flat.nn-royal-purple:active, .nn-btn.nn-flat.nn-royal-purple.nn-active {
  background-color: hsl(263deg, 41%, 34%);
  box-shadow: 0px 3px 0 hsl(263deg, 41%, 24%);
}
.nn-btn.nn-flat.nn-persian-red {
  color: hsl(0deg 0% 100%);
  background-color: hsl(0deg, 67%, 52%);
  box-shadow: 0px 3px 0 hsl(0deg, 67%, 42%);
}
.nn-btn.nn-flat.nn-persian-red:hover {
  background-color: hsl(0deg, 67%, 42%);
  box-shadow: 0px 3px 0 hsl(0deg, 67%, 32%);
}
.nn-btn.nn-flat.nn-persian-red:active, .nn-btn.nn-flat.nn-persian-red.nn-active {
  background-color: hsl(0deg, 67%, 42%);
  box-shadow: 0px 3px 0 hsl(0deg, 67%, 32%);
}
.nn-btn.nn-flat.nn-denim {
  color: hsl(209deg, 84%, 100%);
  background-color: hsl(209deg, 84%, 42%);
  box-shadow: 0px 3px 0 hsl(209deg, 84%, 32%);
}
.nn-btn.nn-flat.nn-denim:hover {
  background-color: hsl(209deg, 84%, 32%);
  box-shadow: 0px 3px 0 hsl(209deg, 84%, 22%);
}
.nn-btn.nn-flat.nn-denim:active, .nn-btn.nn-flat.nn-denim.nn-active {
  background-color: hsl(209deg, 84%, 32%);
  box-shadow: 0px 3px 0 hsl(209deg, 84%, 22%);
}
.nn-btn.nn-flat.nn-gold-tips {
  color: hsl(42deg 77% 15%);
  background-color: hsl(42deg, 78%, 55%);
  box-shadow: 0px 3px 0 hsl(42deg 81% 39%);
}
.nn-btn.nn-flat.nn-gold-tips:hover {
  background-color: hsl(42deg 81% 39%);
  box-shadow: 0px 3px 0 hsl(42deg, 78%, 35%);
}
.nn-btn.nn-flat.nn-gold-tips:active, .nn-btn.nn-flat.nn-gold-tips.nn-active {
  background-color: hsl(42deg 81% 39%);
  box-shadow: 0px 3px 0 hsl(42deg, 78%, 35%);
}
.nn-btn.nn-flat.nn-shamrock {
  color: hsl(149deg 73% 15%);
  background-color: hsl(149deg, 61%, 51%);
  box-shadow: 0px 3px 0 hsl(149deg, 61%, 41%);
}
.nn-btn.nn-flat.nn-shamrock:hover {
  background-color: hsl(149deg, 61%, 41%);
  box-shadow: 0px 3px 0 hsl(149deg, 61%, 31%);
}
.nn-btn.nn-flat.nn-shamrock:active, .nn-btn.nn-flat.nn-shamrock.nn-active {
  background-color: hsl(149deg, 61%, 41%);
  box-shadow: 0px 3px 0 hsl(149deg, 61%, 31%);
}
.nn-btn.nn-flat.nn-cod-grey {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 11%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 1%);
}
.nn-btn.nn-flat.nn-cod-grey:hover {
  background-color: hsl(0deg, 0%, 1%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 9%);
}
.nn-btn.nn-flat.nn-cod-grey:active, .nn-btn.nn-flat.nn-cod-grey.nn-active {
  background-color: hsl(0deg, 0%, 1%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 9%);
}
.nn-btn.nn-flat.nn-gravel {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 43%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 33%);
}
.nn-btn.nn-flat.nn-gravel:hover {
  background-color: hsl(0deg, 0%, 33%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 23%);
}
.nn-btn.nn-flat.nn-gravel:active, .nn-btn.nn-flat.nn-gravel.nn-active {
  background-color: hsl(0deg, 0%, 33%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 23%);
}
.nn-btn.nn-flat.nn-emerald {
  color: hsl(118deg 55% 13%);
  background-color: hsl(118deg, 56%, 58%);
  box-shadow: 0px 3px 0 hsl(118deg 47% 41%);
}
.nn-btn.nn-flat.nn-emerald:hover {
  background-color: hsl(118deg 47% 41%);
  box-shadow: 0px 3px 0 hsl(118deg, 56%, 38%);
}
.nn-btn.nn-flat.nn-emerald:active, .nn-btn.nn-flat.nn-emerald.nn-active {
  background-color: hsl(118deg 47% 41%);
  box-shadow: 0px 3px 0 hsl(118deg, 56%, 38%);
}
.nn-btn.nn-flat.nn-burn-orange {
  color: hsl(20deg 79% 17%);
  background-color: hsl(20deg, 94%, 58%);
  box-shadow: 0px 3px 0 hsl(20deg, 94%, 48%);
}
.nn-btn.nn-flat.nn-burn-orange:hover {
  background-color: hsl(20deg, 94%, 48%);
  box-shadow: 0px 3px 0 hsl(20deg, 94%, 38%);
}
.nn-btn.nn-flat.nn-burn-orange:active, .nn-btn.nn-flat.nn-burn-orange.nn-active {
  background-color: hsl(20deg, 94%, 48%);
  box-shadow: 0px 3px 0 hsl(20deg, 94%, 38%);
}
.nn-btn.nn-flat.nn-razzmatazz {
  color: hsl(342deg, 100%, 100%);
  background-color: hsl(342deg, 100%, 43%);
  box-shadow: 0px 3px 0 hsl(342deg, 100%, 33%);
}
.nn-btn.nn-flat.nn-razzmatazz:hover {
  background-color: hsl(342deg, 100%, 33%);
  box-shadow: 0px 3px 0 hsl(342deg, 100%, 23%);
}
.nn-btn.nn-flat.nn-razzmatazz:active, .nn-btn.nn-flat.nn-razzmatazz.nn-active {
  background-color: hsl(342deg, 100%, 33%);
  box-shadow: 0px 3px 0 hsl(342deg, 100%, 23%);
}
.nn-btn.nn-flat.nn-desert {
  color: hsl(22deg, 45%, 100%);
  background-color: hsl(22deg, 45%, 43%);
  box-shadow: 0px 3px 0 hsl(22deg, 45%, 33%);
}
.nn-btn.nn-flat.nn-desert:hover {
  background-color: hsl(22deg, 45%, 33%);
  box-shadow: 0px 3px 0 hsl(22deg, 45%, 23%);
}
.nn-btn.nn-flat.nn-desert:active, .nn-btn.nn-flat.nn-desert.nn-active {
  background-color: hsl(22deg, 45%, 33%);
  box-shadow: 0px 3px 0 hsl(22deg, 45%, 23%);
}
.nn-btn.nn-flat.nn-charcoal {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 27%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 17%);
}
.nn-btn.nn-flat.nn-charcoal:hover {
  background-color: hsl(0deg, 0%, 17%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 7%);
}
.nn-btn.nn-flat.nn-charcoal:active, .nn-btn.nn-flat.nn-charcoal.nn-active {
  background-color: hsl(0deg, 0%, 17%);
  box-shadow: 0px 3px 0 hsl(0deg, 0%, 7%);
}
.nn-btn.nn-flat.nn-golden-brown {
  color: hsl(37deg, 82%, 100%);
  background-color: hsl(37deg, 82%, 34%);
  box-shadow: 0px 3px 0 hsl(37deg, 82%, 24%);
}
.nn-btn.nn-flat.nn-golden-brown:hover {
  background-color: hsl(37deg, 82%, 24%);
  box-shadow: 0px 3px 0 hsl(37deg, 82%, 14%);
}
.nn-btn.nn-flat.nn-golden-brown:active, .nn-btn.nn-flat.nn-golden-brown.nn-active {
  background-color: hsl(37deg, 82%, 24%);
  box-shadow: 0px 3px 0 hsl(37deg, 82%, 14%);
}
.nn-btn.nn-flat.nn-sepia {
  color: hsl(37deg, 67%, 100%);
  background-color: hsl(37deg, 67%, 26%);
  box-shadow: 0px 3px 0 hsl(37deg, 67%, 16%);
}
.nn-btn.nn-flat.nn-sepia:hover {
  background-color: hsl(37deg, 67%, 16%);
  box-shadow: 0px 3px 0 hsl(37deg, 67%, 6%);
}
.nn-btn.nn-flat.nn-sepia:active, .nn-btn.nn-flat.nn-sepia.nn-active {
  background-color: hsl(37deg, 67%, 16%);
  box-shadow: 0px 3px 0 hsl(37deg, 67%, 6%);
}
.nn-btn.nn-flat.nn-alizarin {
  color: hsl(4deg, 85%, 100%);
  background-color: hsl(4deg, 85%, 49%);
  box-shadow: 0px 3px 0 hsl(4deg 83% 29%);
}
.nn-btn.nn-flat.nn-alizarin:hover {
  background-color: hsl(4deg 83% 29%);
  box-shadow: 0px 3px 0 hsl(4deg, 85%, 29%);
}
.nn-btn.nn-flat.nn-alizarin:active, .nn-btn.nn-flat.nn-alizarin.nn-active {
  background-color: hsl(4deg 83% 29%);
  box-shadow: 0px 3px 0 hsl(4deg, 85%, 29%);
}
.nn-btn.nn-flat.nn-rust {
  color: hsl(20deg, 84%, 100%);
  background-color: hsl(20deg, 84%, 43%);
  box-shadow: 0px 3px 0 hsl(20deg, 84%, 33%);
}
.nn-btn.nn-flat.nn-rust:hover {
  background-color: hsl(20deg, 84%, 33%);
  box-shadow: 0px 3px 0 hsl(20deg, 84%, 23%);
}
.nn-btn.nn-flat.nn-rust:active, .nn-btn.nn-flat.nn-rust.nn-active {
  background-color: hsl(20deg, 84%, 33%);
  box-shadow: 0px 3px 0 hsl(20deg, 84%, 23%);
}
.nn-btn.nn-flat.nn-blush {
  color: hsl(0deg 0% 100%);
  background-color: hsl(345deg, 48%, 52%);
  box-shadow: 0px 3px 0 hsl(345deg, 48%, 42%);
}
.nn-btn.nn-flat.nn-blush:hover {
  background-color: hsl(345deg, 48%, 42%);
  box-shadow: 0px 3px 0 hsl(345deg, 48%, 32%);
}
.nn-btn.nn-flat.nn-blush:active, .nn-btn.nn-flat.nn-blush.nn-active {
  background-color: hsl(345deg, 48%, 42%);
  box-shadow: 0px 3px 0 hsl(345deg, 48%, 32%);
}
.nn-btn.nn-flat.nn-fire-brick {
  color: hsl(349deg, 67%, 100%);
  background-color: hsl(349deg, 67%, 39%);
  box-shadow: 0px 3px 0 hsl(349deg, 67%, 29%);
}
.nn-btn.nn-flat.nn-fire-brick:hover {
  background-color: hsl(349deg, 67%, 29%);
  box-shadow: 0px 3px 0 hsl(349deg, 67%, 19%);
}
.nn-btn.nn-flat.nn-fire-brick:active, .nn-btn.nn-flat.nn-fire-brick.nn-active {
  background-color: hsl(349deg, 67%, 29%);
  box-shadow: 0px 3px 0 hsl(349deg, 67%, 19%);
}
.nn-btn.nn-flat.nn-sunglow {
  color: hsl(47deg 87% 16%);
  background-color: hsl(47deg, 100%, 57%);
  box-shadow: 0px 3px 0 hsl(47deg 90% 36%);
}
.nn-btn.nn-flat.nn-sunglow:hover {
  background-color: hsl(47deg 90% 36%);
  box-shadow: 0px 3px 0 hsl(47deg, 100%, 37%);
}
.nn-btn.nn-flat.nn-sunglow:active, .nn-btn.nn-flat.nn-sunglow.nn-active {
  background-color: hsl(47deg 90% 36%);
  box-shadow: 0px 3px 0 hsl(47deg, 100%, 37%);
}
.nn-btn.nn-flat.nn-milk-punch {
  color: hsl(44deg 53% 27%);
  background-color: hsl(44deg, 69%, 86%);
  box-shadow: 0px 3px 0 hsl(44deg 29% 60%);
}
.nn-btn.nn-flat.nn-milk-punch:hover {
  background-color: hsl(44deg 29% 60%);
  box-shadow: 0px 3px 0 hsl(44deg 42% 33%);
}
.nn-btn.nn-flat.nn-milk-punch:active, .nn-btn.nn-flat.nn-milk-punch.nn-active {
  background-color: hsl(44deg 29% 60%);
  box-shadow: 0px 3px 0 hsl(44deg 42% 33%);
}
.nn-btn.nn-flat.nn-yukon-gold {
  color: hsl(47deg, 66%, 100%);
  background-color: hsl(47deg, 66%, 33%);
  box-shadow: 0px 3px 0 hsl(47deg, 66%, 23%);
}
.nn-btn.nn-flat.nn-yukon-gold:hover {
  background-color: hsl(47deg, 66%, 23%);
  box-shadow: 0px 3px 0 hsl(47deg, 66%, 13%);
}
.nn-btn.nn-flat.nn-yukon-gold:active, .nn-btn.nn-flat.nn-yukon-gold.nn-active {
  background-color: hsl(47deg, 66%, 23%);
  box-shadow: 0px 3px 0 hsl(47deg, 66%, 13%);
}
.nn-btn.nn-flat.nn-green-pea {
  color: hsl(140deg, 56%, 100%);
  background-color: hsl(140deg, 56%, 29%);
  box-shadow: 0px 3px 0 hsl(140deg, 56%, 19%);
}
.nn-btn.nn-flat.nn-green-pea:hover {
  background-color: hsl(140deg, 56%, 19%);
  box-shadow: 0px 3px 0 hsl(140deg, 56%, 9%);
}
.nn-btn.nn-flat.nn-green-pea:active, .nn-btn.nn-flat.nn-green-pea.nn-active {
  background-color: hsl(140deg, 56%, 19%);
  box-shadow: 0px 3px 0 hsl(140deg, 56%, 9%);
}
.nn-btn.nn-flat.nn-laurel {
  color: hsl(124deg 48% 94%);
  background-color: hsl(124deg, 45%, 36%);
  box-shadow: 0px 3px 0 hsl(124deg, 45%, 26%);
}
.nn-btn.nn-flat.nn-laurel:hover {
  background-color: hsl(124deg, 45%, 26%);
  box-shadow: 0px 3px 0 hsl(124deg, 45%, 16%);
}
.nn-btn.nn-flat.nn-laurel:active, .nn-btn.nn-flat.nn-laurel.nn-active {
  background-color: hsl(124deg, 45%, 26%);
  box-shadow: 0px 3px 0 hsl(124deg, 45%, 16%);
}
.nn-btn.nn-flat.nn-elf-green {
  color: hsl(161deg, 69%, 100%);
  background-color: hsl(161deg, 69%, 31%);
  box-shadow: 0px 3px 0 hsl(161deg, 69%, 21%);
}
.nn-btn.nn-flat.nn-elf-green:hover {
  background-color: hsl(161deg, 69%, 21%);
  box-shadow: 0px 3px 0 hsl(161deg, 69%, 11%);
}
.nn-btn.nn-flat.nn-elf-green:active, .nn-btn.nn-flat.nn-elf-green.nn-active {
  background-color: hsl(161deg, 69%, 21%);
  box-shadow: 0px 3px 0 hsl(161deg, 69%, 11%);
}
.nn-btn.nn-flat.nn-lake {
  color: hsl(192deg, 60%, 100%);
  background-color: hsl(192deg, 60%, 36%);
  box-shadow: 0px 3px 0 hsl(192deg, 60%, 26%);
}
.nn-btn.nn-flat.nn-lake:hover {
  background-color: hsl(192deg, 60%, 26%);
  box-shadow: 0px 3px 0 hsl(192deg, 60%, 16%);
}
.nn-btn.nn-flat.nn-lake:active, .nn-btn.nn-flat.nn-lake.nn-active {
  background-color: hsl(192deg, 60%, 26%);
  box-shadow: 0px 3px 0 hsl(192deg, 60%, 16%);
}
.nn-btn.nn-flat.nn-cobalt-blue {
  color: hsl(215deg, 88%, 100%);
  background-color: hsl(215deg, 88%, 36%);
  box-shadow: 0px 3px 0 hsl(215deg, 88%, 26%);
}
.nn-btn.nn-flat.nn-cobalt-blue:hover {
  background-color: hsl(215deg, 88%, 26%);
  box-shadow: 0px 3px 0 hsl(215deg, 88%, 16%);
}
.nn-btn.nn-flat.nn-cobalt-blue:active, .nn-btn.nn-flat.nn-cobalt-blue.nn-active {
  background-color: hsl(215deg, 88%, 26%);
  box-shadow: 0px 3px 0 hsl(215deg, 88%, 16%);
}
.nn-btn.nn-flat.nn-mariner {
  color: hsl(215deg 92% 20%);
  background-color: hsl(215deg, 59%, 51%);
  box-shadow: 0px 3px 0 hsl(215deg, 59%, 41%);
}
.nn-btn.nn-flat.nn-mariner:hover {
  background-color: hsl(215deg, 59%, 41%);
  box-shadow: 0px 3px 0 hsl(215deg, 59%, 31%);
}
.nn-btn.nn-flat.nn-mariner:active, .nn-btn.nn-flat.nn-mariner.nn-active {
  background-color: hsl(215deg, 59%, 41%);
  box-shadow: 0px 3px 0 hsl(215deg, 59%, 31%);
}
.nn-btn.nn-flat.nn-fuchsia {
  color: hsl(302deg, 91%, 100%);
  background-color: hsl(302deg, 91%, 36%);
  box-shadow: 0px 3px 0 hsl(302deg, 91%, 26%);
}
.nn-btn.nn-flat.nn-fuchsia:hover {
  background-color: hsl(302deg, 91%, 26%);
  box-shadow: 0px 3px 0 hsl(302deg, 91%, 16%);
}
.nn-btn.nn-flat.nn-fuchsia:active, .nn-btn.nn-flat.nn-fuchsia.nn-active {
  background-color: hsl(302deg, 91%, 26%);
  box-shadow: 0px 3px 0 hsl(302deg, 91%, 16%);
}
.nn-btn.nn-flat.nn-blue-violet {
  color: hsl(269deg 58% 14%);
  background-color: hsl(269deg, 82%, 61%);
  box-shadow: 0px 3px 0 hsl(269deg, 82%, 51%);
}
.nn-btn.nn-flat.nn-blue-violet:hover {
  background-color: hsl(269deg, 82%, 51%);
  box-shadow: 0px 3px 0 hsl(269deg, 82%, 41%);
}
.nn-btn.nn-flat.nn-blue-violet:active, .nn-btn.nn-flat.nn-blue-violet.nn-active {
  background-color: hsl(269deg, 82%, 51%);
  box-shadow: 0px 3px 0 hsl(269deg, 82%, 41%);
}
.nn-btn.nn-flat.nn-purple-heart {
  color: hsl(276deg 24% 80%);
  background-color: hsl(276deg, 56%, 44%);
  box-shadow: 0px 3px 0 hsl(276deg, 56%, 34%);
}
.nn-btn.nn-flat.nn-purple-heart:hover {
  background-color: hsl(276deg, 56%, 34%);
  box-shadow: 0px 3px 0 hsl(276deg, 56%, 24%);
}
.nn-btn.nn-flat.nn-purple-heart:active, .nn-btn.nn-flat.nn-purple-heart.nn-active {
  background-color: hsl(276deg, 56%, 34%);
  box-shadow: 0px 3px 0 hsl(276deg, 56%, 24%);
}