.nn-btn.nn-ghost {
  color: hsla(0deg, 0%, 100%, 0.4);
}
.nn-btn.nn-ghost.nn-white {
  color: var(--nn-gcolor-white);
}
.nn-btn.nn-ghost.nn-white:active, .nn-btn.nn-ghost.nn-white.nn-active {
  color: var(--nn-gcolor-white-m20);
  background-color: var(--nn-gcolor-white);
}
.nn-btn.nn-ghost.nn-white:hover {
  color: var(--nn-gcolor-white-p10);
}
.nn-btn.nn-ghost.nn-silver {
  color: var(--nn-gcolor-silver);
}
.nn-btn.nn-ghost.nn-silver:active, .nn-btn.nn-ghost.nn-silver.nn-active {
  color: var(--nn-gcolor-silver-m20);
  background-color: var(--nn-gcolor-silver);
}
.nn-btn.nn-ghost.nn-silver:hover {
  color: var(--nn-gcolor-silver-p10);
}
.nn-btn.nn-ghost.nn-royal-purple {
  color: var(--nn-gcolor-royal-purple);
}
.nn-btn.nn-ghost.nn-royal-purple:active, .nn-btn.nn-ghost.nn-royal-purple.nn-active {
  color: var(--nn-gcolor-royal-purple-m20);
  background-color: var(--nn-gcolor-royal-purple);
}
.nn-btn.nn-ghost.nn-royal-purple:hover {
  color: var(--nn-gcolor-royal-purple-p10);
}
.nn-btn.nn-ghost.nn-persian-red {
  color: var(--nn-gcolor-persian-red);
}
.nn-btn.nn-ghost.nn-persian-red:active, .nn-btn.nn-ghost.nn-persian-red.nn-active {
  color: var(--nn-gcolor-persian-red-m20);
  background-color: var(--nn-gcolor-persian-red);
}
.nn-btn.nn-ghost.nn-persian-red:hover {
  color: var(--nn-gcolor-persian-red-p10);
}
.nn-btn.nn-ghost.nn-denim {
  color: var(--nn-gcolor-denim);
}
.nn-btn.nn-ghost.nn-denim:active, .nn-btn.nn-ghost.nn-denim.nn-active {
  color: var(--nn-gcolor-denim-m20);
  background-color: var(--nn-gcolor-denim);
}
.nn-btn.nn-ghost.nn-denim:hover {
  color: var(--nn-gcolor-denim-p10);
}
.nn-btn.nn-ghost.nn-gold-tips {
  color: var(--nn-gcolor-gold-tips);
}
.nn-btn.nn-ghost.nn-gold-tips:active, .nn-btn.nn-ghost.nn-gold-tips.nn-active {
  color: var(--nn-gcolor-gold-tips-m20);
  background-color: var(--nn-gcolor-gold-tips);
}
.nn-btn.nn-ghost.nn-gold-tips:hover {
  color: var(--nn-gcolor-gold-tips-p10);
}
.nn-btn.nn-ghost.nn-shamrock {
  color: var(--nn-gcolor-shamrock);
}
.nn-btn.nn-ghost.nn-shamrock:active, .nn-btn.nn-ghost.nn-shamrock.nn-active {
  color: var(--nn-gcolor-shamrock-m20);
  background-color: var(--nn-gcolor-shamrock);
}
.nn-btn.nn-ghost.nn-shamrock:hover {
  color: var(--nn-gcolor-shamrock-p10);
}
.nn-btn.nn-ghost.nn-cod-grey {
  color: var(--nn-gcolor-cod-grey);
}
.nn-btn.nn-ghost.nn-cod-grey:active, .nn-btn.nn-ghost.nn-cod-grey.nn-active {
  color: var(--nn-gcolor-cod-grey-m20);
  background-color: var(--nn-gcolor-cod-grey);
}
.nn-btn.nn-ghost.nn-cod-grey:hover {
  color: var(--nn-gcolor-cod-grey-p10);
}
.nn-btn.nn-ghost.nn-gravel {
  color: var(--nn-gcolor-gravel);
}
.nn-btn.nn-ghost.nn-gravel:active, .nn-btn.nn-ghost.nn-gravel.nn-active {
  color: var(--nn-gcolor-gravel-m20);
  background-color: var(--nn-gcolor-gravel);
}
.nn-btn.nn-ghost.nn-gravel:hover {
  color: var(--nn-gcolor-gravel-p10);
}
.nn-btn.nn-ghost.nn-emerald {
  color: var(--nn-gcolor-emerald);
}
.nn-btn.nn-ghost.nn-emerald:active, .nn-btn.nn-ghost.nn-emerald.nn-active {
  color: var(--nn-gcolor-emerald-m20);
  background-color: var(--nn-gcolor-emerald);
}
.nn-btn.nn-ghost.nn-emerald:hover {
  color: var(--nn-gcolor-emerald-p10);
}
.nn-btn.nn-ghost.nn-burn-orange {
  color: var(--nn-gcolor-burn-orange);
}
.nn-btn.nn-ghost.nn-burn-orange:active, .nn-btn.nn-ghost.nn-burn-orange.nn-active {
  color: var(--nn-gcolor-burn-orange-m20);
  background-color: var(--nn-gcolor-burn-orange);
}
.nn-btn.nn-ghost.nn-burn-orange:hover {
  color: var(--nn-gcolor-burn-orange-p10);
}
.nn-btn.nn-ghost.nn-razzmatazz {
  color: var(--nn-gcolor-razzmatazz);
}
.nn-btn.nn-ghost.nn-razzmatazz:active, .nn-btn.nn-ghost.nn-razzmatazz.nn-active {
  color: var(--nn-gcolor-razzmatazz-m20);
  background-color: var(--nn-gcolor-razzmatazz);
}
.nn-btn.nn-ghost.nn-razzmatazz:hover {
  color: var(--nn-gcolor-razzmatazz-p10);
}
.nn-btn.nn-ghost.nn-desert {
  color: var(--nn-gcolor-desert);
}
.nn-btn.nn-ghost.nn-desert:active, .nn-btn.nn-ghost.nn-desert.nn-active {
  color: var(--nn-gcolor-desert-m20);
  background-color: var(--nn-gcolor-desert);
}
.nn-btn.nn-ghost.nn-desert:hover {
  color: var(--nn-gcolor-desert-p10);
}
.nn-btn.nn-ghost.nn-charcoal {
  color: var(--nn-gcolor-charcoal);
}
.nn-btn.nn-ghost.nn-charcoal:active, .nn-btn.nn-ghost.nn-charcoal.nn-active {
  color: var(--nn-gcolor-charcoal-m20);
  background-color: var(--nn-gcolor-charcoal);
}
.nn-btn.nn-ghost.nn-charcoal:hover {
  color: var(--nn-gcolor-charcoal-p10);
}
.nn-btn.nn-ghost.nn-golden-brown {
  color: var(--nn-gcolor-golden-brown);
}
.nn-btn.nn-ghost.nn-golden-brown:active, .nn-btn.nn-ghost.nn-golden-brown.nn-active {
  color: var(--nn-gcolor-golden-brown-m20);
  background-color: var(--nn-gcolor-golden-brown);
}
.nn-btn.nn-ghost.nn-golden-brown:hover {
  color: var(--nn-gcolor-golden-brown-p10);
}
.nn-btn.nn-ghost.nn-sepia {
  color: var(--nn-gcolor-sepia);
}
.nn-btn.nn-ghost.nn-sepia:active, .nn-btn.nn-ghost.nn-sepia.nn-active {
  color: var(--nn-gcolor-sepia-m20);
  background-color: var(--nn-gcolor-sepia);
}
.nn-btn.nn-ghost.nn-sepia:hover {
  color: var(--nn-gcolor-sepia-p10);
}
.nn-btn.nn-ghost.nn-alizarin {
  color: var(--nn-gcolor-alizarin);
}
.nn-btn.nn-ghost.nn-alizarin:active, .nn-btn.nn-ghost.nn-alizarin.nn-active {
  color: var(--nn-gcolor-alizarin-m20);
  background-color: var(--nn-gcolor-alizarin);
}
.nn-btn.nn-ghost.nn-alizarin:hover {
  color: var(--nn-gcolor-alizarin-p10);
}
.nn-btn.nn-ghost.nn-rust {
  color: var(--nn-gcolor-rust);
}
.nn-btn.nn-ghost.nn-rust:active, .nn-btn.nn-ghost.nn-rust.nn-active {
  color: var(--nn-gcolor-rust-m20);
  background-color: var(--nn-gcolor-rust);
}
.nn-btn.nn-ghost.nn-rust:hover {
  color: var(--nn-gcolor-rust-p10);
}
.nn-btn.nn-ghost.nn-blush {
  color: var(--nn-gcolor-blush);
}
.nn-btn.nn-ghost.nn-blush:active, .nn-btn.nn-ghost.nn-blush.nn-active {
  color: var(--nn-gcolor-blush-m20);
  background-color: var(--nn-gcolor-blush);
}
.nn-btn.nn-ghost.nn-blush:hover {
  color: var(--nn-gcolor-blush-p10);
}
.nn-btn.nn-ghost.nn-fire-brick {
  color: var(--nn-gcolor-fire-brick);
}
.nn-btn.nn-ghost.nn-fire-brick:active, .nn-btn.nn-ghost.nn-fire-brick.nn-active {
  color: var(--nn-gcolor-fire-brick-m20);
  background-color: var(--nn-gcolor-fire-brick);
}
.nn-btn.nn-ghost.nn-fire-brick:hover {
  color: var(--nn-gcolor-fire-brick-p10);
}
.nn-btn.nn-ghost.nn-sunglow {
  color: var(--nn-gcolor-sunglow);
}
.nn-btn.nn-ghost.nn-sunglow:active, .nn-btn.nn-ghost.nn-sunglow.nn-active {
  color: var(--nn-gcolor-sunglow-m20);
  background-color: var(--nn-gcolor-sunglow);
}
.nn-btn.nn-ghost.nn-sunglow:hover {
  color: var(--nn-gcolor-sunglow-p10);
}
.nn-btn.nn-ghost.nn-milk-punch {
  color: var(--nn-gcolor-milk-punch);
}
.nn-btn.nn-ghost.nn-milk-punch:active, .nn-btn.nn-ghost.nn-milk-punch.nn-active {
  color: var(--nn-gcolor-milk-punch-m20);
  background-color: var(--nn-gcolor-milk-punch);
}
.nn-btn.nn-ghost.nn-milk-punch:hover {
  color: var(--nn-gcolor-milk-punch-p10);
}
.nn-btn.nn-ghost.nn-yukon-gold {
  color: var(--nn-gcolor-yukon-gold);
}
.nn-btn.nn-ghost.nn-yukon-gold:active, .nn-btn.nn-ghost.nn-yukon-gold.nn-active {
  color: var(--nn-gcolor-yukon-gold-m20);
  background-color: var(--nn-gcolor-yukon-gold);
}
.nn-btn.nn-ghost.nn-yukon-gold:hover {
  color: var(--nn-gcolor-yukon-gold-p10);
}
.nn-btn.nn-ghost.nn-green-pea {
  color: var(--nn-gcolor-green-pea);
}
.nn-btn.nn-ghost.nn-green-pea:active, .nn-btn.nn-ghost.nn-green-pea.nn-active {
  color: var(--nn-gcolor-green-pea-m20);
  background-color: var(--nn-gcolor-green-pea);
}
.nn-btn.nn-ghost.nn-green-pea:hover {
  color: var(--nn-gcolor-green-pea-p10);
}
.nn-btn.nn-ghost.nn-laurel {
  color: var(--nn-gcolor-laurel);
}
.nn-btn.nn-ghost.nn-laurel:active, .nn-btn.nn-ghost.nn-laurel.nn-active {
  color: var(--nn-gcolor-laurel-m20);
  background-color: var(--nn-gcolor-laurel);
}
.nn-btn.nn-ghost.nn-laurel:hover {
  color: var(--nn-gcolor-laurel-p10);
}
.nn-btn.nn-ghost.nn-elf-green {
  color: var(--nn-gcolor-elf-green);
}
.nn-btn.nn-ghost.nn-elf-green:active, .nn-btn.nn-ghost.nn-elf-green.nn-active {
  color: var(--nn-gcolor-elf-green-m20);
  background-color: var(--nn-gcolor-elf-green);
}
.nn-btn.nn-ghost.nn-elf-green:hover {
  color: var(--nn-gcolor-elf-green-p10);
}
.nn-btn.nn-ghost.nn-lake {
  color: var(--nn-gcolor-lake);
}
.nn-btn.nn-ghost.nn-lake:active, .nn-btn.nn-ghost.nn-lake.nn-active {
  color: var(--nn-gcolor-lake-m20);
  background-color: var(--nn-gcolor-lake);
}
.nn-btn.nn-ghost.nn-lake:hover {
  color: var(--nn-gcolor-lake-p10);
}
.nn-btn.nn-ghost.nn-cobalt-blue {
  color: var(--nn-gcolor-cobalt-blue);
}
.nn-btn.nn-ghost.nn-cobalt-blue:active, .nn-btn.nn-ghost.nn-cobalt-blue.nn-active {
  color: var(--nn-gcolor-cobalt-blue-m20);
  background-color: var(--nn-gcolor-cobalt-blue);
}
.nn-btn.nn-ghost.nn-cobalt-blue:hover {
  color: var(--nn-gcolor-cobalt-blue-p10);
}
.nn-btn.nn-ghost.nn-mariner {
  color: var(--nn-gcolor-mariner);
}
.nn-btn.nn-ghost.nn-mariner:active, .nn-btn.nn-ghost.nn-mariner.nn-active {
  color: var(--nn-gcolor-mariner-m20);
  background-color: var(--nn-gcolor-mariner);
}
.nn-btn.nn-ghost.nn-mariner:hover {
  color: var(--nn-gcolor-mariner-p10);
}
.nn-btn.nn-ghost.nn-fuchsia {
  color: var(--nn-gcolor-fuchsia);
}
.nn-btn.nn-ghost.nn-fuchsia:active, .nn-btn.nn-ghost.nn-fuchsia.nn-active {
  color: var(--nn-gcolor-fuchsia-m20);
  background-color: var(--nn-gcolor-fuchsia);
}
.nn-btn.nn-ghost.nn-fuchsia:hover {
  color: var(--nn-gcolor-fuchsia-p10);
}
.nn-btn.nn-ghost.nn-blue-violet {
  color: var(--nn-gcolor-blue-violet);
}
.nn-btn.nn-ghost.nn-blue-violet:active, .nn-btn.nn-ghost.nn-blue-violet.nn-active {
  color: var(--nn-gcolor-blue-violet-m20);
  background-color: var(--nn-gcolor-blue-violet);
}
.nn-btn.nn-ghost.nn-blue-violet:hover {
  color: var(--nn-gcolor-blue-violet-p10);
}
.nn-btn.nn-ghost.nn-purple-heart {
  color: var(--nn-gcolor-purple-heart);
}
.nn-btn.nn-ghost.nn-purple-heart:active, .nn-btn.nn-ghost.nn-purple-heart.nn-active {
  color: var(--nn-gcolor-purple-heart-m20);
  background-color: var(--nn-gcolor-purple-heart);
}
.nn-btn.nn-ghost.nn-purple-heart:hover {
  color: var(--nn-gcolor-purple-heart-p10);
}
.nn-btn.nn-ghost:hover {
  background-color: rgba(255, 255, 255, 0.1);
}