nn-container, .nn-container {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 100%;
}
nn-container.nn-sz400, .nn-container.nn-sz400 {
  max-width: 400px;
  flex-basis: 400px;
}
nn-container.nn-sz500, .nn-container.nn-sz500 {
  max-width: 500px;
  flex-basis: 500px;
}
nn-container.nn-sz600, .nn-container.nn-sz600 {
  max-width: 600px;
  flex-basis: 600px;
}
nn-container.nn-sz900, .nn-container.nn-sz900 {
  max-width: 900px;
  flex-basis: 900px;
}
nn-container.nn-sz1450, .nn-container.nn-sz1450 {
  max-width: 1450px;
  flex-basis: 1450px;
}