nn-crayon.nn-silver, .nn-crayon.nn-silver {
  color: #c0c0c0;
}
nn-crayon.nn-royal-purple, .nn-crayon.nn-royal-purple {
  color: #64429c;
}
nn-crayon.nn-persian-red, .nn-crayon.nn-persian-red {
  color: #d73333;
}
nn-crayon.nn-denim, .nn-crayon.nn-denim {
  color: #116ec4;
}
nn-crayon.nn-gold-tips, .nn-crayon.nn-gold-tips {
  color: #e6b031;
}
nn-crayon.nn-shamrock, .nn-crayon.nn-shamrock {
  color: #34ce7e;
}
nn-crayon.nn-cod-grey, .nn-crayon.nn-cod-grey {
  color: #1b1b1b;
}
nn-crayon.nn-gravel, .nn-crayon.nn-gravel {
  color: #6e6e6e;
}
nn-crayon.nn-emerald, .nn-crayon.nn-emerald {
  color: #5acf57;
}
nn-crayon.nn-burn-orange, .nn-crayon.nn-burn-orange {
  color: #f9722e;
}
nn-crayon.nn-razzmatazz, .nn-crayon.nn-razzmatazz {
  color: #da0040;
}
nn-crayon.nn-desert, .nn-crayon.nn-desert {
  color: #a0613d;
}
nn-crayon.nn-charcoal, .nn-crayon.nn-charcoal {
  color: #444444;
}
nn-crayon.nn-golden-brown, .nn-crayon.nn-golden-brown {
  color: #9e6710;
}
nn-crayon.nn-sepia, .nn-crayon.nn-sepia {
  color: #704d16;
}
nn-crayon.nn-alizarin, .nn-crayon.nn-alizarin {
  color: #e72113;
}
nn-crayon.nn-rust, .nn-crayon.nn-rust {
  color: #c84d11;
}
nn-crayon.nn-blush, .nn-crayon.nn-blush {
  color: #bf4a67;
}
nn-crayon.nn-fire-brick, .nn-crayon.nn-fire-brick {
  color: #a5213a;
}
nn-crayon.nn-sunglow, .nn-crayon.nn-sunglow {
  color: #ffcf25;
}
nn-crayon.nn-milk-punch, .nn-crayon.nn-milk-punch {
  color: #f4e7c4;
}
nn-crayon.nn-yukon-gold, .nn-crayon.nn-yukon-gold {
  color: #8c741d;
}
nn-crayon.nn-green-pea, .nn-crayon.nn-green-pea {
  color: #20723b;
}
nn-crayon.nn-laurel, .nn-crayon.nn-laurel {
  color: #328538;
}
nn-crayon.nn-elf-green, .nn-crayon.nn-elf-green {
  color: #198663;
}
nn-crayon.nn-lake, .nn-crayon.nn-lake {
  color: #257d93;
}
nn-crayon.nn-cobalt-blue, .nn-crayon.nn-cobalt-blue {
  color: #0b4eab;
}
nn-crayon.nn-mariner, .nn-crayon.nn-mariner {
  color: #3876cc;
}
nn-crayon.nn-fuchsia, .nn-crayon.nn-fuchsia {
  color: #af08aa;
}
nn-crayon.nn-blue-violet, .nn-crayon.nn-blue-violet {
  color: #994aed;
}
nn-crayon.nn-purple-heart, .nn-crayon.nn-purple-heart {
  color: #7d32b0;
}