nn-crayon.nn-white, .nn-crayon.nn-white {
  color: var(--nn-gcolor-white);
}
nn-crayon.nn-silver, .nn-crayon.nn-silver {
  color: var(--nn-gcolor-silver);
}
nn-crayon.nn-royal-purple, .nn-crayon.nn-royal-purple {
  color: var(--nn-gcolor-royal-purple);
}
nn-crayon.nn-persian-red, .nn-crayon.nn-persian-red {
  color: var(--nn-gcolor-persian-red);
}
nn-crayon.nn-denim, .nn-crayon.nn-denim {
  color: var(--nn-gcolor-denim);
}
nn-crayon.nn-gold-tips, .nn-crayon.nn-gold-tips {
  color: var(--nn-gcolor-gold-tips);
}
nn-crayon.nn-shamrock, .nn-crayon.nn-shamrock {
  color: var(--nn-gcolor-shamrock);
}
nn-crayon.nn-cod-grey, .nn-crayon.nn-cod-grey {
  color: var(--nn-gcolor-cod-grey);
}
nn-crayon.nn-gravel, .nn-crayon.nn-gravel {
  color: var(--nn-gcolor-gravel);
}
nn-crayon.nn-emerald, .nn-crayon.nn-emerald {
  color: var(--nn-gcolor-emerald);
}
nn-crayon.nn-burn-orange, .nn-crayon.nn-burn-orange {
  color: var(--nn-gcolor-burn-orange);
}
nn-crayon.nn-razzmatazz, .nn-crayon.nn-razzmatazz {
  color: var(--nn-gcolor-razzmatazz);
}
nn-crayon.nn-desert, .nn-crayon.nn-desert {
  color: var(--nn-gcolor-desert);
}
nn-crayon.nn-charcoal, .nn-crayon.nn-charcoal {
  color: var(--nn-gcolor-charcoal);
}
nn-crayon.nn-golden-brown, .nn-crayon.nn-golden-brown {
  color: var(--nn-gcolor-golden-brown);
}
nn-crayon.nn-sepia, .nn-crayon.nn-sepia {
  color: var(--nn-gcolor-sepia);
}
nn-crayon.nn-alizarin, .nn-crayon.nn-alizarin {
  color: var(--nn-gcolor-alizarin);
}
nn-crayon.nn-rust, .nn-crayon.nn-rust {
  color: var(--nn-gcolor-rust);
}
nn-crayon.nn-blush, .nn-crayon.nn-blush {
  color: var(--nn-gcolor-blush);
}
nn-crayon.nn-fire-brick, .nn-crayon.nn-fire-brick {
  color: var(--nn-gcolor-fire-brick);
}
nn-crayon.nn-sunglow, .nn-crayon.nn-sunglow {
  color: var(--nn-gcolor-sunglow);
}
nn-crayon.nn-milk-punch, .nn-crayon.nn-milk-punch {
  color: var(--nn-gcolor-milk-punch);
}
nn-crayon.nn-yukon-gold, .nn-crayon.nn-yukon-gold {
  color: var(--nn-gcolor-yukon-gold);
}
nn-crayon.nn-green-pea, .nn-crayon.nn-green-pea {
  color: var(--nn-gcolor-green-pea);
}
nn-crayon.nn-laurel, .nn-crayon.nn-laurel {
  color: var(--nn-gcolor-laurel);
}
nn-crayon.nn-elf-green, .nn-crayon.nn-elf-green {
  color: var(--nn-gcolor-elf-green);
}
nn-crayon.nn-lake, .nn-crayon.nn-lake {
  color: var(--nn-gcolor-lake);
}
nn-crayon.nn-cobalt-blue, .nn-crayon.nn-cobalt-blue {
  color: var(--nn-gcolor-cobalt-blue);
}
nn-crayon.nn-mariner, .nn-crayon.nn-mariner {
  color: var(--nn-gcolor-mariner);
}
nn-crayon.nn-fuchsia, .nn-crayon.nn-fuchsia {
  color: var(--nn-gcolor-fuchsia);
}
nn-crayon.nn-blue-violet, .nn-crayon.nn-blue-violet {
  color: var(--nn-gcolor-blue-violet);
}
nn-crayon.nn-purple-heart, .nn-crayon.nn-purple-heart {
  color: var(--nn-gcolor-purple-heart);
}