html {
  --nn-gcolor-white-invert: hsl(0deg 0% 23%);
  --nn-gcolor-silver-invert: hsl(0deg 0% 24%);
  --nn-gcolor-royal-purple-invert: hsl(263deg, 41%, 100%);
  --nn-gcolor-persian-red-invert: hsl(0deg 0% 100%);
  --nn-gcolor-denim-invert: hsl(209deg, 84%, 100%);
  --nn-gcolor-gold-tips-invert: hsl(42deg 77% 15%);
  --nn-gcolor-shamrock-invert: hsl(149deg 73% 15%);
  --nn-gcolor-cod-grey-invert: hsl(0deg, 0%, 100%);
  --nn-gcolor-gravel-invert: hsl(0deg, 0%, 100%);
  --nn-gcolor-emerald-invert: hsl(118deg 55% 13%);
  --nn-gcolor-burn-orange-invert: hsl(20deg 79% 17%);
  --nn-gcolor-razzmatazz-invert: hsl(342deg, 100%, 100%);
  --nn-gcolor-desert-invert: hsl(22deg, 45%, 100%);
  --nn-gcolor-charcoal-invert: hsl(0deg, 0%, 100%);
  --nn-gcolor-golden-brown-invert: hsl(37deg, 82%, 100%);
  --nn-gcolor-sepia-invert: hsl(37deg, 67%, 100%);
  --nn-gcolor-alizarin-invert: hsl(4deg, 85%, 100%);
  --nn-gcolor-rust-invert: hsl(20deg, 84%, 100%);
  --nn-gcolor-blush-invert: hsl(0deg 0% 100%);
  --nn-gcolor-fire-brick-invert: hsl(349deg, 67%, 100%);
  --nn-gcolor-sunglow-invert: hsl(47deg 87% 16%);
  --nn-gcolor-milk-punch-invert: hsl(44deg 53% 27%);
  --nn-gcolor-yukon-gold-invert: hsl(47deg, 66%, 100%);
  --nn-gcolor-green-pea-invert: hsl(140deg, 56%, 100%);
  --nn-gcolor-laurel-invert: hsl(124deg 48% 94%);
  --nn-gcolor-elf-green-invert: hsl(161deg, 69%, 100%);
  --nn-gcolor-lake-invert: hsl(192deg, 60%, 100%);
  --nn-gcolor-cobalt-blue-invert: hsl(215deg, 88%, 100%);
  --nn-gcolor-mariner-invert: hsl(215deg 92% 20%);
  --nn-gcolor-fuchsia-invert: hsl(302deg, 91%, 100%);
  --nn-gcolor-blue-violet-invert: hsl(269deg 58% 14%);
  --nn-gcolor-purple-heart-invert: hsl(276deg 24% 80%);
  --nn-gcolor-white-p20: hsl(0deg, 0%, 120%);
  --nn-gcolor-white-p10: hsl(0deg 0% 71%);
  --nn-gcolor-white: hsl(0deg, 0%, 100%);
  --nn-gcolor-white-m10: hsl(0deg, 0%, 90%);
  --nn-gcolor-white-m20: hsl(0deg, 0%, 80%);
  --nn-gcolor-silver-p20: hsl(0deg, 0%, 95%);
  --nn-gcolor-silver-p10: hsl(0deg, 0%, 85%);
  --nn-gcolor-silver: hsl(0deg, 0%, 75%);
  --nn-gcolor-silver-m10: hsl(0deg 0% 50%);
  --nn-gcolor-silver-m20: hsl(0deg, 0%, 55%);
  --nn-gcolor-royal-purple-p20: hsl(263deg, 41%, 64%);
  --nn-gcolor-royal-purple-p10: hsl(263deg, 41%, 54%);
  --nn-gcolor-royal-purple: hsl(263deg, 41%, 44%);
  --nn-gcolor-royal-purple-m10: hsl(263deg, 41%, 34%);
  --nn-gcolor-royal-purple-m20: hsl(263deg, 41%, 24%);
  --nn-gcolor-persian-red-p20: hsl(0deg, 67%, 72%);
  --nn-gcolor-persian-red-p10: hsl(0deg, 67%, 62%);
  --nn-gcolor-persian-red: hsl(0deg, 67%, 52%);
  --nn-gcolor-persian-red-m10: hsl(0deg, 67%, 42%);
  --nn-gcolor-persian-red-m20: hsl(0deg, 67%, 32%);
  --nn-gcolor-denim-p20: hsl(209deg, 84%, 62%);
  --nn-gcolor-denim-p10: hsl(209deg, 84%, 52%);
  --nn-gcolor-denim: hsl(209deg, 84%, 42%);
  --nn-gcolor-denim-m10: hsl(209deg, 84%, 32%);
  --nn-gcolor-denim-m20: hsl(209deg, 84%, 22%);
  --nn-gcolor-gold-tips-p20: hsl(42deg, 78%, 75%);
  --nn-gcolor-gold-tips-p10: hsl(42deg, 78%, 65%);
  --nn-gcolor-gold-tips: hsl(42deg, 78%, 55%);
  --nn-gcolor-gold-tips-m10: hsl(42deg 81% 39%);
  --nn-gcolor-gold-tips-m20: hsl(42deg, 78%, 35%);
  --nn-gcolor-shamrock-p20: hsl(149deg, 61%, 71%);
  --nn-gcolor-shamrock-p10: hsl(149deg, 61%, 61%);
  --nn-gcolor-shamrock: hsl(149deg, 61%, 51%);
  --nn-gcolor-shamrock-m10: hsl(149deg, 61%, 41%);
  --nn-gcolor-shamrock-m20: hsl(149deg, 61%, 31%);
  --nn-gcolor-cod-grey-p20: hsl(0deg, 0%, 31%);
  --nn-gcolor-cod-grey-p10: hsl(0deg, 0%, 21%);
  --nn-gcolor-cod-grey: hsl(0deg, 0%, 11%);
  --nn-gcolor-cod-grey-m10: hsl(0deg, 0%, 1%);
  --nn-gcolor-cod-grey-m20: hsl(0deg, 0%, 9%);
  --nn-gcolor-gravel-p20: hsl(0deg, 0%, 63%);
  --nn-gcolor-gravel-p10: hsl(0deg, 0%, 53%);
  --nn-gcolor-gravel: hsl(0deg, 0%, 43%);
  --nn-gcolor-gravel-m10: hsl(0deg, 0%, 33%);
  --nn-gcolor-gravel-m20: hsl(0deg, 0%, 23%);
  --nn-gcolor-emerald-p20: hsl(118deg, 56%, 78%);
  --nn-gcolor-emerald-p10: hsl(118deg, 56%, 68%);
  --nn-gcolor-emerald: hsl(118deg, 56%, 58%);
  --nn-gcolor-emerald-m10: hsl(118deg 47% 41%);
  --nn-gcolor-emerald-m20: hsl(118deg, 56%, 38%);
  --nn-gcolor-burn-orange-p20: hsl(20deg, 94%, 78%);
  --nn-gcolor-burn-orange-p10: hsl(20deg, 94%, 68%);
  --nn-gcolor-burn-orange: hsl(20deg, 94%, 58%);
  --nn-gcolor-burn-orange-m10: hsl(20deg, 94%, 48%);
  --nn-gcolor-burn-orange-m20: hsl(20deg, 94%, 38%);
  --nn-gcolor-razzmatazz-p20: hsl(342deg, 100%, 63%);
  --nn-gcolor-razzmatazz-p10: hsl(342deg, 100%, 53%);
  --nn-gcolor-razzmatazz: hsl(342deg, 100%, 43%);
  --nn-gcolor-razzmatazz-m10: hsl(342deg, 100%, 33%);
  --nn-gcolor-razzmatazz-m20: hsl(342deg, 100%, 23%);
  --nn-gcolor-desert-p20: hsl(22deg, 45%, 63%);
  --nn-gcolor-desert-p10: hsl(22deg, 45%, 53%);
  --nn-gcolor-desert: hsl(22deg, 45%, 43%);
  --nn-gcolor-desert-m10: hsl(22deg, 45%, 33%);
  --nn-gcolor-desert-m20: hsl(22deg, 45%, 23%);
  --nn-gcolor-charcoal-p20: hsl(0deg, 0%, 47%);
  --nn-gcolor-charcoal-p10: hsl(0deg, 0%, 37%);
  --nn-gcolor-charcoal: hsl(0deg, 0%, 27%);
  --nn-gcolor-charcoal-m10: hsl(0deg, 0%, 17%);
  --nn-gcolor-charcoal-m20: hsl(0deg, 0%, 7%);
  --nn-gcolor-golden-brown-p20: hsl(37deg, 82%, 54%);
  --nn-gcolor-golden-brown-p10: hsl(37deg, 82%, 44%);
  --nn-gcolor-golden-brown: hsl(37deg, 82%, 34%);
  --nn-gcolor-golden-brown-m10: hsl(37deg, 82%, 24%);
  --nn-gcolor-golden-brown-m20: hsl(37deg, 82%, 14%);
  --nn-gcolor-sepia-p20: hsl(37deg, 67%, 46%);
  --nn-gcolor-sepia-p10: hsl(37deg, 67%, 36%);
  --nn-gcolor-sepia: hsl(37deg, 67%, 26%);
  --nn-gcolor-sepia-m10: hsl(37deg, 67%, 16%);
  --nn-gcolor-sepia-m20: hsl(37deg, 67%, 6%);
  --nn-gcolor-alizarin-p20: hsl(4deg, 85%, 69%);
  --nn-gcolor-alizarin-p10: hsl(4deg, 85%, 59%);
  --nn-gcolor-alizarin: hsl(4deg, 85%, 49%);
  --nn-gcolor-alizarin-m10: hsl(4deg 83% 29%);
  --nn-gcolor-alizarin-m20: hsl(4deg, 85%, 29%);
  --nn-gcolor-rust-p20: hsl(20deg, 84%, 63%);
  --nn-gcolor-rust-p10: hsl(20deg, 84%, 53%);
  --nn-gcolor-rust: hsl(20deg, 84%, 43%);
  --nn-gcolor-rust-m10: hsl(20deg, 84%, 33%);
  --nn-gcolor-rust-m20: hsl(20deg, 84%, 23%);
  --nn-gcolor-blush-p20: hsl(345deg, 48%, 72%);
  --nn-gcolor-blush-p10: hsl(345deg, 48%, 62%);
  --nn-gcolor-blush: hsl(345deg, 48%, 52%);
  --nn-gcolor-blush-m10: hsl(345deg, 48%, 42%);
  --nn-gcolor-blush-m20: hsl(345deg, 48%, 32%);
  --nn-gcolor-fire-brick-p20: hsl(349deg, 67%, 59%);
  --nn-gcolor-fire-brick-p10: hsl(349deg, 67%, 49%);
  --nn-gcolor-fire-brick: hsl(349deg, 67%, 39%);
  --nn-gcolor-fire-brick-m10: hsl(349deg, 67%, 29%);
  --nn-gcolor-fire-brick-m20: hsl(349deg, 67%, 19%);
  --nn-gcolor-sunglow-p20: hsl(47deg, 100%, 77%);
  --nn-gcolor-sunglow-p10: hsl(47deg, 100%, 67%);
  --nn-gcolor-sunglow: hsl(47deg, 100%, 57%);
  --nn-gcolor-sunglow-m10: hsl(47deg 90% 36%);
  --nn-gcolor-sunglow-m20: hsl(47deg, 100%, 37%);
  --nn-gcolor-milk-punch-p20: hsl(44deg, 69%, 96%);
  --nn-gcolor-milk-punch-p10: hsl(44deg, 69%, 106%);
  --nn-gcolor-milk-punch: hsl(44deg, 69%, 86%);
  --nn-gcolor-milk-punch-m10: hsl(44deg 29% 60%);
  --nn-gcolor-milk-punch-m20: hsl(44deg 42% 33%);
  --nn-gcolor-yukon-gold-p20: hsl(47deg, 66%, 53%);
  --nn-gcolor-yukon-gold-p10: hsl(47deg, 66%, 43%);
  --nn-gcolor-yukon-gold: hsl(47deg, 66%, 33%);
  --nn-gcolor-yukon-gold-m10: hsl(47deg, 66%, 23%);
  --nn-gcolor-yukon-gold-m20: hsl(47deg, 66%, 13%);
  --nn-gcolor-green-pea-p20: hsl(140deg, 56%, 49%);
  --nn-gcolor-green-pea-p10: hsl(140deg, 56%, 39%);
  --nn-gcolor-green-pea: hsl(140deg, 56%, 29%);
  --nn-gcolor-green-pea-m10: hsl(140deg, 56%, 19%);
  --nn-gcolor-green-pea-m20: hsl(140deg, 56%, 9%);
  --nn-gcolor-laurel-p20: hsl(124deg, 45%, 56%);
  --nn-gcolor-laurel-p10: hsl(124deg, 45%, 46%);
  --nn-gcolor-laurel: hsl(124deg, 45%, 36%);
  --nn-gcolor-laurel-m10: hsl(124deg, 45%, 26%);
  --nn-gcolor-laurel-m20: hsl(124deg, 45%, 16%);
  --nn-gcolor-elf-green-p20: hsl(161deg, 69%, 51%);
  --nn-gcolor-elf-green-p10: hsl(161deg, 69%, 41%);
  --nn-gcolor-elf-green: hsl(161deg, 69%, 31%);
  --nn-gcolor-elf-green-m10: hsl(161deg, 69%, 21%);
  --nn-gcolor-elf-green-m20: hsl(161deg, 69%, 11%);
  --nn-gcolor-lake-p20: hsl(192deg, 60%, 56%);
  --nn-gcolor-lake-p10: hsl(192deg, 60%, 46%);
  --nn-gcolor-lake: hsl(192deg, 60%, 36%);
  --nn-gcolor-lake-m10: hsl(192deg, 60%, 26%);
  --nn-gcolor-lake-m20: hsl(192deg, 60%, 16%);
  --nn-gcolor-cobalt-blue-p20: hsl(215deg, 88%, 56%);
  --nn-gcolor-cobalt-blue-p10: hsl(215deg, 88%, 46%);
  --nn-gcolor-cobalt-blue: hsl(215deg, 88%, 36%);
  --nn-gcolor-cobalt-blue-m10: hsl(215deg, 88%, 26%);
  --nn-gcolor-cobalt-blue-m20: hsl(215deg, 88%, 16%);
  --nn-gcolor-mariner-p20: hsl(215deg, 59%, 71%);
  --nn-gcolor-mariner-p10: hsl(215deg, 59%, 61%);
  --nn-gcolor-mariner: hsl(215deg, 59%, 51%);
  --nn-gcolor-mariner-m10: hsl(215deg, 59%, 41%);
  --nn-gcolor-mariner-m20: hsl(215deg, 59%, 31%);
  --nn-gcolor-fuchsia-p20: hsl(302deg, 91%, 56%);
  --nn-gcolor-fuchsia-p10: hsl(302deg, 91%, 46%);
  --nn-gcolor-fuchsia: hsl(302deg, 91%, 36%);
  --nn-gcolor-fuchsia-m10: hsl(302deg, 91%, 26%);
  --nn-gcolor-fuchsia-m20: hsl(302deg, 91%, 16%);
  --nn-gcolor-blue-violet-p20: hsl(269deg, 82%, 81%);
  --nn-gcolor-blue-violet-p10: hsl(269deg, 82%, 71%);
  --nn-gcolor-blue-violet: hsl(269deg, 82%, 61%);
  --nn-gcolor-blue-violet-m10: hsl(269deg, 82%, 51%);
  --nn-gcolor-blue-violet-m20: hsl(269deg, 82%, 41%);
  --nn-gcolor-purple-heart-p20: hsl(276deg, 56%, 64%);
  --nn-gcolor-purple-heart-p10: hsl(276deg, 56%, 54%);
  --nn-gcolor-purple-heart: hsl(276deg, 56%, 44%);
  --nn-gcolor-purple-heart-m10: hsl(276deg, 56%, 34%);
  --nn-gcolor-purple-heart-m20: hsl(276deg, 56%, 24%);
}

.nn-light {
  --nn-color-foreground: hsl(240deg 11% 17%);
  --nn-input-color-background: hsl(0deg 0% 95%);
  --nn-input-color-background-hover: hsl(0deg 0% 90%);
  --nn-input-color-shadow: hsl(0deg 0% 80%);
  --nn-input-color-shadow-hover: hsl(0deg 0% 70%);
  --nn-track-color: hsl(0deg 0% 84%);
  --nn-thumb-color: hsl(0deg 0% 75%);
  --nn-shade-background: hsl(240deg 10% 83% / 27%);
  --nn-border-color: hsl(0deg 0% 89%);
}

.nn-dark {
  --nn-color-foreground: hsl(0deg 0% 95%);
  --nn-input-color-background: hsl(240deg 11% 17%);
  --nn-input-color-background-hover: hsl(240deg 11% 25%);
  --nn-input-color-shadow: hsl(240deg 11% 10%);
  --nn-input-color-shadow-hover: hsl(240deg 11% 20%);
  --nn-track-color: hsl(0deg 0% 14%);
  --nn-thumb-color: hsl(0deg 0% 43%);
  --nn-shade-background: hsl(240deg 12% 10% / 27%);
  --nn-border-color: hsl(0deg 0% 27%);
}