nn-icon {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nn-icon:before {
  display: inline-block;
}
nn-icon.left:before {
  transform: rotate(90deg);
}
nn-icon.up:before {
  transform: rotate(180deg);
}
nn-icon.right:before {
  transform: rotate(270deg);
}