nn-icon, .nn-icon {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nn-icon:before, .nn-icon:before {
  display: inline-block;
}
nn-icon.nn-left:before, .nn-icon.nn-left:before {
  transform: rotate(90deg);
}
nn-icon.nn-up:before, .nn-icon.nn-up:before {
  transform: rotate(180deg);
}
nn-icon.nn-right:before, .nn-icon.nn-right:before {
  transform: rotate(270deg);
}