.nn-light {
  --nn-color-foreground: hsl(240deg 11% 17%);
  --nn-input-color-background: hsl(0deg 0% 95%);
  --nn-input-color-background-hover: hsl(0deg 0% 90%);
  --nn-input-color-shadow: hsl(0deg 0% 80%);
  --nn-input-color-shadow-hover: hsl(0deg 0% 70%);
  --color-scroll-area-track-color: hsl(0deg 0% 84%);
}

.nn-dark {
  --nn-color-foreground: hsl(0deg 0% 95%);
  --nn-input-color-background: hsl(240deg 11% 17%);
  --nn-input-color-background-hover: hsl(240deg 11% 25%);
  --nn-input-color-shadow: hsl(240deg 11% 10%);
  --nn-input-color-shadow-hover: hsl(240deg 11% 20%);
  --color-scroll-area-track-color: hsl(0deg 0% 14%);
}

nn-row.nn-sp25, .nn-sp25.nn-row {
  margin-inline: -0.25rem;
}
nn-row.nn-sp25 > nn-column, .nn-sp25.nn-row > nn-column, nn-row.nn-sp25 > .nn-column, .nn-sp25.nn-row > .nn-column {
  padding-right: 0.25rem;
}
nn-row.nn-sp25 > nn-column:first-child, .nn-sp25.nn-row > nn-column:first-child, nn-row.nn-sp25 > .nn-column:first-child, .nn-sp25.nn-row > .nn-column:first-child {
  padding-left: 0.25rem;
}
nn-row.nn-sp50, .nn-sp50.nn-row {
  margin-inline: -0.5rem;
}
nn-row.nn-sp50 > nn-column, .nn-sp50.nn-row > nn-column, nn-row.nn-sp50 > .nn-column, .nn-sp50.nn-row > .nn-column {
  padding-right: 0.5rem;
}
nn-row.nn-sp50 > nn-column:first-child, .nn-sp50.nn-row > nn-column:first-child, nn-row.nn-sp50 > .nn-column:first-child, .nn-sp50.nn-row > .nn-column:first-child {
  padding-left: 0.5rem;
}
nn-row.nn-sp75, .nn-sp75.nn-row {
  margin-inline: -0.75rem;
}
nn-row.nn-sp75 > nn-column, .nn-sp75.nn-row > nn-column, nn-row.nn-sp75 > .nn-column, .nn-sp75.nn-row > .nn-column {
  padding-right: 0.75rem;
}
nn-row.nn-sp75 > nn-column:first-child, .nn-sp75.nn-row > nn-column:first-child, nn-row.nn-sp75 > .nn-column:first-child, .nn-sp75.nn-row > .nn-column:first-child {
  padding-left: 0.75rem;
}
nn-row.nn-sp100, .nn-sp100.nn-row {
  margin-inline: -1rem;
}
nn-row.nn-sp100 > nn-column, .nn-sp100.nn-row > nn-column, nn-row.nn-sp100 > .nn-column, .nn-sp100.nn-row > .nn-column {
  padding-right: 1rem;
}
nn-row.nn-sp100 > nn-column:first-child, .nn-sp100.nn-row > nn-column:first-child, nn-row.nn-sp100 > .nn-column:first-child, .nn-sp100.nn-row > .nn-column:first-child {
  padding-left: 1rem;
}
nn-row.nn-sp125, .nn-sp125.nn-row {
  margin-inline: -1.25rem;
}
nn-row.nn-sp125 > nn-column, .nn-sp125.nn-row > nn-column, nn-row.nn-sp125 > .nn-column, .nn-sp125.nn-row > .nn-column {
  padding-right: 1.25rem;
}
nn-row.nn-sp125 > nn-column:first-child, .nn-sp125.nn-row > nn-column:first-child, nn-row.nn-sp125 > .nn-column:first-child, .nn-sp125.nn-row > .nn-column:first-child {
  padding-left: 1.25rem;
}
nn-row.nn-sp150, .nn-sp150.nn-row {
  margin-inline: -1.5rem;
}
nn-row.nn-sp150 > nn-column, .nn-sp150.nn-row > nn-column, nn-row.nn-sp150 > .nn-column, .nn-sp150.nn-row > .nn-column {
  padding-right: 1.5rem;
}
nn-row.nn-sp150 > nn-column:first-child, .nn-sp150.nn-row > nn-column:first-child, nn-row.nn-sp150 > .nn-column:first-child, .nn-sp150.nn-row > .nn-column:first-child {
  padding-left: 1.5rem;
}
nn-row.nn-sp175, .nn-sp175.nn-row {
  margin-inline: -1.75rem;
}
nn-row.nn-sp175 > nn-column, .nn-sp175.nn-row > nn-column, nn-row.nn-sp175 > .nn-column, .nn-sp175.nn-row > .nn-column {
  padding-right: 1.75rem;
}
nn-row.nn-sp175 > nn-column:first-child, .nn-sp175.nn-row > nn-column:first-child, nn-row.nn-sp175 > .nn-column:first-child, .nn-sp175.nn-row > .nn-column:first-child {
  padding-left: 1.75rem;
}
nn-row.nn-sp200, .nn-sp200.nn-row {
  margin-inline: -2rem;
}
nn-row.nn-sp200 > nn-column, .nn-sp200.nn-row > nn-column, nn-row.nn-sp200 > .nn-column, .nn-sp200.nn-row > .nn-column {
  padding-right: 2rem;
}
nn-row.nn-sp200 > nn-column:first-child, .nn-sp200.nn-row > nn-column:first-child, nn-row.nn-sp200 > .nn-column:first-child, .nn-sp200.nn-row > .nn-column:first-child {
  padding-left: 2rem;
}
nn-row.nn-sp225, .nn-sp225.nn-row {
  margin-inline: -2.25rem;
}
nn-row.nn-sp225 > nn-column, .nn-sp225.nn-row > nn-column, nn-row.nn-sp225 > .nn-column, .nn-sp225.nn-row > .nn-column {
  padding-right: 2.25rem;
}
nn-row.nn-sp225 > nn-column:first-child, .nn-sp225.nn-row > nn-column:first-child, nn-row.nn-sp225 > .nn-column:first-child, .nn-sp225.nn-row > .nn-column:first-child {
  padding-left: 2.25rem;
}
nn-row.nn-sp250, .nn-sp250.nn-row {
  margin-inline: -2.5rem;
}
nn-row.nn-sp250 > nn-column, .nn-sp250.nn-row > nn-column, nn-row.nn-sp250 > .nn-column, .nn-sp250.nn-row > .nn-column {
  padding-right: 2.5rem;
}
nn-row.nn-sp250 > nn-column:first-child, .nn-sp250.nn-row > nn-column:first-child, nn-row.nn-sp250 > .nn-column:first-child, .nn-sp250.nn-row > .nn-column:first-child {
  padding-left: 2.5rem;
}
nn-row.nn-sp275, .nn-sp275.nn-row {
  margin-inline: -2.75rem;
}
nn-row.nn-sp275 > nn-column, .nn-sp275.nn-row > nn-column, nn-row.nn-sp275 > .nn-column, .nn-sp275.nn-row > .nn-column {
  padding-right: 2.75rem;
}
nn-row.nn-sp275 > nn-column:first-child, .nn-sp275.nn-row > nn-column:first-child, nn-row.nn-sp275 > .nn-column:first-child, .nn-sp275.nn-row > .nn-column:first-child {
  padding-left: 2.75rem;
}
nn-row.nn-sp300, .nn-sp300.nn-row {
  margin-inline: -3rem;
}
nn-row.nn-sp300 > nn-column, .nn-sp300.nn-row > nn-column, nn-row.nn-sp300 > .nn-column, .nn-sp300.nn-row > .nn-column {
  padding-right: 3rem;
}
nn-row.nn-sp300 > nn-column:first-child, .nn-sp300.nn-row > nn-column:first-child, nn-row.nn-sp300 > .nn-column:first-child, .nn-sp300.nn-row > .nn-column:first-child {
  padding-left: 3rem;
}
nn-row.nn-sp325, .nn-sp325.nn-row {
  margin-inline: -3.25rem;
}
nn-row.nn-sp325 > nn-column, .nn-sp325.nn-row > nn-column, nn-row.nn-sp325 > .nn-column, .nn-sp325.nn-row > .nn-column {
  padding-right: 3.25rem;
}
nn-row.nn-sp325 > nn-column:first-child, .nn-sp325.nn-row > nn-column:first-child, nn-row.nn-sp325 > .nn-column:first-child, .nn-sp325.nn-row > .nn-column:first-child {
  padding-left: 3.25rem;
}
nn-row.nn-sp350, .nn-sp350.nn-row {
  margin-inline: -3.5rem;
}
nn-row.nn-sp350 > nn-column, .nn-sp350.nn-row > nn-column, nn-row.nn-sp350 > .nn-column, .nn-sp350.nn-row > .nn-column {
  padding-right: 3.5rem;
}
nn-row.nn-sp350 > nn-column:first-child, .nn-sp350.nn-row > nn-column:first-child, nn-row.nn-sp350 > .nn-column:first-child, .nn-sp350.nn-row > .nn-column:first-child {
  padding-left: 3.5rem;
}
nn-row.nn-sp375, .nn-sp375.nn-row {
  margin-inline: -3.75rem;
}
nn-row.nn-sp375 > nn-column, .nn-sp375.nn-row > nn-column, nn-row.nn-sp375 > .nn-column, .nn-sp375.nn-row > .nn-column {
  padding-right: 3.75rem;
}
nn-row.nn-sp375 > nn-column:first-child, .nn-sp375.nn-row > nn-column:first-child, nn-row.nn-sp375 > .nn-column:first-child, .nn-sp375.nn-row > .nn-column:first-child {
  padding-left: 3.75rem;
}
nn-row.nn-sp400, .nn-sp400.nn-row {
  margin-inline: -4rem;
}
nn-row.nn-sp400 > nn-column, .nn-sp400.nn-row > nn-column, nn-row.nn-sp400 > .nn-column, .nn-sp400.nn-row > .nn-column {
  padding-right: 4rem;
}
nn-row.nn-sp400 > nn-column:first-child, .nn-sp400.nn-row > nn-column:first-child, nn-row.nn-sp400 > .nn-column:first-child, .nn-sp400.nn-row > .nn-column:first-child {
  padding-left: 4rem;
}

nn-row, .nn-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  align-items: flex-start;
}
@media only screen and (max-width: 576px) {
  nn-row.nn-break-sm, .nn-row.nn-break-sm {
    display: block;
    margin-inline: 0 !important;
  }
  nn-row.nn-break-sm > nn-column, nn-row.nn-break-sm > .nn-column, .nn-row.nn-break-sm > nn-column, .nn-row.nn-break-sm > .nn-column {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-inline: 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  nn-row.nn-break-md, .nn-row.nn-break-md {
    display: block;
    margin-inline: 0 !important;
  }
  nn-row.nn-break-md > nn-column, nn-row.nn-break-md > .nn-column, .nn-row.nn-break-md > nn-column, .nn-row.nn-break-md > .nn-column {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-inline: 0 !important;
  }
}
@media only screen and (max-width: 992px) {
  nn-row.nn-break-lg, .nn-row.nn-break-lg {
    display: block;
    margin-inline: 0 !important;
  }
  nn-row.nn-break-lg > nn-column, nn-row.nn-break-lg > .nn-column, .nn-row.nn-break-lg > nn-column, .nn-row.nn-break-lg > .nn-column {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-inline: 0 !important;
  }
}
@media only screen and (max-width: 1200px) {
  nn-row.nn-break-xl, .nn-row.nn-break-xl {
    display: block;
    margin-inline: 0 !important;
  }
  nn-row.nn-break-xl > nn-column, nn-row.nn-break-xl > .nn-column, .nn-row.nn-break-xl > nn-column, .nn-row.nn-break-xl > .nn-column {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-inline: 0 !important;
  }
}
@media only screen and (max-width: 1400px) {
  nn-row.nn-break-xxl, .nn-row.nn-break-xxl {
    display: block;
    margin-inline: 0 !important;
  }
  nn-row.nn-break-xxl > nn-column, nn-row.nn-break-xxl > .nn-column, .nn-row.nn-break-xxl > nn-column, .nn-row.nn-break-xxl > .nn-column {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-inline: 0 !important;
  }
}
nn-row.nn-vertical, .nn-row.nn-vertical {
  flex-flow: column;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  align-items: center;
}
nn-row.nn-vertical > nn-column, nn-row.nn-vertical > .nn-column, .nn-row.nn-vertical > nn-column, .nn-row.nn-vertical > .nn-column {
  width: unset;
}
nn-row.nn-grid, .nn-row.nn-grid {
  align-items: stretch;
  justify-content: center;
}
nn-row.nn-grid > nn-column, nn-row.nn-grid > .nn-column, .nn-row.nn-grid > nn-column, .nn-row.nn-grid > .nn-column {
  flex: 1 1 30%;
  padding: 5px;
}
nn-row.nn-grid > nn-column:only-child, nn-row.nn-grid > .nn-column:only-child, .nn-row.nn-grid > nn-column:only-child, .nn-row.nn-grid > .nn-column:only-child {
  flex-grow: 0;
}
nn-row.nn-group, .nn-row.nn-group {
  align-items: stretch;
}
nn-row.nn-group > nn-column > .nn-label, nn-row.nn-group > .nn-column > .nn-label, .nn-row.nn-group > nn-column > .nn-label, .nn-row.nn-group > .nn-column > .nn-label {
  align-items: center !important;
  display: flex !important;
  text-align: center;
  justify-content: center;
}
nn-row.nn-group > nn-column > .nn-range,
nn-row.nn-group > nn-column > .nn-input, nn-row.nn-group > .nn-column > .nn-range,
nn-row.nn-group > .nn-column > .nn-input, .nn-row.nn-group > nn-column > .nn-range,
.nn-row.nn-group > nn-column > .nn-input, .nn-row.nn-group > .nn-column > .nn-range,
.nn-row.nn-group > .nn-column > .nn-input {
  display: block;
}
nn-row.nn-group > nn-column > .nn-range,
nn-row.nn-group > nn-column > .nn-input,
nn-row.nn-group > nn-column > .nn-label, nn-row.nn-group > .nn-column > .nn-range,
nn-row.nn-group > .nn-column > .nn-input,
nn-row.nn-group > .nn-column > .nn-label, .nn-row.nn-group > nn-column > .nn-range,
.nn-row.nn-group > nn-column > .nn-input,
.nn-row.nn-group > nn-column > .nn-label, .nn-row.nn-group > .nn-column > .nn-range,
.nn-row.nn-group > .nn-column > .nn-input,
.nn-row.nn-group > .nn-column > .nn-label {
  background: var(--nn-input-color-background);
}
nn-row.nn-group > nn-column > .nn-range,
nn-row.nn-group > nn-column > .nn-input,
nn-row.nn-group > nn-column > .nn-label,
nn-row.nn-group > nn-column > .nn-btn, nn-row.nn-group > .nn-column > .nn-range,
nn-row.nn-group > .nn-column > .nn-input,
nn-row.nn-group > .nn-column > .nn-label,
nn-row.nn-group > .nn-column > .nn-btn, .nn-row.nn-group > nn-column > .nn-range,
.nn-row.nn-group > nn-column > .nn-input,
.nn-row.nn-group > nn-column > .nn-label,
.nn-row.nn-group > nn-column > .nn-btn, .nn-row.nn-group > .nn-column > .nn-range,
.nn-row.nn-group > .nn-column > .nn-input,
.nn-row.nn-group > .nn-column > .nn-label,
.nn-row.nn-group > .nn-column > .nn-btn {
  padding: 6px 15px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  width: 100%;
}
nn-row.nn-group > nn-column:first-child > .nn-btn,
nn-row.nn-group > nn-column:first-child > .nn-range,
nn-row.nn-group > nn-column:first-child > .nn-input,
nn-row.nn-group > nn-column:first-child > .nn-label, nn-row.nn-group > .nn-column:first-child > .nn-btn,
nn-row.nn-group > .nn-column:first-child > .nn-range,
nn-row.nn-group > .nn-column:first-child > .nn-input,
nn-row.nn-group > .nn-column:first-child > .nn-label, .nn-row.nn-group > nn-column:first-child > .nn-btn,
.nn-row.nn-group > nn-column:first-child > .nn-range,
.nn-row.nn-group > nn-column:first-child > .nn-input,
.nn-row.nn-group > nn-column:first-child > .nn-label, .nn-row.nn-group > .nn-column:first-child > .nn-btn,
.nn-row.nn-group > .nn-column:first-child > .nn-range,
.nn-row.nn-group > .nn-column:first-child > .nn-input,
.nn-row.nn-group > .nn-column:first-child > .nn-label {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}
nn-row.nn-group > nn-column:last-child > .nn-btn,
nn-row.nn-group > nn-column:last-child > .nn-range,
nn-row.nn-group > nn-column:last-child > .nn-input,
nn-row.nn-group > nn-column:last-child > .nn-label, nn-row.nn-group > .nn-column:last-child > .nn-btn,
nn-row.nn-group > .nn-column:last-child > .nn-range,
nn-row.nn-group > .nn-column:last-child > .nn-input,
nn-row.nn-group > .nn-column:last-child > .nn-label, .nn-row.nn-group > nn-column:last-child > .nn-btn,
.nn-row.nn-group > nn-column:last-child > .nn-range,
.nn-row.nn-group > nn-column:last-child > .nn-input,
.nn-row.nn-group > nn-column:last-child > .nn-label, .nn-row.nn-group > .nn-column:last-child > .nn-btn,
.nn-row.nn-group > .nn-column:last-child > .nn-range,
.nn-row.nn-group > .nn-column:last-child > .nn-input,
.nn-row.nn-group > .nn-column:last-child > .nn-label {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

nn-row > nn-column.nn-w-n1d20, nn-row > .nn-column.nn-w-n1d20, .nn-row > nn-column.nn-w-n1d20, .nn-row > .nn-column.nn-w-n1d20 {
  flex-basis: 5%;
  max-width: 5%;
}
nn-row > nn-column.nn-w-n1d19, nn-row > .nn-column.nn-w-n1d19, .nn-row > nn-column.nn-w-n1d19, .nn-row > .nn-column.nn-w-n1d19 {
  flex-basis: 5.2631578947%;
  max-width: 5.2631578947%;
}
nn-row > nn-column.nn-w-n1d18, nn-row > .nn-column.nn-w-n1d18, .nn-row > nn-column.nn-w-n1d18, .nn-row > .nn-column.nn-w-n1d18 {
  flex-basis: 5.5555555556%;
  max-width: 5.5555555556%;
}
nn-row > nn-column.nn-w-n1d17, nn-row > .nn-column.nn-w-n1d17, .nn-row > nn-column.nn-w-n1d17, .nn-row > .nn-column.nn-w-n1d17 {
  flex-basis: 5.8823529412%;
  max-width: 5.8823529412%;
}
nn-row > nn-column.nn-w-n1d16, nn-row > .nn-column.nn-w-n1d16, .nn-row > nn-column.nn-w-n1d16, .nn-row > .nn-column.nn-w-n1d16 {
  flex-basis: 6.25%;
  max-width: 6.25%;
}
nn-row > nn-column.nn-w-n1d15, nn-row > .nn-column.nn-w-n1d15, .nn-row > nn-column.nn-w-n1d15, .nn-row > .nn-column.nn-w-n1d15 {
  flex-basis: 6.6666666667%;
  max-width: 6.6666666667%;
}
nn-row > nn-column.nn-w-n1d14, nn-row > .nn-column.nn-w-n1d14, .nn-row > nn-column.nn-w-n1d14, .nn-row > .nn-column.nn-w-n1d14 {
  flex-basis: 7.1428571429%;
  max-width: 7.1428571429%;
}
nn-row > nn-column.nn-w-n1d13, nn-row > .nn-column.nn-w-n1d13, .nn-row > nn-column.nn-w-n1d13, .nn-row > .nn-column.nn-w-n1d13 {
  flex-basis: 7.6923076923%;
  max-width: 7.6923076923%;
}
nn-row > nn-column.nn-w-n1d12, nn-row > .nn-column.nn-w-n1d12, .nn-row > nn-column.nn-w-n1d12, .nn-row > .nn-column.nn-w-n1d12 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
nn-row > nn-column.nn-w-n1d11, nn-row > .nn-column.nn-w-n1d11, .nn-row > nn-column.nn-w-n1d11, .nn-row > .nn-column.nn-w-n1d11 {
  flex-basis: 9.0909090909%;
  max-width: 9.0909090909%;
}
nn-row > nn-column.nn-w-n1d10, nn-row > .nn-column.nn-w-n1d10, .nn-row > nn-column.nn-w-n1d10, .nn-row > .nn-column.nn-w-n1d10 {
  flex-basis: 10%;
  max-width: 10%;
}
nn-row > nn-column.nn-w-n1d9, nn-row > .nn-column.nn-w-n1d9, .nn-row > nn-column.nn-w-n1d9, .nn-row > .nn-column.nn-w-n1d9 {
  flex-basis: 11.1111111111%;
  max-width: 11.1111111111%;
}
nn-row > nn-column.nn-w-n1d8, nn-row > .nn-column.nn-w-n1d8, .nn-row > nn-column.nn-w-n1d8, .nn-row > .nn-column.nn-w-n1d8 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}
nn-row > nn-column.nn-w-n1d7, nn-row > .nn-column.nn-w-n1d7, .nn-row > nn-column.nn-w-n1d7, .nn-row > .nn-column.nn-w-n1d7 {
  flex-basis: 14.2857142857%;
  max-width: 14.2857142857%;
}
nn-row > nn-column.nn-w-n3d20, nn-row > .nn-column.nn-w-n3d20, .nn-row > nn-column.nn-w-n3d20, .nn-row > .nn-column.nn-w-n3d20 {
  flex-basis: 15%;
  max-width: 15%;
}
nn-row > nn-column.nn-w-n1d6, nn-row > .nn-column.nn-w-n1d6, .nn-row > nn-column.nn-w-n1d6, .nn-row > .nn-column.nn-w-n1d6 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
nn-row > nn-column.nn-w-n1d5, nn-row > .nn-column.nn-w-n1d5, .nn-row > nn-column.nn-w-n1d5, .nn-row > .nn-column.nn-w-n1d5 {
  flex-basis: 20%;
  max-width: 20%;
}
nn-row > nn-column.nn-w-n1d4, nn-row > .nn-column.nn-w-n1d4, .nn-row > nn-column.nn-w-n1d4, .nn-row > .nn-column.nn-w-n1d4 {
  flex-basis: 25%;
  max-width: 25%;
}
nn-row > nn-column.nn-w-n3d10, nn-row > .nn-column.nn-w-n3d10, .nn-row > nn-column.nn-w-n3d10, .nn-row > .nn-column.nn-w-n3d10 {
  flex-basis: 30%;
  max-width: 30%;
}
nn-row > nn-column.nn-w-n1d3, nn-row > .nn-column.nn-w-n1d3, .nn-row > nn-column.nn-w-n1d3, .nn-row > .nn-column.nn-w-n1d3 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
nn-row > nn-column.nn-w-n7d20, nn-row > .nn-column.nn-w-n7d20, .nn-row > nn-column.nn-w-n7d20, .nn-row > .nn-column.nn-w-n7d20 {
  flex-basis: 35%;
  max-width: 35%;
}
nn-row > nn-column.nn-w-n2d5, nn-row > .nn-column.nn-w-n2d5, .nn-row > nn-column.nn-w-n2d5, .nn-row > .nn-column.nn-w-n2d5 {
  flex-basis: 40%;
  max-width: 40%;
}
nn-row > nn-column.nn-w-n5d12, nn-row > .nn-column.nn-w-n5d12, .nn-row > nn-column.nn-w-n5d12, .nn-row > .nn-column.nn-w-n5d12 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
nn-row > nn-column.nn-w-n9d20, nn-row > .nn-column.nn-w-n9d20, .nn-row > nn-column.nn-w-n9d20, .nn-row > .nn-column.nn-w-n9d20 {
  flex-basis: 45%;
  max-width: 45%;
}
nn-row > nn-column.nn-w-n1d2, nn-row > .nn-column.nn-w-n1d2, .nn-row > nn-column.nn-w-n1d2, .nn-row > .nn-column.nn-w-n1d2 {
  flex-basis: 50%;
  max-width: 50%;
}
nn-row > nn-column.nn-w-n11d20, nn-row > .nn-column.nn-w-n11d20, .nn-row > nn-column.nn-w-n11d20, .nn-row > .nn-column.nn-w-n11d20 {
  flex-basis: 55%;
  max-width: 55%;
}
nn-row > nn-column.nn-w-n7d12, nn-row > .nn-column.nn-w-n7d12, .nn-row > nn-column.nn-w-n7d12, .nn-row > .nn-column.nn-w-n7d12 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
nn-row > nn-column.nn-w-n3d5, nn-row > .nn-column.nn-w-n3d5, .nn-row > nn-column.nn-w-n3d5, .nn-row > .nn-column.nn-w-n3d5 {
  flex-basis: 60%;
  max-width: 60%;
}
nn-row > nn-column.nn-w-n13d20, nn-row > .nn-column.nn-w-n13d20, .nn-row > nn-column.nn-w-n13d20, .nn-row > .nn-column.nn-w-n13d20 {
  flex-basis: 65%;
  max-width: 65%;
}
nn-row > nn-column.nn-w-n2d3, nn-row > .nn-column.nn-w-n2d3, .nn-row > nn-column.nn-w-n2d3, .nn-row > .nn-column.nn-w-n2d3 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
nn-row > nn-column.nn-w-n7d10, nn-row > .nn-column.nn-w-n7d10, .nn-row > nn-column.nn-w-n7d10, .nn-row > .nn-column.nn-w-n7d10 {
  flex-basis: 70%;
  max-width: 70%;
}
nn-row > nn-column.nn-w-n3d4, nn-row > .nn-column.nn-w-n3d4, .nn-row > nn-column.nn-w-n3d4, .nn-row > .nn-column.nn-w-n3d4 {
  flex-basis: 75%;
  max-width: 75%;
}
nn-row > nn-column.nn-w-n4d5, nn-row > .nn-column.nn-w-n4d5, .nn-row > nn-column.nn-w-n4d5, .nn-row > .nn-column.nn-w-n4d5 {
  flex-basis: 80%;
  max-width: 80%;
}
nn-row > nn-column.nn-w-n5d6, nn-row > .nn-column.nn-w-n5d6, .nn-row > nn-column.nn-w-n5d6, .nn-row > .nn-column.nn-w-n5d6 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
nn-row > nn-column.nn-w-n17d20, nn-row > .nn-column.nn-w-n17d20, .nn-row > nn-column.nn-w-n17d20, .nn-row > .nn-column.nn-w-n17d20 {
  flex-basis: 85%;
  max-width: 85%;
}
nn-row > nn-column.nn-w-n9d10, nn-row > .nn-column.nn-w-n9d10, .nn-row > nn-column.nn-w-n9d10, .nn-row > .nn-column.nn-w-n9d10 {
  flex-basis: 90%;
  max-width: 90%;
}
nn-row > nn-column.nn-w-n11d12, nn-row > .nn-column.nn-w-n11d12, .nn-row > nn-column.nn-w-n11d12, .nn-row > .nn-column.nn-w-n11d12 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
nn-row > nn-column.nn-w-n19d20, nn-row > .nn-column.nn-w-n19d20, .nn-row > nn-column.nn-w-n19d20, .nn-row > .nn-column.nn-w-n19d20 {
  flex-basis: 95%;
  max-width: 95%;
}
nn-row > nn-column.nn-w-n1d1, nn-row > .nn-column.nn-w-n1d1, .nn-row > nn-column.nn-w-n1d1, .nn-row > .nn-column.nn-w-n1d1 {
  flex-basis: 100%;
  max-width: 100%;
}