.nn-range {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background-color: var(--nn-input-color-background);
  box-shadow: 0px 3px 0 var(--nn-input-color-shadow);
  padding: 0.5rem;
  min-height: 35px;
  margin: 0 0 0.5rem;
}
.nn-range.nn-white::-webkit-slider-thumb {
  background: var(--nn-gcolor-white-m10);
}
.nn-range.nn-white::-moz-range-thumb {
  background: var(--nn-gcolor-white-m10);
}
.nn-range.nn-white::-ms-thumb {
  background: var(--nn-gcolor-white-m10);
}
.nn-range.nn-white::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-white::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-white::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-white::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-white:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-white);
}
.nn-range.nn-white:hover::-moz-range-track {
  background: var(--nn-gcolor-white);
}
.nn-range.nn-white:hover::-ms-fill-lower {
  background: var(--nn-gcolor-white);
}
.nn-range.nn-white:hover::-ms-fill-upper {
  background: var(--nn-gcolor-white);
}
.nn-range.nn-silver::-webkit-slider-thumb {
  background: var(--nn-gcolor-silver-m10);
}
.nn-range.nn-silver::-moz-range-thumb {
  background: var(--nn-gcolor-silver-m10);
}
.nn-range.nn-silver::-ms-thumb {
  background: var(--nn-gcolor-silver-m10);
}
.nn-range.nn-silver::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-silver::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-silver::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-silver::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-silver:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-silver);
}
.nn-range.nn-silver:hover::-moz-range-track {
  background: var(--nn-gcolor-silver);
}
.nn-range.nn-silver:hover::-ms-fill-lower {
  background: var(--nn-gcolor-silver);
}
.nn-range.nn-silver:hover::-ms-fill-upper {
  background: var(--nn-gcolor-silver);
}
.nn-range.nn-royal-purple::-webkit-slider-thumb {
  background: var(--nn-gcolor-royal-purple-m10);
}
.nn-range.nn-royal-purple::-moz-range-thumb {
  background: var(--nn-gcolor-royal-purple-m10);
}
.nn-range.nn-royal-purple::-ms-thumb {
  background: var(--nn-gcolor-royal-purple-m10);
}
.nn-range.nn-royal-purple::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-royal-purple::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-royal-purple::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-royal-purple::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-royal-purple:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-royal-purple);
}
.nn-range.nn-royal-purple:hover::-moz-range-track {
  background: var(--nn-gcolor-royal-purple);
}
.nn-range.nn-royal-purple:hover::-ms-fill-lower {
  background: var(--nn-gcolor-royal-purple);
}
.nn-range.nn-royal-purple:hover::-ms-fill-upper {
  background: var(--nn-gcolor-royal-purple);
}
.nn-range.nn-persian-red::-webkit-slider-thumb {
  background: var(--nn-gcolor-persian-red-m10);
}
.nn-range.nn-persian-red::-moz-range-thumb {
  background: var(--nn-gcolor-persian-red-m10);
}
.nn-range.nn-persian-red::-ms-thumb {
  background: var(--nn-gcolor-persian-red-m10);
}
.nn-range.nn-persian-red::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-persian-red::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-persian-red::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-persian-red::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-persian-red:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-persian-red);
}
.nn-range.nn-persian-red:hover::-moz-range-track {
  background: var(--nn-gcolor-persian-red);
}
.nn-range.nn-persian-red:hover::-ms-fill-lower {
  background: var(--nn-gcolor-persian-red);
}
.nn-range.nn-persian-red:hover::-ms-fill-upper {
  background: var(--nn-gcolor-persian-red);
}
.nn-range.nn-denim::-webkit-slider-thumb {
  background: var(--nn-gcolor-denim-m10);
}
.nn-range.nn-denim::-moz-range-thumb {
  background: var(--nn-gcolor-denim-m10);
}
.nn-range.nn-denim::-ms-thumb {
  background: var(--nn-gcolor-denim-m10);
}
.nn-range.nn-denim::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-denim::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-denim::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-denim::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-denim:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-denim);
}
.nn-range.nn-denim:hover::-moz-range-track {
  background: var(--nn-gcolor-denim);
}
.nn-range.nn-denim:hover::-ms-fill-lower {
  background: var(--nn-gcolor-denim);
}
.nn-range.nn-denim:hover::-ms-fill-upper {
  background: var(--nn-gcolor-denim);
}
.nn-range.nn-gold-tips::-webkit-slider-thumb {
  background: var(--nn-gcolor-gold-tips-m10);
}
.nn-range.nn-gold-tips::-moz-range-thumb {
  background: var(--nn-gcolor-gold-tips-m10);
}
.nn-range.nn-gold-tips::-ms-thumb {
  background: var(--nn-gcolor-gold-tips-m10);
}
.nn-range.nn-gold-tips::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-gold-tips::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-gold-tips::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-gold-tips::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-gold-tips:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-gold-tips);
}
.nn-range.nn-gold-tips:hover::-moz-range-track {
  background: var(--nn-gcolor-gold-tips);
}
.nn-range.nn-gold-tips:hover::-ms-fill-lower {
  background: var(--nn-gcolor-gold-tips);
}
.nn-range.nn-gold-tips:hover::-ms-fill-upper {
  background: var(--nn-gcolor-gold-tips);
}
.nn-range.nn-shamrock::-webkit-slider-thumb {
  background: var(--nn-gcolor-shamrock-m10);
}
.nn-range.nn-shamrock::-moz-range-thumb {
  background: var(--nn-gcolor-shamrock-m10);
}
.nn-range.nn-shamrock::-ms-thumb {
  background: var(--nn-gcolor-shamrock-m10);
}
.nn-range.nn-shamrock::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-shamrock::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-shamrock::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-shamrock::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-shamrock:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-shamrock);
}
.nn-range.nn-shamrock:hover::-moz-range-track {
  background: var(--nn-gcolor-shamrock);
}
.nn-range.nn-shamrock:hover::-ms-fill-lower {
  background: var(--nn-gcolor-shamrock);
}
.nn-range.nn-shamrock:hover::-ms-fill-upper {
  background: var(--nn-gcolor-shamrock);
}
.nn-range.nn-cod-grey::-webkit-slider-thumb {
  background: var(--nn-gcolor-cod-grey-m10);
}
.nn-range.nn-cod-grey::-moz-range-thumb {
  background: var(--nn-gcolor-cod-grey-m10);
}
.nn-range.nn-cod-grey::-ms-thumb {
  background: var(--nn-gcolor-cod-grey-m10);
}
.nn-range.nn-cod-grey::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-cod-grey::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-cod-grey::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-cod-grey::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-cod-grey:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-cod-grey);
}
.nn-range.nn-cod-grey:hover::-moz-range-track {
  background: var(--nn-gcolor-cod-grey);
}
.nn-range.nn-cod-grey:hover::-ms-fill-lower {
  background: var(--nn-gcolor-cod-grey);
}
.nn-range.nn-cod-grey:hover::-ms-fill-upper {
  background: var(--nn-gcolor-cod-grey);
}
.nn-range.nn-gravel::-webkit-slider-thumb {
  background: var(--nn-gcolor-gravel-m10);
}
.nn-range.nn-gravel::-moz-range-thumb {
  background: var(--nn-gcolor-gravel-m10);
}
.nn-range.nn-gravel::-ms-thumb {
  background: var(--nn-gcolor-gravel-m10);
}
.nn-range.nn-gravel::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-gravel::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-gravel::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-gravel::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-gravel:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-gravel);
}
.nn-range.nn-gravel:hover::-moz-range-track {
  background: var(--nn-gcolor-gravel);
}
.nn-range.nn-gravel:hover::-ms-fill-lower {
  background: var(--nn-gcolor-gravel);
}
.nn-range.nn-gravel:hover::-ms-fill-upper {
  background: var(--nn-gcolor-gravel);
}
.nn-range.nn-emerald::-webkit-slider-thumb {
  background: var(--nn-gcolor-emerald-m10);
}
.nn-range.nn-emerald::-moz-range-thumb {
  background: var(--nn-gcolor-emerald-m10);
}
.nn-range.nn-emerald::-ms-thumb {
  background: var(--nn-gcolor-emerald-m10);
}
.nn-range.nn-emerald::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-emerald::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-emerald::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-emerald::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-emerald:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-emerald);
}
.nn-range.nn-emerald:hover::-moz-range-track {
  background: var(--nn-gcolor-emerald);
}
.nn-range.nn-emerald:hover::-ms-fill-lower {
  background: var(--nn-gcolor-emerald);
}
.nn-range.nn-emerald:hover::-ms-fill-upper {
  background: var(--nn-gcolor-emerald);
}
.nn-range.nn-burn-orange::-webkit-slider-thumb {
  background: var(--nn-gcolor-burn-orange-m10);
}
.nn-range.nn-burn-orange::-moz-range-thumb {
  background: var(--nn-gcolor-burn-orange-m10);
}
.nn-range.nn-burn-orange::-ms-thumb {
  background: var(--nn-gcolor-burn-orange-m10);
}
.nn-range.nn-burn-orange::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-burn-orange::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-burn-orange::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-burn-orange::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-burn-orange:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-burn-orange);
}
.nn-range.nn-burn-orange:hover::-moz-range-track {
  background: var(--nn-gcolor-burn-orange);
}
.nn-range.nn-burn-orange:hover::-ms-fill-lower {
  background: var(--nn-gcolor-burn-orange);
}
.nn-range.nn-burn-orange:hover::-ms-fill-upper {
  background: var(--nn-gcolor-burn-orange);
}
.nn-range.nn-razzmatazz::-webkit-slider-thumb {
  background: var(--nn-gcolor-razzmatazz-m10);
}
.nn-range.nn-razzmatazz::-moz-range-thumb {
  background: var(--nn-gcolor-razzmatazz-m10);
}
.nn-range.nn-razzmatazz::-ms-thumb {
  background: var(--nn-gcolor-razzmatazz-m10);
}
.nn-range.nn-razzmatazz::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-razzmatazz::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-razzmatazz::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-razzmatazz::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-razzmatazz:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-razzmatazz);
}
.nn-range.nn-razzmatazz:hover::-moz-range-track {
  background: var(--nn-gcolor-razzmatazz);
}
.nn-range.nn-razzmatazz:hover::-ms-fill-lower {
  background: var(--nn-gcolor-razzmatazz);
}
.nn-range.nn-razzmatazz:hover::-ms-fill-upper {
  background: var(--nn-gcolor-razzmatazz);
}
.nn-range.nn-desert::-webkit-slider-thumb {
  background: var(--nn-gcolor-desert-m10);
}
.nn-range.nn-desert::-moz-range-thumb {
  background: var(--nn-gcolor-desert-m10);
}
.nn-range.nn-desert::-ms-thumb {
  background: var(--nn-gcolor-desert-m10);
}
.nn-range.nn-desert::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-desert::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-desert::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-desert::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-desert:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-desert);
}
.nn-range.nn-desert:hover::-moz-range-track {
  background: var(--nn-gcolor-desert);
}
.nn-range.nn-desert:hover::-ms-fill-lower {
  background: var(--nn-gcolor-desert);
}
.nn-range.nn-desert:hover::-ms-fill-upper {
  background: var(--nn-gcolor-desert);
}
.nn-range.nn-charcoal::-webkit-slider-thumb {
  background: var(--nn-gcolor-charcoal-m10);
}
.nn-range.nn-charcoal::-moz-range-thumb {
  background: var(--nn-gcolor-charcoal-m10);
}
.nn-range.nn-charcoal::-ms-thumb {
  background: var(--nn-gcolor-charcoal-m10);
}
.nn-range.nn-charcoal::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-charcoal::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-charcoal::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-charcoal::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-charcoal:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-charcoal);
}
.nn-range.nn-charcoal:hover::-moz-range-track {
  background: var(--nn-gcolor-charcoal);
}
.nn-range.nn-charcoal:hover::-ms-fill-lower {
  background: var(--nn-gcolor-charcoal);
}
.nn-range.nn-charcoal:hover::-ms-fill-upper {
  background: var(--nn-gcolor-charcoal);
}
.nn-range.nn-golden-brown::-webkit-slider-thumb {
  background: var(--nn-gcolor-golden-brown-m10);
}
.nn-range.nn-golden-brown::-moz-range-thumb {
  background: var(--nn-gcolor-golden-brown-m10);
}
.nn-range.nn-golden-brown::-ms-thumb {
  background: var(--nn-gcolor-golden-brown-m10);
}
.nn-range.nn-golden-brown::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-golden-brown::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-golden-brown::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-golden-brown::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-golden-brown:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-golden-brown);
}
.nn-range.nn-golden-brown:hover::-moz-range-track {
  background: var(--nn-gcolor-golden-brown);
}
.nn-range.nn-golden-brown:hover::-ms-fill-lower {
  background: var(--nn-gcolor-golden-brown);
}
.nn-range.nn-golden-brown:hover::-ms-fill-upper {
  background: var(--nn-gcolor-golden-brown);
}
.nn-range.nn-sepia::-webkit-slider-thumb {
  background: var(--nn-gcolor-sepia-m10);
}
.nn-range.nn-sepia::-moz-range-thumb {
  background: var(--nn-gcolor-sepia-m10);
}
.nn-range.nn-sepia::-ms-thumb {
  background: var(--nn-gcolor-sepia-m10);
}
.nn-range.nn-sepia::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-sepia::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-sepia::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-sepia::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-sepia:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-sepia);
}
.nn-range.nn-sepia:hover::-moz-range-track {
  background: var(--nn-gcolor-sepia);
}
.nn-range.nn-sepia:hover::-ms-fill-lower {
  background: var(--nn-gcolor-sepia);
}
.nn-range.nn-sepia:hover::-ms-fill-upper {
  background: var(--nn-gcolor-sepia);
}
.nn-range.nn-alizarin::-webkit-slider-thumb {
  background: var(--nn-gcolor-alizarin-m10);
}
.nn-range.nn-alizarin::-moz-range-thumb {
  background: var(--nn-gcolor-alizarin-m10);
}
.nn-range.nn-alizarin::-ms-thumb {
  background: var(--nn-gcolor-alizarin-m10);
}
.nn-range.nn-alizarin::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-alizarin::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-alizarin::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-alizarin::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-alizarin:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-alizarin);
}
.nn-range.nn-alizarin:hover::-moz-range-track {
  background: var(--nn-gcolor-alizarin);
}
.nn-range.nn-alizarin:hover::-ms-fill-lower {
  background: var(--nn-gcolor-alizarin);
}
.nn-range.nn-alizarin:hover::-ms-fill-upper {
  background: var(--nn-gcolor-alizarin);
}
.nn-range.nn-rust::-webkit-slider-thumb {
  background: var(--nn-gcolor-rust-m10);
}
.nn-range.nn-rust::-moz-range-thumb {
  background: var(--nn-gcolor-rust-m10);
}
.nn-range.nn-rust::-ms-thumb {
  background: var(--nn-gcolor-rust-m10);
}
.nn-range.nn-rust::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-rust::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-rust::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-rust::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-rust:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-rust);
}
.nn-range.nn-rust:hover::-moz-range-track {
  background: var(--nn-gcolor-rust);
}
.nn-range.nn-rust:hover::-ms-fill-lower {
  background: var(--nn-gcolor-rust);
}
.nn-range.nn-rust:hover::-ms-fill-upper {
  background: var(--nn-gcolor-rust);
}
.nn-range.nn-blush::-webkit-slider-thumb {
  background: var(--nn-gcolor-blush-m10);
}
.nn-range.nn-blush::-moz-range-thumb {
  background: var(--nn-gcolor-blush-m10);
}
.nn-range.nn-blush::-ms-thumb {
  background: var(--nn-gcolor-blush-m10);
}
.nn-range.nn-blush::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-blush::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-blush::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-blush::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-blush:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-blush);
}
.nn-range.nn-blush:hover::-moz-range-track {
  background: var(--nn-gcolor-blush);
}
.nn-range.nn-blush:hover::-ms-fill-lower {
  background: var(--nn-gcolor-blush);
}
.nn-range.nn-blush:hover::-ms-fill-upper {
  background: var(--nn-gcolor-blush);
}
.nn-range.nn-fire-brick::-webkit-slider-thumb {
  background: var(--nn-gcolor-fire-brick-m10);
}
.nn-range.nn-fire-brick::-moz-range-thumb {
  background: var(--nn-gcolor-fire-brick-m10);
}
.nn-range.nn-fire-brick::-ms-thumb {
  background: var(--nn-gcolor-fire-brick-m10);
}
.nn-range.nn-fire-brick::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-fire-brick::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-fire-brick::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-fire-brick::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-fire-brick:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-fire-brick);
}
.nn-range.nn-fire-brick:hover::-moz-range-track {
  background: var(--nn-gcolor-fire-brick);
}
.nn-range.nn-fire-brick:hover::-ms-fill-lower {
  background: var(--nn-gcolor-fire-brick);
}
.nn-range.nn-fire-brick:hover::-ms-fill-upper {
  background: var(--nn-gcolor-fire-brick);
}
.nn-range.nn-sunglow::-webkit-slider-thumb {
  background: var(--nn-gcolor-sunglow-m10);
}
.nn-range.nn-sunglow::-moz-range-thumb {
  background: var(--nn-gcolor-sunglow-m10);
}
.nn-range.nn-sunglow::-ms-thumb {
  background: var(--nn-gcolor-sunglow-m10);
}
.nn-range.nn-sunglow::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-sunglow::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-sunglow::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-sunglow::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-sunglow:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-sunglow);
}
.nn-range.nn-sunglow:hover::-moz-range-track {
  background: var(--nn-gcolor-sunglow);
}
.nn-range.nn-sunglow:hover::-ms-fill-lower {
  background: var(--nn-gcolor-sunglow);
}
.nn-range.nn-sunglow:hover::-ms-fill-upper {
  background: var(--nn-gcolor-sunglow);
}
.nn-range.nn-milk-punch::-webkit-slider-thumb {
  background: var(--nn-gcolor-milk-punch-m10);
}
.nn-range.nn-milk-punch::-moz-range-thumb {
  background: var(--nn-gcolor-milk-punch-m10);
}
.nn-range.nn-milk-punch::-ms-thumb {
  background: var(--nn-gcolor-milk-punch-m10);
}
.nn-range.nn-milk-punch::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-milk-punch::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-milk-punch::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-milk-punch::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-milk-punch:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-milk-punch);
}
.nn-range.nn-milk-punch:hover::-moz-range-track {
  background: var(--nn-gcolor-milk-punch);
}
.nn-range.nn-milk-punch:hover::-ms-fill-lower {
  background: var(--nn-gcolor-milk-punch);
}
.nn-range.nn-milk-punch:hover::-ms-fill-upper {
  background: var(--nn-gcolor-milk-punch);
}
.nn-range.nn-yukon-gold::-webkit-slider-thumb {
  background: var(--nn-gcolor-yukon-gold-m10);
}
.nn-range.nn-yukon-gold::-moz-range-thumb {
  background: var(--nn-gcolor-yukon-gold-m10);
}
.nn-range.nn-yukon-gold::-ms-thumb {
  background: var(--nn-gcolor-yukon-gold-m10);
}
.nn-range.nn-yukon-gold::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-yukon-gold::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-yukon-gold::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-yukon-gold::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-yukon-gold:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-yukon-gold);
}
.nn-range.nn-yukon-gold:hover::-moz-range-track {
  background: var(--nn-gcolor-yukon-gold);
}
.nn-range.nn-yukon-gold:hover::-ms-fill-lower {
  background: var(--nn-gcolor-yukon-gold);
}
.nn-range.nn-yukon-gold:hover::-ms-fill-upper {
  background: var(--nn-gcolor-yukon-gold);
}
.nn-range.nn-green-pea::-webkit-slider-thumb {
  background: var(--nn-gcolor-green-pea-m10);
}
.nn-range.nn-green-pea::-moz-range-thumb {
  background: var(--nn-gcolor-green-pea-m10);
}
.nn-range.nn-green-pea::-ms-thumb {
  background: var(--nn-gcolor-green-pea-m10);
}
.nn-range.nn-green-pea::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-green-pea::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-green-pea::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-green-pea::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-green-pea:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-green-pea);
}
.nn-range.nn-green-pea:hover::-moz-range-track {
  background: var(--nn-gcolor-green-pea);
}
.nn-range.nn-green-pea:hover::-ms-fill-lower {
  background: var(--nn-gcolor-green-pea);
}
.nn-range.nn-green-pea:hover::-ms-fill-upper {
  background: var(--nn-gcolor-green-pea);
}
.nn-range.nn-laurel::-webkit-slider-thumb {
  background: var(--nn-gcolor-laurel-m10);
}
.nn-range.nn-laurel::-moz-range-thumb {
  background: var(--nn-gcolor-laurel-m10);
}
.nn-range.nn-laurel::-ms-thumb {
  background: var(--nn-gcolor-laurel-m10);
}
.nn-range.nn-laurel::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-laurel::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-laurel::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-laurel::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-laurel:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-laurel);
}
.nn-range.nn-laurel:hover::-moz-range-track {
  background: var(--nn-gcolor-laurel);
}
.nn-range.nn-laurel:hover::-ms-fill-lower {
  background: var(--nn-gcolor-laurel);
}
.nn-range.nn-laurel:hover::-ms-fill-upper {
  background: var(--nn-gcolor-laurel);
}
.nn-range.nn-elf-green::-webkit-slider-thumb {
  background: var(--nn-gcolor-elf-green-m10);
}
.nn-range.nn-elf-green::-moz-range-thumb {
  background: var(--nn-gcolor-elf-green-m10);
}
.nn-range.nn-elf-green::-ms-thumb {
  background: var(--nn-gcolor-elf-green-m10);
}
.nn-range.nn-elf-green::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-elf-green::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-elf-green::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-elf-green::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-elf-green:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-elf-green);
}
.nn-range.nn-elf-green:hover::-moz-range-track {
  background: var(--nn-gcolor-elf-green);
}
.nn-range.nn-elf-green:hover::-ms-fill-lower {
  background: var(--nn-gcolor-elf-green);
}
.nn-range.nn-elf-green:hover::-ms-fill-upper {
  background: var(--nn-gcolor-elf-green);
}
.nn-range.nn-lake::-webkit-slider-thumb {
  background: var(--nn-gcolor-lake-m10);
}
.nn-range.nn-lake::-moz-range-thumb {
  background: var(--nn-gcolor-lake-m10);
}
.nn-range.nn-lake::-ms-thumb {
  background: var(--nn-gcolor-lake-m10);
}
.nn-range.nn-lake::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-lake::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-lake::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-lake::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-lake:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-lake);
}
.nn-range.nn-lake:hover::-moz-range-track {
  background: var(--nn-gcolor-lake);
}
.nn-range.nn-lake:hover::-ms-fill-lower {
  background: var(--nn-gcolor-lake);
}
.nn-range.nn-lake:hover::-ms-fill-upper {
  background: var(--nn-gcolor-lake);
}
.nn-range.nn-cobalt-blue::-webkit-slider-thumb {
  background: var(--nn-gcolor-cobalt-blue-m10);
}
.nn-range.nn-cobalt-blue::-moz-range-thumb {
  background: var(--nn-gcolor-cobalt-blue-m10);
}
.nn-range.nn-cobalt-blue::-ms-thumb {
  background: var(--nn-gcolor-cobalt-blue-m10);
}
.nn-range.nn-cobalt-blue::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-cobalt-blue::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-cobalt-blue::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-cobalt-blue::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-cobalt-blue:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-cobalt-blue);
}
.nn-range.nn-cobalt-blue:hover::-moz-range-track {
  background: var(--nn-gcolor-cobalt-blue);
}
.nn-range.nn-cobalt-blue:hover::-ms-fill-lower {
  background: var(--nn-gcolor-cobalt-blue);
}
.nn-range.nn-cobalt-blue:hover::-ms-fill-upper {
  background: var(--nn-gcolor-cobalt-blue);
}
.nn-range.nn-mariner::-webkit-slider-thumb {
  background: var(--nn-gcolor-mariner-m10);
}
.nn-range.nn-mariner::-moz-range-thumb {
  background: var(--nn-gcolor-mariner-m10);
}
.nn-range.nn-mariner::-ms-thumb {
  background: var(--nn-gcolor-mariner-m10);
}
.nn-range.nn-mariner::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-mariner::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-mariner::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-mariner::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-mariner:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-mariner);
}
.nn-range.nn-mariner:hover::-moz-range-track {
  background: var(--nn-gcolor-mariner);
}
.nn-range.nn-mariner:hover::-ms-fill-lower {
  background: var(--nn-gcolor-mariner);
}
.nn-range.nn-mariner:hover::-ms-fill-upper {
  background: var(--nn-gcolor-mariner);
}
.nn-range.nn-fuchsia::-webkit-slider-thumb {
  background: var(--nn-gcolor-fuchsia-m10);
}
.nn-range.nn-fuchsia::-moz-range-thumb {
  background: var(--nn-gcolor-fuchsia-m10);
}
.nn-range.nn-fuchsia::-ms-thumb {
  background: var(--nn-gcolor-fuchsia-m10);
}
.nn-range.nn-fuchsia::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-fuchsia::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-fuchsia::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-fuchsia::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-fuchsia:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-fuchsia);
}
.nn-range.nn-fuchsia:hover::-moz-range-track {
  background: var(--nn-gcolor-fuchsia);
}
.nn-range.nn-fuchsia:hover::-ms-fill-lower {
  background: var(--nn-gcolor-fuchsia);
}
.nn-range.nn-fuchsia:hover::-ms-fill-upper {
  background: var(--nn-gcolor-fuchsia);
}
.nn-range.nn-blue-violet::-webkit-slider-thumb {
  background: var(--nn-gcolor-blue-violet-m10);
}
.nn-range.nn-blue-violet::-moz-range-thumb {
  background: var(--nn-gcolor-blue-violet-m10);
}
.nn-range.nn-blue-violet::-ms-thumb {
  background: var(--nn-gcolor-blue-violet-m10);
}
.nn-range.nn-blue-violet::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-blue-violet::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-blue-violet::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-blue-violet::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-blue-violet:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-blue-violet);
}
.nn-range.nn-blue-violet:hover::-moz-range-track {
  background: var(--nn-gcolor-blue-violet);
}
.nn-range.nn-blue-violet:hover::-ms-fill-lower {
  background: var(--nn-gcolor-blue-violet);
}
.nn-range.nn-blue-violet:hover::-ms-fill-upper {
  background: var(--nn-gcolor-blue-violet);
}
.nn-range.nn-purple-heart::-webkit-slider-thumb {
  background: var(--nn-gcolor-purple-heart-m10);
}
.nn-range.nn-purple-heart::-moz-range-thumb {
  background: var(--nn-gcolor-purple-heart-m10);
}
.nn-range.nn-purple-heart::-ms-thumb {
  background: var(--nn-gcolor-purple-heart-m10);
}
.nn-range.nn-purple-heart::-webkit-slider-runnable-track {
  background: var(--nn-track-color);
}
.nn-range.nn-purple-heart::-moz-range-track {
  background: var(--nn-track-color);
}
.nn-range.nn-purple-heart::-ms-fill-lower {
  background: var(--nn-track-color);
}
.nn-range.nn-purple-heart::-ms-fill-upper {
  background: var(--nn-track-color);
}
.nn-range.nn-purple-heart:hover::-webkit-slider-runnable-track {
  background: var(--nn-gcolor-purple-heart);
}
.nn-range.nn-purple-heart:hover::-moz-range-track {
  background: var(--nn-gcolor-purple-heart);
}
.nn-range.nn-purple-heart:hover::-ms-fill-lower {
  background: var(--nn-gcolor-purple-heart);
}
.nn-range.nn-purple-heart:hover::-ms-fill-upper {
  background: var(--nn-gcolor-purple-heart);
}
.nn-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 10px;
  border: 0px solid #000101;
}
.nn-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
.nn-range::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 10px;
  border: 0px solid #000101;
}
.nn-range::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.nn-range::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
.nn-range::-ms-fill-lower {
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.nn-range::-ms-fill-upper {
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.nn-range::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.nn-range:focus {
  outline: none;
}
.nn-range:hover {
  box-shadow: 0px 3px 0 var(--nn-input-color-shadow-hover);
}