nn-scroll-area, .nn-scroll-area {
  overflow: auto;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  max-height: 100%;
  width: 100%;
  display: block;
  scrollbar-width: thin;
  scrollbar-color: var(--nn-thumb-color) var(--nn-track-color);
  scrollbar-base-color: var(--nn-track-color);
  scrollbar-highlight-color: var(--nn-track-color);
  scrollbar-track-color: var(--nn-track-color);
  scrollbar-face-color: var(--nn-thumb-color);
  scrollbar-arrow-color: var(--nn-thumb-color);
  scrollbar-shadow-color: var(--nn-thumb-color);
}
nn-scroll-area.nn-no-horizontal, .nn-scroll-area.nn-no-horizontal {
  overflow-x: hidden;
}
nn-scroll-area.nn-no-vertical, .nn-scroll-area.nn-no-vertical {
  overflow-y: hidden;
}
nn-scroll-area::-webkit-scrollbar-thumb, .nn-scroll-area::-webkit-scrollbar-thumb {
  background: var(--nn-thumb-color);
  border-radius: 25px;
}
nn-scroll-area::-webkit-scrollbar-track, .nn-scroll-area::-webkit-scrollbar-track {
  background: var(--nn-track-color);
  border-radius: 25px;
}
nn-scroll-area::-webkit-scrollbar, .nn-scroll-area::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
nn-scroll-area:hover, nn-scroll-area.keep, .nn-scroll-area:hover, .nn-scroll-area.keep {
  scrollbar-face-color: #c0c0c0;
  scrollbar-arrow-color: #c0c0c0;
  scrollbar-shadow-color: #c0c0c0;
}
nn-scroll-area:hover::-webkit-scrollbar-thumb, nn-scroll-area.keep::-webkit-scrollbar-thumb, .nn-scroll-area:hover::-webkit-scrollbar-thumb, .nn-scroll-area.keep::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}
nn-scroll-area.nn-silver:hover, nn-scroll-area.nn-silver.keep, .nn-scroll-area.nn-silver:hover, .nn-scroll-area.nn-silver.keep {
  scrollbar-face-color: #c0c0c0;
  scrollbar-arrow-color: #c0c0c0;
  scrollbar-shadow-color: #c0c0c0;
}
nn-scroll-area.nn-silver:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-silver.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-silver:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-silver.keep::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}
nn-scroll-area.nn-royal-purple:hover, nn-scroll-area.nn-royal-purple.keep, .nn-scroll-area.nn-royal-purple:hover, .nn-scroll-area.nn-royal-purple.keep {
  scrollbar-face-color: #64429c;
  scrollbar-arrow-color: #64429c;
  scrollbar-shadow-color: #64429c;
}
nn-scroll-area.nn-royal-purple:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-royal-purple.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-royal-purple:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-royal-purple.keep::-webkit-scrollbar-thumb {
  background: #64429c;
}
nn-scroll-area.nn-persian-red:hover, nn-scroll-area.nn-persian-red.keep, .nn-scroll-area.nn-persian-red:hover, .nn-scroll-area.nn-persian-red.keep {
  scrollbar-face-color: #d73333;
  scrollbar-arrow-color: #d73333;
  scrollbar-shadow-color: #d73333;
}
nn-scroll-area.nn-persian-red:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-persian-red.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-persian-red:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-persian-red.keep::-webkit-scrollbar-thumb {
  background: #d73333;
}
nn-scroll-area.nn-denim:hover, nn-scroll-area.nn-denim.keep, .nn-scroll-area.nn-denim:hover, .nn-scroll-area.nn-denim.keep {
  scrollbar-face-color: #116ec4;
  scrollbar-arrow-color: #116ec4;
  scrollbar-shadow-color: #116ec4;
}
nn-scroll-area.nn-denim:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-denim.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-denim:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-denim.keep::-webkit-scrollbar-thumb {
  background: #116ec4;
}
nn-scroll-area.nn-gold-tips:hover, nn-scroll-area.nn-gold-tips.keep, .nn-scroll-area.nn-gold-tips:hover, .nn-scroll-area.nn-gold-tips.keep {
  scrollbar-face-color: #e6b031;
  scrollbar-arrow-color: #e6b031;
  scrollbar-shadow-color: #e6b031;
}
nn-scroll-area.nn-gold-tips:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-gold-tips.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gold-tips:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gold-tips.keep::-webkit-scrollbar-thumb {
  background: #e6b031;
}
nn-scroll-area.nn-shamrock:hover, nn-scroll-area.nn-shamrock.keep, .nn-scroll-area.nn-shamrock:hover, .nn-scroll-area.nn-shamrock.keep {
  scrollbar-face-color: #34ce7e;
  scrollbar-arrow-color: #34ce7e;
  scrollbar-shadow-color: #34ce7e;
}
nn-scroll-area.nn-shamrock:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-shamrock.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-shamrock:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-shamrock.keep::-webkit-scrollbar-thumb {
  background: #34ce7e;
}
nn-scroll-area.nn-cod-grey:hover, nn-scroll-area.nn-cod-grey.keep, .nn-scroll-area.nn-cod-grey:hover, .nn-scroll-area.nn-cod-grey.keep {
  scrollbar-face-color: #1b1b1b;
  scrollbar-arrow-color: #1b1b1b;
  scrollbar-shadow-color: #1b1b1b;
}
nn-scroll-area.nn-cod-grey:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-cod-grey.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-cod-grey:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-cod-grey.keep::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}
nn-scroll-area.nn-gravel:hover, nn-scroll-area.nn-gravel.keep, .nn-scroll-area.nn-gravel:hover, .nn-scroll-area.nn-gravel.keep {
  scrollbar-face-color: #6e6e6e;
  scrollbar-arrow-color: #6e6e6e;
  scrollbar-shadow-color: #6e6e6e;
}
nn-scroll-area.nn-gravel:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-gravel.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gravel:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gravel.keep::-webkit-scrollbar-thumb {
  background: #6e6e6e;
}
nn-scroll-area.nn-emerald:hover, nn-scroll-area.nn-emerald.keep, .nn-scroll-area.nn-emerald:hover, .nn-scroll-area.nn-emerald.keep {
  scrollbar-face-color: #5acf57;
  scrollbar-arrow-color: #5acf57;
  scrollbar-shadow-color: #5acf57;
}
nn-scroll-area.nn-emerald:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-emerald.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-emerald:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-emerald.keep::-webkit-scrollbar-thumb {
  background: #5acf57;
}
nn-scroll-area.nn-burn-orange:hover, nn-scroll-area.nn-burn-orange.keep, .nn-scroll-area.nn-burn-orange:hover, .nn-scroll-area.nn-burn-orange.keep {
  scrollbar-face-color: #f9722e;
  scrollbar-arrow-color: #f9722e;
  scrollbar-shadow-color: #f9722e;
}
nn-scroll-area.nn-burn-orange:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-burn-orange.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-burn-orange:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-burn-orange.keep::-webkit-scrollbar-thumb {
  background: #f9722e;
}
nn-scroll-area.nn-razzmatazz:hover, nn-scroll-area.nn-razzmatazz.keep, .nn-scroll-area.nn-razzmatazz:hover, .nn-scroll-area.nn-razzmatazz.keep {
  scrollbar-face-color: #da0040;
  scrollbar-arrow-color: #da0040;
  scrollbar-shadow-color: #da0040;
}
nn-scroll-area.nn-razzmatazz:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-razzmatazz.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-razzmatazz:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-razzmatazz.keep::-webkit-scrollbar-thumb {
  background: #da0040;
}
nn-scroll-area.nn-desert:hover, nn-scroll-area.nn-desert.keep, .nn-scroll-area.nn-desert:hover, .nn-scroll-area.nn-desert.keep {
  scrollbar-face-color: #a0613d;
  scrollbar-arrow-color: #a0613d;
  scrollbar-shadow-color: #a0613d;
}
nn-scroll-area.nn-desert:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-desert.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-desert:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-desert.keep::-webkit-scrollbar-thumb {
  background: #a0613d;
}
nn-scroll-area.nn-charcoal:hover, nn-scroll-area.nn-charcoal.keep, .nn-scroll-area.nn-charcoal:hover, .nn-scroll-area.nn-charcoal.keep {
  scrollbar-face-color: #444444;
  scrollbar-arrow-color: #444444;
  scrollbar-shadow-color: #444444;
}
nn-scroll-area.nn-charcoal:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-charcoal.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-charcoal:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-charcoal.keep::-webkit-scrollbar-thumb {
  background: #444444;
}