nn-scroll-area, .nn-scroll-area {
  overflow: auto;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  max-height: 100%;
  width: 100%;
  display: block;
  scrollbar-width: thin;
  scrollbar-color: var(--nn-thumb-color) var(--nn-track-color);
  scrollbar-base-color: var(--nn-track-color);
  scrollbar-highlight-color: var(--nn-track-color);
  scrollbar-track-color: var(--nn-track-color);
  scrollbar-face-color: var(--nn-thumb-color);
  scrollbar-arrow-color: var(--nn-thumb-color);
  scrollbar-shadow-color: var(--nn-thumb-color);
}
nn-scroll-area.nn-no-horizontal, .nn-scroll-area.nn-no-horizontal {
  overflow-x: hidden;
}
nn-scroll-area.nn-no-vertical, .nn-scroll-area.nn-no-vertical {
  overflow-y: hidden;
}
nn-scroll-area::-webkit-scrollbar-thumb, .nn-scroll-area::-webkit-scrollbar-thumb {
  background: var(--nn-thumb-color);
  border-radius: 25px;
}
nn-scroll-area::-webkit-scrollbar-track, .nn-scroll-area::-webkit-scrollbar-track {
  background: var(--nn-track-color);
  border-radius: 25px;
}
nn-scroll-area::-webkit-scrollbar, .nn-scroll-area::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
nn-scroll-area:hover, nn-scroll-area.keep, .nn-scroll-area:hover, .nn-scroll-area.keep {
  scrollbar-face-color: var(--nn-gcolor-silver);
  scrollbar-arrow-color: var(--nn-gcolor-silver);
  scrollbar-shadow-color: var(--nn-gcolor-silver);
}
nn-scroll-area:hover::-webkit-scrollbar-thumb, nn-scroll-area.keep::-webkit-scrollbar-thumb, .nn-scroll-area:hover::-webkit-scrollbar-thumb, .nn-scroll-area.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-silver);
}
nn-scroll-area.nn-white:hover, nn-scroll-area.nn-white.keep, .nn-scroll-area.nn-white:hover, .nn-scroll-area.nn-white.keep {
  scrollbar-face-color: var(--nn-gcolor-white);
  scrollbar-arrow-color: var(--nn-gcolor-white);
  scrollbar-shadow-color: var(--nn-gcolor-white);
}
nn-scroll-area.nn-white:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-white.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-white:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-white.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-white);
}
nn-scroll-area.nn-silver:hover, nn-scroll-area.nn-silver.keep, .nn-scroll-area.nn-silver:hover, .nn-scroll-area.nn-silver.keep {
  scrollbar-face-color: var(--nn-gcolor-silver);
  scrollbar-arrow-color: var(--nn-gcolor-silver);
  scrollbar-shadow-color: var(--nn-gcolor-silver);
}
nn-scroll-area.nn-silver:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-silver.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-silver:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-silver.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-silver);
}
nn-scroll-area.nn-royal-purple:hover, nn-scroll-area.nn-royal-purple.keep, .nn-scroll-area.nn-royal-purple:hover, .nn-scroll-area.nn-royal-purple.keep {
  scrollbar-face-color: var(--nn-gcolor-royal-purple);
  scrollbar-arrow-color: var(--nn-gcolor-royal-purple);
  scrollbar-shadow-color: var(--nn-gcolor-royal-purple);
}
nn-scroll-area.nn-royal-purple:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-royal-purple.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-royal-purple:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-royal-purple.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-royal-purple);
}
nn-scroll-area.nn-persian-red:hover, nn-scroll-area.nn-persian-red.keep, .nn-scroll-area.nn-persian-red:hover, .nn-scroll-area.nn-persian-red.keep {
  scrollbar-face-color: var(--nn-gcolor-persian-red);
  scrollbar-arrow-color: var(--nn-gcolor-persian-red);
  scrollbar-shadow-color: var(--nn-gcolor-persian-red);
}
nn-scroll-area.nn-persian-red:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-persian-red.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-persian-red:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-persian-red.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-persian-red);
}
nn-scroll-area.nn-denim:hover, nn-scroll-area.nn-denim.keep, .nn-scroll-area.nn-denim:hover, .nn-scroll-area.nn-denim.keep {
  scrollbar-face-color: var(--nn-gcolor-denim);
  scrollbar-arrow-color: var(--nn-gcolor-denim);
  scrollbar-shadow-color: var(--nn-gcolor-denim);
}
nn-scroll-area.nn-denim:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-denim.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-denim:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-denim.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-denim);
}
nn-scroll-area.nn-gold-tips:hover, nn-scroll-area.nn-gold-tips.keep, .nn-scroll-area.nn-gold-tips:hover, .nn-scroll-area.nn-gold-tips.keep {
  scrollbar-face-color: var(--nn-gcolor-gold-tips);
  scrollbar-arrow-color: var(--nn-gcolor-gold-tips);
  scrollbar-shadow-color: var(--nn-gcolor-gold-tips);
}
nn-scroll-area.nn-gold-tips:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-gold-tips.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gold-tips:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gold-tips.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-gold-tips);
}
nn-scroll-area.nn-shamrock:hover, nn-scroll-area.nn-shamrock.keep, .nn-scroll-area.nn-shamrock:hover, .nn-scroll-area.nn-shamrock.keep {
  scrollbar-face-color: var(--nn-gcolor-shamrock);
  scrollbar-arrow-color: var(--nn-gcolor-shamrock);
  scrollbar-shadow-color: var(--nn-gcolor-shamrock);
}
nn-scroll-area.nn-shamrock:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-shamrock.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-shamrock:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-shamrock.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-shamrock);
}
nn-scroll-area.nn-cod-grey:hover, nn-scroll-area.nn-cod-grey.keep, .nn-scroll-area.nn-cod-grey:hover, .nn-scroll-area.nn-cod-grey.keep {
  scrollbar-face-color: var(--nn-gcolor-cod-grey);
  scrollbar-arrow-color: var(--nn-gcolor-cod-grey);
  scrollbar-shadow-color: var(--nn-gcolor-cod-grey);
}
nn-scroll-area.nn-cod-grey:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-cod-grey.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-cod-grey:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-cod-grey.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-cod-grey);
}
nn-scroll-area.nn-gravel:hover, nn-scroll-area.nn-gravel.keep, .nn-scroll-area.nn-gravel:hover, .nn-scroll-area.nn-gravel.keep {
  scrollbar-face-color: var(--nn-gcolor-gravel);
  scrollbar-arrow-color: var(--nn-gcolor-gravel);
  scrollbar-shadow-color: var(--nn-gcolor-gravel);
}
nn-scroll-area.nn-gravel:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-gravel.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gravel:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-gravel.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-gravel);
}
nn-scroll-area.nn-emerald:hover, nn-scroll-area.nn-emerald.keep, .nn-scroll-area.nn-emerald:hover, .nn-scroll-area.nn-emerald.keep {
  scrollbar-face-color: var(--nn-gcolor-emerald);
  scrollbar-arrow-color: var(--nn-gcolor-emerald);
  scrollbar-shadow-color: var(--nn-gcolor-emerald);
}
nn-scroll-area.nn-emerald:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-emerald.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-emerald:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-emerald.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-emerald);
}
nn-scroll-area.nn-burn-orange:hover, nn-scroll-area.nn-burn-orange.keep, .nn-scroll-area.nn-burn-orange:hover, .nn-scroll-area.nn-burn-orange.keep {
  scrollbar-face-color: var(--nn-gcolor-burn-orange);
  scrollbar-arrow-color: var(--nn-gcolor-burn-orange);
  scrollbar-shadow-color: var(--nn-gcolor-burn-orange);
}
nn-scroll-area.nn-burn-orange:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-burn-orange.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-burn-orange:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-burn-orange.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-burn-orange);
}
nn-scroll-area.nn-razzmatazz:hover, nn-scroll-area.nn-razzmatazz.keep, .nn-scroll-area.nn-razzmatazz:hover, .nn-scroll-area.nn-razzmatazz.keep {
  scrollbar-face-color: var(--nn-gcolor-razzmatazz);
  scrollbar-arrow-color: var(--nn-gcolor-razzmatazz);
  scrollbar-shadow-color: var(--nn-gcolor-razzmatazz);
}
nn-scroll-area.nn-razzmatazz:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-razzmatazz.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-razzmatazz:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-razzmatazz.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-razzmatazz);
}
nn-scroll-area.nn-desert:hover, nn-scroll-area.nn-desert.keep, .nn-scroll-area.nn-desert:hover, .nn-scroll-area.nn-desert.keep {
  scrollbar-face-color: var(--nn-gcolor-desert);
  scrollbar-arrow-color: var(--nn-gcolor-desert);
  scrollbar-shadow-color: var(--nn-gcolor-desert);
}
nn-scroll-area.nn-desert:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-desert.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-desert:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-desert.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-desert);
}
nn-scroll-area.nn-charcoal:hover, nn-scroll-area.nn-charcoal.keep, .nn-scroll-area.nn-charcoal:hover, .nn-scroll-area.nn-charcoal.keep {
  scrollbar-face-color: var(--nn-gcolor-charcoal);
  scrollbar-arrow-color: var(--nn-gcolor-charcoal);
  scrollbar-shadow-color: var(--nn-gcolor-charcoal);
}
nn-scroll-area.nn-charcoal:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-charcoal.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-charcoal:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-charcoal.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-charcoal);
}
nn-scroll-area.nn-golden-brown:hover, nn-scroll-area.nn-golden-brown.keep, .nn-scroll-area.nn-golden-brown:hover, .nn-scroll-area.nn-golden-brown.keep {
  scrollbar-face-color: var(--nn-gcolor-golden-brown);
  scrollbar-arrow-color: var(--nn-gcolor-golden-brown);
  scrollbar-shadow-color: var(--nn-gcolor-golden-brown);
}
nn-scroll-area.nn-golden-brown:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-golden-brown.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-golden-brown:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-golden-brown.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-golden-brown);
}
nn-scroll-area.nn-sepia:hover, nn-scroll-area.nn-sepia.keep, .nn-scroll-area.nn-sepia:hover, .nn-scroll-area.nn-sepia.keep {
  scrollbar-face-color: var(--nn-gcolor-sepia);
  scrollbar-arrow-color: var(--nn-gcolor-sepia);
  scrollbar-shadow-color: var(--nn-gcolor-sepia);
}
nn-scroll-area.nn-sepia:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-sepia.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-sepia:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-sepia.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-sepia);
}
nn-scroll-area.nn-alizarin:hover, nn-scroll-area.nn-alizarin.keep, .nn-scroll-area.nn-alizarin:hover, .nn-scroll-area.nn-alizarin.keep {
  scrollbar-face-color: var(--nn-gcolor-alizarin);
  scrollbar-arrow-color: var(--nn-gcolor-alizarin);
  scrollbar-shadow-color: var(--nn-gcolor-alizarin);
}
nn-scroll-area.nn-alizarin:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-alizarin.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-alizarin:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-alizarin.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-alizarin);
}
nn-scroll-area.nn-rust:hover, nn-scroll-area.nn-rust.keep, .nn-scroll-area.nn-rust:hover, .nn-scroll-area.nn-rust.keep {
  scrollbar-face-color: var(--nn-gcolor-rust);
  scrollbar-arrow-color: var(--nn-gcolor-rust);
  scrollbar-shadow-color: var(--nn-gcolor-rust);
}
nn-scroll-area.nn-rust:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-rust.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-rust:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-rust.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-rust);
}
nn-scroll-area.nn-blush:hover, nn-scroll-area.nn-blush.keep, .nn-scroll-area.nn-blush:hover, .nn-scroll-area.nn-blush.keep {
  scrollbar-face-color: var(--nn-gcolor-blush);
  scrollbar-arrow-color: var(--nn-gcolor-blush);
  scrollbar-shadow-color: var(--nn-gcolor-blush);
}
nn-scroll-area.nn-blush:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-blush.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-blush:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-blush.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-blush);
}
nn-scroll-area.nn-fire-brick:hover, nn-scroll-area.nn-fire-brick.keep, .nn-scroll-area.nn-fire-brick:hover, .nn-scroll-area.nn-fire-brick.keep {
  scrollbar-face-color: var(--nn-gcolor-fire-brick);
  scrollbar-arrow-color: var(--nn-gcolor-fire-brick);
  scrollbar-shadow-color: var(--nn-gcolor-fire-brick);
}
nn-scroll-area.nn-fire-brick:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-fire-brick.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-fire-brick:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-fire-brick.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-fire-brick);
}
nn-scroll-area.nn-sunglow:hover, nn-scroll-area.nn-sunglow.keep, .nn-scroll-area.nn-sunglow:hover, .nn-scroll-area.nn-sunglow.keep {
  scrollbar-face-color: var(--nn-gcolor-sunglow);
  scrollbar-arrow-color: var(--nn-gcolor-sunglow);
  scrollbar-shadow-color: var(--nn-gcolor-sunglow);
}
nn-scroll-area.nn-sunglow:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-sunglow.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-sunglow:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-sunglow.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-sunglow);
}
nn-scroll-area.nn-milk-punch:hover, nn-scroll-area.nn-milk-punch.keep, .nn-scroll-area.nn-milk-punch:hover, .nn-scroll-area.nn-milk-punch.keep {
  scrollbar-face-color: var(--nn-gcolor-milk-punch);
  scrollbar-arrow-color: var(--nn-gcolor-milk-punch);
  scrollbar-shadow-color: var(--nn-gcolor-milk-punch);
}
nn-scroll-area.nn-milk-punch:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-milk-punch.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-milk-punch:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-milk-punch.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-milk-punch);
}
nn-scroll-area.nn-yukon-gold:hover, nn-scroll-area.nn-yukon-gold.keep, .nn-scroll-area.nn-yukon-gold:hover, .nn-scroll-area.nn-yukon-gold.keep {
  scrollbar-face-color: var(--nn-gcolor-yukon-gold);
  scrollbar-arrow-color: var(--nn-gcolor-yukon-gold);
  scrollbar-shadow-color: var(--nn-gcolor-yukon-gold);
}
nn-scroll-area.nn-yukon-gold:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-yukon-gold.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-yukon-gold:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-yukon-gold.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-yukon-gold);
}
nn-scroll-area.nn-green-pea:hover, nn-scroll-area.nn-green-pea.keep, .nn-scroll-area.nn-green-pea:hover, .nn-scroll-area.nn-green-pea.keep {
  scrollbar-face-color: var(--nn-gcolor-green-pea);
  scrollbar-arrow-color: var(--nn-gcolor-green-pea);
  scrollbar-shadow-color: var(--nn-gcolor-green-pea);
}
nn-scroll-area.nn-green-pea:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-green-pea.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-green-pea:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-green-pea.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-green-pea);
}
nn-scroll-area.nn-laurel:hover, nn-scroll-area.nn-laurel.keep, .nn-scroll-area.nn-laurel:hover, .nn-scroll-area.nn-laurel.keep {
  scrollbar-face-color: var(--nn-gcolor-laurel);
  scrollbar-arrow-color: var(--nn-gcolor-laurel);
  scrollbar-shadow-color: var(--nn-gcolor-laurel);
}
nn-scroll-area.nn-laurel:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-laurel.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-laurel:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-laurel.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-laurel);
}
nn-scroll-area.nn-elf-green:hover, nn-scroll-area.nn-elf-green.keep, .nn-scroll-area.nn-elf-green:hover, .nn-scroll-area.nn-elf-green.keep {
  scrollbar-face-color: var(--nn-gcolor-elf-green);
  scrollbar-arrow-color: var(--nn-gcolor-elf-green);
  scrollbar-shadow-color: var(--nn-gcolor-elf-green);
}
nn-scroll-area.nn-elf-green:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-elf-green.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-elf-green:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-elf-green.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-elf-green);
}
nn-scroll-area.nn-lake:hover, nn-scroll-area.nn-lake.keep, .nn-scroll-area.nn-lake:hover, .nn-scroll-area.nn-lake.keep {
  scrollbar-face-color: var(--nn-gcolor-lake);
  scrollbar-arrow-color: var(--nn-gcolor-lake);
  scrollbar-shadow-color: var(--nn-gcolor-lake);
}
nn-scroll-area.nn-lake:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-lake.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-lake:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-lake.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-lake);
}
nn-scroll-area.nn-cobalt-blue:hover, nn-scroll-area.nn-cobalt-blue.keep, .nn-scroll-area.nn-cobalt-blue:hover, .nn-scroll-area.nn-cobalt-blue.keep {
  scrollbar-face-color: var(--nn-gcolor-cobalt-blue);
  scrollbar-arrow-color: var(--nn-gcolor-cobalt-blue);
  scrollbar-shadow-color: var(--nn-gcolor-cobalt-blue);
}
nn-scroll-area.nn-cobalt-blue:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-cobalt-blue.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-cobalt-blue:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-cobalt-blue.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-cobalt-blue);
}
nn-scroll-area.nn-mariner:hover, nn-scroll-area.nn-mariner.keep, .nn-scroll-area.nn-mariner:hover, .nn-scroll-area.nn-mariner.keep {
  scrollbar-face-color: var(--nn-gcolor-mariner);
  scrollbar-arrow-color: var(--nn-gcolor-mariner);
  scrollbar-shadow-color: var(--nn-gcolor-mariner);
}
nn-scroll-area.nn-mariner:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-mariner.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-mariner:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-mariner.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-mariner);
}
nn-scroll-area.nn-fuchsia:hover, nn-scroll-area.nn-fuchsia.keep, .nn-scroll-area.nn-fuchsia:hover, .nn-scroll-area.nn-fuchsia.keep {
  scrollbar-face-color: var(--nn-gcolor-fuchsia);
  scrollbar-arrow-color: var(--nn-gcolor-fuchsia);
  scrollbar-shadow-color: var(--nn-gcolor-fuchsia);
}
nn-scroll-area.nn-fuchsia:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-fuchsia.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-fuchsia:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-fuchsia.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-fuchsia);
}
nn-scroll-area.nn-blue-violet:hover, nn-scroll-area.nn-blue-violet.keep, .nn-scroll-area.nn-blue-violet:hover, .nn-scroll-area.nn-blue-violet.keep {
  scrollbar-face-color: var(--nn-gcolor-blue-violet);
  scrollbar-arrow-color: var(--nn-gcolor-blue-violet);
  scrollbar-shadow-color: var(--nn-gcolor-blue-violet);
}
nn-scroll-area.nn-blue-violet:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-blue-violet.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-blue-violet:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-blue-violet.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-blue-violet);
}
nn-scroll-area.nn-purple-heart:hover, nn-scroll-area.nn-purple-heart.keep, .nn-scroll-area.nn-purple-heart:hover, .nn-scroll-area.nn-purple-heart.keep {
  scrollbar-face-color: var(--nn-gcolor-purple-heart);
  scrollbar-arrow-color: var(--nn-gcolor-purple-heart);
  scrollbar-shadow-color: var(--nn-gcolor-purple-heart);
}
nn-scroll-area.nn-purple-heart:hover::-webkit-scrollbar-thumb, nn-scroll-area.nn-purple-heart.keep::-webkit-scrollbar-thumb, .nn-scroll-area.nn-purple-heart:hover::-webkit-scrollbar-thumb, .nn-scroll-area.nn-purple-heart.keep::-webkit-scrollbar-thumb {
  background: var(--nn-gcolor-purple-heart);
}