.nano-tooltip {
  display: inline-block;
  z-index: 30;
  position: fixed;
  font-size: 11px;
  padding: 5px 8px;
  border-radius: 5px;
  color: #eeeeee;
  pointer-events: none;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  text-transform: capitalize;
}
.nano-tooltip, .nano-tooltip::before {
  background-color: #444444;
}
.nano-tooltip.right::before {
  top: 7px;
  left: -3px;
  right: unset !important;
}
.nano-tooltip.left::before {
  top: 7px;
  right: -3px;
  left: unset !important;
}
.nano-tooltip.top::before {
  bottom: -3px;
  left: 7px;
  top: unset !important;
}
.nano-tooltip.bottom::before {
  top: -3px;
  left: 7px;
  bottom: unset !important;
}
.nano-tooltip.top.left::before, .nano-tooltip.bottom.left::before {
  right: 7px !important;
}
.nano-tooltip.top.right::before, .nano-tooltip.bottom.right::before {
  left: 7px !important;
}
.nano-tooltip::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
}