.btn {
  border-radius: 50%;
  font-size: 9pt;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}
.btn > span {
  pointer-events: none;
}
.btn.rounded.silver, .btn.flat.silver {
  background-color: #c0c0c0;
}
.btn.rounded.silver:hover, .btn.flat.silver:hover {
  background-color: #a7a7a7;
}
.btn.rounded.silver:active, .btn.flat.silver:active {
  background-color: #f3f3f3;
  color: #8d8d8d;
}
.btn.rounded.royal-purple, .btn.flat.royal-purple {
  background-color: #64429c;
}
.btn.rounded.royal-purple:hover, .btn.flat.royal-purple:hover {
  background-color: #4d3378;
}
.btn.rounded.royal-purple:active, .btn.flat.royal-purple:active {
  background-color: #997cc8;
  color: #362454;
}
.btn.rounded.persian-red, .btn.flat.persian-red {
  background-color: #d73333;
}
.btn.rounded.persian-red:hover, .btn.flat.persian-red:hover {
  background-color: #b42323;
}
.btn.rounded.persian-red:active, .btn.flat.persian-red:active {
  background-color: #e88888;
  color: #891b1b;
}
.btn.rounded.denim, .btn.flat.denim {
  background-color: #116ec4;
}
.btn.rounded.denim:hover, .btn.flat.denim:hover {
  background-color: #0d5495;
}
.btn.rounded.denim:active, .btn.flat.denim:active {
  background-color: #4ca1ef;
  color: #093966;
}
.btn.rounded.gold-tips, .btn.flat.gold-tips {
  background-color: #e6b031;
}
.btn.rounded.gold-tips:hover, .btn.flat.gold-tips:hover {
  background-color: #cb9619;
}
.btn.rounded.gold-tips:active, .btn.flat.gold-tips:active {
  background-color: #f1d38c;
  color: #9e7413;
}
.btn.rounded.shamrock, .btn.flat.shamrock {
  background-color: #34ce7e;
}
.btn.rounded.shamrock:hover, .btn.flat.shamrock:hover {
  background-color: #28a765;
}
.btn.rounded.shamrock:active, .btn.flat.shamrock:active {
  background-color: #86e2b2;
  color: #1e7e4c;
}
.btn.rounded.cod-grey, .btn.flat.cod-grey {
  background-color: #1b1b1b;
}
.btn.rounded.cod-grey:hover, .btn.flat.cod-grey:hover {
  background-color: #020202;
}
.btn.rounded.cod-grey:active, .btn.flat.cod-grey:active {
  background-color: #4e4e4e;
  color: black;
}
.btn.rounded.gravel, .btn.flat.gravel {
  background-color: #6e6e6e;
}
.btn.rounded.gravel:hover, .btn.flat.gravel:hover {
  background-color: #555555;
}
.btn.rounded.gravel:active, .btn.flat.gravel:active {
  background-color: #a1a1a1;
  color: #3b3b3b;
}
.btn.rounded.emerald, .btn.flat.emerald {
  background-color: #5acf57;
}
.btn.rounded.emerald:hover, .btn.flat.emerald:hover {
  background-color: #39bd36;
}
.btn.rounded.emerald:active, .btn.flat.emerald:active {
  background-color: #a8e6a6;
  color: #2d952b;
}
.btn.rounded.burn-orange, .btn.flat.burn-orange {
  background-color: #f9722e;
}
.btn.rounded.burn-orange:hover, .btn.flat.burn-orange:hover {
  background-color: #ed5407;
}
.btn.rounded.burn-orange:active, .btn.flat.burn-orange:active {
  background-color: #fcb591;
  color: #bc4205;
}
.btn.rounded.razzmatazz, .btn.flat.razzmatazz {
  background-color: #da0040;
}
.btn.rounded.razzmatazz:hover, .btn.flat.razzmatazz:hover {
  background-color: #a70031;
}
.btn.rounded.razzmatazz:active, .btn.flat.razzmatazz:active {
  background-color: #ff4179;
  color: #740022;
}
.btn.rounded.desert, .btn.flat.desert {
  background-color: #a0613d;
}
.btn.rounded.desert:hover, .btn.flat.desert:hover {
  background-color: #7b4b2f;
}
.btn.rounded.desert:active, .btn.flat.desert:active {
  background-color: #cb9678;
  color: #563421;
}
.btn.rounded.charcoal, .btn.flat.charcoal {
  background-color: #444444;
}
.btn.rounded.charcoal:hover, .btn.flat.charcoal:hover {
  background-color: #2b2b2b;
}
.btn.rounded.charcoal:active, .btn.flat.charcoal:active {
  background-color: #777777;
  color: #111111;
}
.btn.rounded.golden-brown, .btn.flat.golden-brown {
  background-color: #9e6710;
}
.btn.rounded.golden-brown:hover, .btn.flat.golden-brown:hover {
  background-color: #70490b;
}
.btn.rounded.golden-brown:active, .btn.flat.golden-brown:active {
  background-color: #e9a02b;
  color: #412b07;
}
.btn.rounded.sepia, .btn.flat.sepia {
  background-color: #704d16;
}
.btn.rounded.sepia:hover, .btn.flat.sepia:hover {
  background-color: #45300e;
}
.btn.rounded.sepia:active, .btn.flat.sepia:active {
  background-color: #c58827;
  color: #1b1205;
}
.btn.rounded.alizarin, .btn.flat.alizarin {
  background-color: #e72113;
}
.btn.rounded.alizarin:hover, .btn.flat.alizarin:hover {
  background-color: #b81a0f;
}
.btn.rounded.alizarin:active, .btn.flat.alizarin:active {
  background-color: #f3766d;
  color: #89140b;
}
.btn.rounded.rust, .btn.flat.rust {
  background-color: #c84d11;
}
.btn.rounded.rust:hover, .btn.flat.rust:hover {
  background-color: #993b0d;
}
.btn.rounded.rust:active, .btn.flat.rust:active {
  background-color: #f0844f;
  color: #6a2909;
}
.btn.rounded.blush, .btn.flat.blush {
  background-color: #bf4a67;
}
.btn.rounded.blush:hover, .btn.flat.blush:hover {
  background-color: #9e3851;
}
.btn.rounded.blush:active, .btn.flat.blush:active {
  background-color: #da95a6;
  color: #782b3e;
}
.btn.rounded.fire-brick, .btn.flat.fire-brick {
  background-color: #a5213a;
}
.btn.rounded.fire-brick:hover, .btn.flat.fire-brick:hover {
  background-color: #7b192b;
}
.btn.rounded.fire-brick:active, .btn.flat.fire-brick:active {
  background-color: #dc506b;
  color: #50101c;
}
.btn.rounded.sunglow, .btn.flat.sunglow {
  background-color: #ffcf25;
}
.btn.rounded.sunglow:hover, .btn.flat.sunglow:hover {
  background-color: #f1bc00;
}
.btn.rounded.sunglow:active, .btn.flat.sunglow:active {
  background-color: #ffe58b;
  color: #be9400;
}
.btn.rounded.milk-punch, .btn.flat.milk-punch {
  background-color: #f4e7c4;
}
.btn.rounded.milk-punch:hover, .btn.flat.milk-punch:hover {
  background-color: #ecd699;
}
.btn.rounded.milk-punch:active, .btn.flat.milk-punch:active {
  background-color: white;
  color: #e4c46e;
}
.btn.rounded.yukon-gold, .btn.flat.yukon-gold {
  background-color: #8c741d;
}
.btn.rounded.yukon-gold:hover, .btn.flat.yukon-gold:hover {
  background-color: #625114;
}
.btn.rounded.yukon-gold:active, .btn.flat.yukon-gold:active {
  background-color: #d6b439;
  color: #382e0b;
}
.btn.rounded.green-pea, .btn.flat.green-pea {
  background-color: #20723b;
}
.btn.rounded.green-pea:hover, .btn.flat.green-pea:hover {
  background-color: #154a26;
}
.btn.rounded.green-pea:active, .btn.flat.green-pea:active {
  background-color: #36c264;
  color: #0a2212;
}
.btn.rounded.laurel, .btn.flat.laurel {
  background-color: #328538;
}
.btn.rounded.laurel:hover, .btn.flat.laurel:hover {
  background-color: #246028;
}
.btn.rounded.laurel:active, .btn.flat.laurel:active {
  background-color: #5bc263;
  color: #163b19;
}
.btn.rounded.elf-green, .btn.flat.elf-green {
  background-color: #198663;
}
.btn.rounded.elf-green:hover, .btn.flat.elf-green:hover {
  background-color: #115b43;
}
.btn.rounded.elf-green:active, .btn.flat.elf-green:active {
  background-color: #2dd8a1;
  color: #093023;
}
.btn.rounded.lake, .btn.flat.lake {
  background-color: #257d93;
}
.btn.rounded.lake:hover, .btn.flat.lake:hover {
  background-color: #1b5a6a;
}
.btn.rounded.lake:active, .btn.flat.lake:active {
  background-color: #4cb7d2;
  color: #103842;
}
.btn.rounded.cobalt-blue, .btn.flat.cobalt-blue {
  background-color: #0b4eab;
}
.btn.rounded.cobalt-blue:hover, .btn.flat.cobalt-blue:hover {
  background-color: #08387b;
}
.btn.rounded.cobalt-blue:active, .btn.flat.cobalt-blue:active {
  background-color: #2b7ef1;
  color: #05224b;
}
.btn.rounded.mariner, .btn.flat.mariner {
  background-color: #3876cc;
}
.btn.rounded.mariner:hover, .btn.flat.mariner:hover {
  background-color: #2b5ea6;
}
.btn.rounded.mariner:active, .btn.flat.mariner:active {
  background-color: #89aee1;
  color: #20477e;
}
.btn.rounded.fuchsia, .btn.flat.fuchsia {
  background-color: #af08aa;
}
.btn.rounded.fuchsia:hover, .btn.flat.fuchsia:hover {
  background-color: #7e067b;
}
.btn.rounded.fuchsia:active, .btn.flat.fuchsia:active {
  background-color: #f528ef;
  color: #4d044b;
}
.btn.rounded.blue-violet, .btn.flat.blue-violet {
  background-color: #994aed;
}
.btn.rounded.blue-violet:hover, .btn.flat.blue-violet:hover {
  background-color: #7f1ce8;
}
.btn.rounded.blue-violet:active, .btn.flat.blue-violet:active {
  background-color: #cda7f6;
  color: #6613be;
}
.btn.rounded.purple-heart, .btn.flat.purple-heart {
  background-color: #7d32b0;
}
.btn.rounded.purple-heart:hover, .btn.flat.purple-heart:hover {
  background-color: #612788;
}
.btn.rounded.purple-heart:active, .btn.flat.purple-heart:active {
  background-color: #ae71d7;
  color: #451b61;
}
.btn > .icon {
  font-size: 14px;
}
.btn > .icon:not(:only-child) {
  margin-right: 0.5rem;
}
.btn:focus {
  outline: none;
}
.btn.rounded:active {
  background-color: #bbbbbb !important;
  color: #555555 !important;
}
.btn.rounded.active {
  background-color: #4ca1ef !important;
  color: #093966 !important;
}
.btn.rounded:hover {
  cursor: pointer;
  background-color: #6f6f6f;
}
.btn input[type=radio],
.btn input[type=checkbox] {
  display: none;
}
.btn.transparent {
  font-weight: bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  transition: all 200ms ease;
  border-radius: 0;
  min-height: 35px;
  min-width: 35px;
  border: 0;
  border-color: transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
}
.btn.transparent:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn.transparent:active, .btn.transparent.active {
  background-color: rgba(255, 255, 255, 0.05);
}
.btn.transparent.silver:active, .btn.transparent.silver.active {
  color: #f3f3f3;
  box-shadow: -2px 0 0 #c0c0c0;
}
.btn.transparent.royal-purple:active, .btn.transparent.royal-purple.active {
  color: #997cc8;
  box-shadow: -2px 0 0 #64429c;
}
.btn.transparent.persian-red:active, .btn.transparent.persian-red.active {
  color: #e88888;
  box-shadow: -2px 0 0 #d73333;
}
.btn.transparent.denim:active, .btn.transparent.denim.active {
  color: #4ca1ef;
  box-shadow: -2px 0 0 #116ec4;
}
.btn.transparent.gold-tips:active, .btn.transparent.gold-tips.active {
  color: #f1d38c;
  box-shadow: -2px 0 0 #e6b031;
}
.btn.transparent.shamrock:active, .btn.transparent.shamrock.active {
  color: #86e2b2;
  box-shadow: -2px 0 0 #34ce7e;
}
.btn.transparent.cod-grey:active, .btn.transparent.cod-grey.active {
  color: #4e4e4e;
  box-shadow: -2px 0 0 #1b1b1b;
}
.btn.transparent.gravel:active, .btn.transparent.gravel.active {
  color: #a1a1a1;
  box-shadow: -2px 0 0 #6e6e6e;
}
.btn.transparent.emerald:active, .btn.transparent.emerald.active {
  color: #a8e6a6;
  box-shadow: -2px 0 0 #5acf57;
}
.btn.transparent.burn-orange:active, .btn.transparent.burn-orange.active {
  color: #fcb591;
  box-shadow: -2px 0 0 #f9722e;
}
.btn.transparent.razzmatazz:active, .btn.transparent.razzmatazz.active {
  color: #ff4179;
  box-shadow: -2px 0 0 #da0040;
}
.btn.transparent.desert:active, .btn.transparent.desert.active {
  color: #cb9678;
  box-shadow: -2px 0 0 #a0613d;
}
.btn.transparent.charcoal:active, .btn.transparent.charcoal.active {
  color: #777777;
  box-shadow: -2px 0 0 #444444;
}
.btn.transparent.golden-brown:active, .btn.transparent.golden-brown.active {
  color: #e9a02b;
  box-shadow: -2px 0 0 #9e6710;
}
.btn.transparent.sepia:active, .btn.transparent.sepia.active {
  color: #c58827;
  box-shadow: -2px 0 0 #704d16;
}
.btn.transparent.alizarin:active, .btn.transparent.alizarin.active {
  color: #f3766d;
  box-shadow: -2px 0 0 #e72113;
}
.btn.transparent.rust:active, .btn.transparent.rust.active {
  color: #f0844f;
  box-shadow: -2px 0 0 #c84d11;
}
.btn.transparent.blush:active, .btn.transparent.blush.active {
  color: #da95a6;
  box-shadow: -2px 0 0 #bf4a67;
}
.btn.transparent.fire-brick:active, .btn.transparent.fire-brick.active {
  color: #dc506b;
  box-shadow: -2px 0 0 #a5213a;
}
.btn.transparent.sunglow:active, .btn.transparent.sunglow.active {
  color: #ffe58b;
  box-shadow: -2px 0 0 #ffcf25;
}
.btn.transparent.milk-punch:active, .btn.transparent.milk-punch.active {
  color: white;
  box-shadow: -2px 0 0 #f4e7c4;
}
.btn.transparent.yukon-gold:active, .btn.transparent.yukon-gold.active {
  color: #d6b439;
  box-shadow: -2px 0 0 #8c741d;
}
.btn.transparent.green-pea:active, .btn.transparent.green-pea.active {
  color: #36c264;
  box-shadow: -2px 0 0 #20723b;
}
.btn.transparent.laurel:active, .btn.transparent.laurel.active {
  color: #5bc263;
  box-shadow: -2px 0 0 #328538;
}
.btn.transparent.elf-green:active, .btn.transparent.elf-green.active {
  color: #2dd8a1;
  box-shadow: -2px 0 0 #198663;
}
.btn.transparent.lake:active, .btn.transparent.lake.active {
  color: #4cb7d2;
  box-shadow: -2px 0 0 #257d93;
}
.btn.transparent.cobalt-blue:active, .btn.transparent.cobalt-blue.active {
  color: #2b7ef1;
  box-shadow: -2px 0 0 #0b4eab;
}
.btn.transparent.mariner:active, .btn.transparent.mariner.active {
  color: #89aee1;
  box-shadow: -2px 0 0 #3876cc;
}
.btn.transparent.fuchsia:active, .btn.transparent.fuchsia.active {
  color: #f528ef;
  box-shadow: -2px 0 0 #af08aa;
}
.btn.transparent.blue-violet:active, .btn.transparent.blue-violet.active {
  color: #cda7f6;
  box-shadow: -2px 0 0 #994aed;
}
.btn.transparent.purple-heart:active, .btn.transparent.purple-heart.active {
  color: #ae71d7;
  box-shadow: -2px 0 0 #7d32b0;
}
.btn.flat {
  font-weight: bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  transition: all 200ms ease;
  border-radius: 0;
  min-height: 35px;
  min-width: 35px;
  border: 0;
  border-color: transparent;
  background-color: #888;
  box-shadow: 0px 3px 0 #6f6f6f;
}
.btn.flat.silver {
  box-shadow: 0px 3px 0 #a7a7a7;
  color: #262626;
}
.btn.flat.silver:hover {
  box-shadow: 0px 3px 0 #8d8d8d;
}
.btn.flat.silver:active {
  box-shadow: 0px 3px 0 #dadada;
}
.btn.flat.royal-purple {
  box-shadow: 0px 3px 0 #4d3378;
  color: #ffffff;
}
.btn.flat.royal-purple:hover {
  box-shadow: 0px 3px 0 #362454;
}
.btn.flat.royal-purple:active {
  box-shadow: 0px 3px 0 #7d58b9;
}
.btn.flat.persian-red {
  box-shadow: 0px 3px 0 #b42323;
  color: #400d0d;
}
.btn.flat.persian-red:hover {
  box-shadow: 0px 3px 0 #891b1b;
}
.btn.flat.persian-red:active {
  box-shadow: 0px 3px 0 #df5e5e;
}
.btn.flat.denim {
  box-shadow: 0px 3px 0 #0d5495;
  color: #ffffff;
}
.btn.flat.denim:hover {
  box-shadow: 0px 3px 0 #093966;
}
.btn.flat.denim:active {
  box-shadow: 0px 3px 0 #1d88eb;
}
.btn.flat.gold-tips {
  box-shadow: 0px 3px 0 #cb9619;
  color: #443208;
}
.btn.flat.gold-tips:hover {
  box-shadow: 0px 3px 0 #9e7413;
}
.btn.flat.gold-tips:active {
  box-shadow: 0px 3px 0 #ecc15e;
}
.btn.flat.shamrock {
  box-shadow: 0px 3px 0 #28a765;
  color: #0f3e25;
}
.btn.flat.shamrock:hover {
  box-shadow: 0px 3px 0 #1e7e4c;
}
.btn.flat.shamrock:active {
  box-shadow: 0px 3px 0 #5dd898;
}
.btn.flat.cod-grey {
  box-shadow: 0px 3px 0 #020202;
  color: #ffffff;
}
.btn.flat.cod-grey:hover {
  box-shadow: 0px 3px 0 black;
}
.btn.flat.cod-grey:active {
  box-shadow: 0px 3px 0 #353535;
}
.btn.flat.gravel {
  box-shadow: 0px 3px 0 #555555;
  color: #ffffff;
}
.btn.flat.gravel:hover {
  box-shadow: 0px 3px 0 #3b3b3b;
}
.btn.flat.gravel:active {
  box-shadow: 0px 3px 0 #888888;
}
.btn.flat.emerald {
  box-shadow: 0px 3px 0 #39bd36;
  color: #123c11;
}
.btn.flat.emerald:hover {
  box-shadow: 0px 3px 0 #2d952b;
}
.btn.flat.emerald:active {
  box-shadow: 0px 3px 0 #81da7f;
}
.btn.flat.burn-orange {
  box-shadow: 0px 3px 0 #ed5407;
  color: #4a1a02;
}
.btn.flat.burn-orange:hover {
  box-shadow: 0px 3px 0 #bc4205;
}
.btn.flat.burn-orange:active {
  box-shadow: 0px 3px 0 #fa9360;
}
.btn.flat.razzmatazz {
  box-shadow: 0px 3px 0 #a70031;
  color: #ffffff;
}
.btn.flat.razzmatazz:hover {
  box-shadow: 0px 3px 0 #740022;
}
.btn.flat.razzmatazz:active {
  box-shadow: 0px 3px 0 #ff0e55;
}
.btn.flat.desert {
  box-shadow: 0px 3px 0 #7b4b2f;
  color: #ffffff;
}
.btn.flat.desert:hover {
  box-shadow: 0px 3px 0 #563421;
}
.btn.flat.desert:active {
  box-shadow: 0px 3px 0 #bd7953;
}
.btn.flat.charcoal {
  box-shadow: 0px 3px 0 #2b2b2b;
  color: #ffffff;
}
.btn.flat.charcoal:hover {
  box-shadow: 0px 3px 0 #111111;
}
.btn.flat.charcoal:active {
  box-shadow: 0px 3px 0 #5e5e5e;
}
.btn.flat.golden-brown {
  box-shadow: 0px 3px 0 #70490b;
  color: #ffffff;
}
.btn.flat.golden-brown:hover {
  box-shadow: 0px 3px 0 #412b07;
}
.btn.flat.golden-brown:active {
  box-shadow: 0px 3px 0 #cc8515;
}
.btn.flat.sepia {
  box-shadow: 0px 3px 0 #45300e;
  color: #ffffff;
}
.btn.flat.sepia:hover {
  box-shadow: 0px 3px 0 #1b1205;
}
.btn.flat.sepia:active {
  box-shadow: 0px 3px 0 #9b6a1e;
}
.btn.flat.alizarin {
  box-shadow: 0px 3px 0 #b81a0f;
  color: #ffffff;
}
.btn.flat.alizarin:hover {
  box-shadow: 0px 3px 0 #89140b;
}
.btn.flat.alizarin:active {
  box-shadow: 0px 3px 0 #ef4a3e;
}
.btn.flat.rust {
  box-shadow: 0px 3px 0 #993b0d;
  color: #ffffff;
}
.btn.flat.rust:hover {
  box-shadow: 0px 3px 0 #6a2909;
}
.btn.flat.rust:active {
  box-shadow: 0px 3px 0 #ec6320;
}
.btn.flat.blush {
  box-shadow: 0px 3px 0 #9e3851;
  color: #39141d;
}
.btn.flat.blush:hover {
  box-shadow: 0px 3px 0 #782b3e;
}
.btn.flat.blush:active {
  box-shadow: 0px 3px 0 #cc7087;
}
.btn.flat.fire-brick {
  box-shadow: 0px 3px 0 #7b192b;
  color: #ffffff;
}
.btn.flat.fire-brick:hover {
  box-shadow: 0px 3px 0 #50101c;
}
.btn.flat.fire-brick:active {
  box-shadow: 0px 3px 0 #d02a49;
}
.btn.flat.sunglow {
  box-shadow: 0px 3px 0 #f1bc00;
  color: #4d3c00;
}
.btn.flat.sunglow:hover {
  box-shadow: 0px 3px 0 #be9400;
}
.btn.flat.sunglow:active {
  box-shadow: 0px 3px 0 #ffda58;
}
.btn.flat.milk-punch {
  box-shadow: 0px 3px 0 #ecd699;
  color: #40320c;
}
.btn.flat.milk-punch:hover {
  box-shadow: 0px 3px 0 #e4c46e;
}
.btn.flat.milk-punch:active {
  box-shadow: 0px 3px 0 #fcf8ef;
}
.btn.flat.yukon-gold {
  box-shadow: 0px 3px 0 #625114;
  color: #ffffff;
}
.btn.flat.yukon-gold:hover {
  box-shadow: 0px 3px 0 #382e0b;
}
.btn.flat.yukon-gold:active {
  box-shadow: 0px 3px 0 #b69726;
}
.btn.flat.green-pea {
  box-shadow: 0px 3px 0 #154a26;
  color: #ffffff;
}
.btn.flat.green-pea:hover {
  box-shadow: 0px 3px 0 #0a2212;
}
.btn.flat.green-pea:active {
  box-shadow: 0px 3px 0 #2b9a50;
}
.btn.flat.laurel {
  box-shadow: 0px 3px 0 #246028;
  color: #ffffff;
}
.btn.flat.laurel:hover {
  box-shadow: 0px 3px 0 #163b19;
}
.btn.flat.laurel:active {
  box-shadow: 0px 3px 0 #40aa48;
}
.btn.flat.elf-green {
  box-shadow: 0px 3px 0 #115b43;
  color: #ffffff;
}
.btn.flat.elf-green:hover {
  box-shadow: 0px 3px 0 #093023;
}
.btn.flat.elf-green:active {
  box-shadow: 0px 3px 0 #21b183;
}
.btn.flat.lake {
  box-shadow: 0px 3px 0 #1b5a6a;
  color: #ffffff;
}
.btn.flat.lake:hover {
  box-shadow: 0px 3px 0 #103842;
}
.btn.flat.lake:active {
  box-shadow: 0px 3px 0 #2fa0bc;
}
.btn.flat.cobalt-blue {
  box-shadow: 0px 3px 0 #08387b;
  color: #ffffff;
}
.btn.flat.cobalt-blue:hover {
  box-shadow: 0px 3px 0 #05224b;
}
.btn.flat.cobalt-blue:active {
  box-shadow: 0px 3px 0 #0e64db;
}
.btn.flat.mariner {
  box-shadow: 0px 3px 0 #2b5ea6;
  color: #10233d;
}
.btn.flat.mariner:hover {
  box-shadow: 0px 3px 0 #20477e;
}
.btn.flat.mariner:active {
  box-shadow: 0px 3px 0 #6192d6;
}
.btn.flat.fuchsia {
  box-shadow: 0px 3px 0 #7e067b;
  color: #ffffff;
}
.btn.flat.fuchsia:hover {
  box-shadow: 0px 3px 0 #4d044b;
}
.btn.flat.fuchsia:active {
  box-shadow: 0px 3px 0 #e00ad9;
}
.btn.flat.blue-violet {
  box-shadow: 0px 3px 0 #7f1ce8;
  color: #250746;
}
.btn.flat.blue-violet:hover {
  box-shadow: 0px 3px 0 #6613be;
}
.btn.flat.blue-violet:active {
  box-shadow: 0px 3px 0 #b378f2;
}
.btn.flat.purple-heart {
  box-shadow: 0px 3px 0 #612788;
  color: #ffffff;
}
.btn.flat.purple-heart:hover {
  box-shadow: 0px 3px 0 #451b61;
}
.btn.flat.purple-heart:active {
  box-shadow: 0px 3px 0 #974acb;
}
.btn.flat:active {
  box-shadow: 0px 3px 0 #a2a2a2 !important;
}
.btn.flat.active {
  box-shadow: 0px 3px 0 #1d88eb !important;
}
.btn.flat:hover {
  box-shadow: 0px 3px 0 #555555;
}