input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  border: none;
  background: transparent;
}
input[type=range].silver::-webkit-slider-thumb {
  background: #adadad;
}
input[type=range].silver::-moz-range-thumb {
  background: #adadad;
}
input[type=range].silver::-ms-thumb {
  background: #adadad;
}
input[type=range].silver::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].silver::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].silver::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].silver::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].silver:hover::-webkit-slider-runnable-track {
  background: #c0c0c0;
}
input[type=range].silver:hover::-moz-range-track {
  background: #c0c0c0;
}
input[type=range].silver:hover::-ms-fill-lower {
  background: #c0c0c0;
}
input[type=range].silver:hover::-ms-fill-upper {
  background: #c0c0c0;
}
input[type=range].royal-purple::-webkit-slider-thumb {
  background: #533781;
}
input[type=range].royal-purple::-moz-range-thumb {
  background: #533781;
}
input[type=range].royal-purple::-ms-thumb {
  background: #533781;
}
input[type=range].royal-purple::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].royal-purple::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].royal-purple::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].royal-purple::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].royal-purple:hover::-webkit-slider-runnable-track {
  background: #64429c;
}
input[type=range].royal-purple:hover::-moz-range-track {
  background: #64429c;
}
input[type=range].royal-purple:hover::-ms-fill-lower {
  background: #64429c;
}
input[type=range].royal-purple:hover::-ms-fill-upper {
  background: #64429c;
}
input[type=range].persian-red::-webkit-slider-thumb {
  background: #be2525;
}
input[type=range].persian-red::-moz-range-thumb {
  background: #be2525;
}
input[type=range].persian-red::-ms-thumb {
  background: #be2525;
}
input[type=range].persian-red::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].persian-red::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].persian-red::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].persian-red::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].persian-red:hover::-webkit-slider-runnable-track {
  background: #d73333;
}
input[type=range].persian-red:hover::-moz-range-track {
  background: #d73333;
}
input[type=range].persian-red:hover::-ms-fill-lower {
  background: #d73333;
}
input[type=range].persian-red:hover::-ms-fill-upper {
  background: #d73333;
}
input[type=range].denim::-webkit-slider-thumb {
  background: #0e5aa1;
}
input[type=range].denim::-moz-range-thumb {
  background: #0e5aa1;
}
input[type=range].denim::-ms-thumb {
  background: #0e5aa1;
}
input[type=range].denim::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].denim::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].denim::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].denim::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].denim:hover::-webkit-slider-runnable-track {
  background: #116ec4;
}
input[type=range].denim:hover::-moz-range-track {
  background: #116ec4;
}
input[type=range].denim:hover::-ms-fill-lower {
  background: #116ec4;
}
input[type=range].denim:hover::-ms-fill-upper {
  background: #116ec4;
}
input[type=range].gold-tips::-webkit-slider-thumb {
  background: #d79e1a;
}
input[type=range].gold-tips::-moz-range-thumb {
  background: #d79e1a;
}
input[type=range].gold-tips::-ms-thumb {
  background: #d79e1a;
}
input[type=range].gold-tips::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].gold-tips::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].gold-tips::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].gold-tips::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].gold-tips:hover::-webkit-slider-runnable-track {
  background: #e6b031;
}
input[type=range].gold-tips:hover::-moz-range-track {
  background: #e6b031;
}
input[type=range].gold-tips:hover::-ms-fill-lower {
  background: #e6b031;
}
input[type=range].gold-tips:hover::-ms-fill-upper {
  background: #e6b031;
}
input[type=range].shamrock::-webkit-slider-thumb {
  background: #2bb16b;
}
input[type=range].shamrock::-moz-range-thumb {
  background: #2bb16b;
}
input[type=range].shamrock::-ms-thumb {
  background: #2bb16b;
}
input[type=range].shamrock::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].shamrock::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].shamrock::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].shamrock::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].shamrock:hover::-webkit-slider-runnable-track {
  background: #34ce7e;
}
input[type=range].shamrock:hover::-moz-range-track {
  background: #34ce7e;
}
input[type=range].shamrock:hover::-ms-fill-lower {
  background: #34ce7e;
}
input[type=range].shamrock:hover::-ms-fill-upper {
  background: #34ce7e;
}
input[type=range].cod-grey::-webkit-slider-thumb {
  background: #080808;
}
input[type=range].cod-grey::-moz-range-thumb {
  background: #080808;
}
input[type=range].cod-grey::-ms-thumb {
  background: #080808;
}
input[type=range].cod-grey::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].cod-grey::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].cod-grey::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].cod-grey::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].cod-grey:hover::-webkit-slider-runnable-track {
  background: #1b1b1b;
}
input[type=range].cod-grey:hover::-moz-range-track {
  background: #1b1b1b;
}
input[type=range].cod-grey:hover::-ms-fill-lower {
  background: #1b1b1b;
}
input[type=range].cod-grey:hover::-ms-fill-upper {
  background: #1b1b1b;
}
input[type=range].gravel::-webkit-slider-thumb {
  background: #5b5b5b;
}
input[type=range].gravel::-moz-range-thumb {
  background: #5b5b5b;
}
input[type=range].gravel::-ms-thumb {
  background: #5b5b5b;
}
input[type=range].gravel::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].gravel::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].gravel::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].gravel::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].gravel:hover::-webkit-slider-runnable-track {
  background: #6e6e6e;
}
input[type=range].gravel:hover::-moz-range-track {
  background: #6e6e6e;
}
input[type=range].gravel:hover::-ms-fill-lower {
  background: #6e6e6e;
}
input[type=range].gravel:hover::-ms-fill-upper {
  background: #6e6e6e;
}
input[type=range].emerald::-webkit-slider-thumb {
  background: #3dc739;
}
input[type=range].emerald::-moz-range-thumb {
  background: #3dc739;
}
input[type=range].emerald::-ms-thumb {
  background: #3dc739;
}
input[type=range].emerald::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].emerald::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].emerald::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].emerald::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].emerald:hover::-webkit-slider-runnable-track {
  background: #5acf57;
}
input[type=range].emerald:hover::-moz-range-track {
  background: #5acf57;
}
input[type=range].emerald:hover::-ms-fill-lower {
  background: #5acf57;
}
input[type=range].emerald:hover::-ms-fill-upper {
  background: #5acf57;
}
input[type=range].burn-orange::-webkit-slider-thumb {
  background: #f85909;
}
input[type=range].burn-orange::-moz-range-thumb {
  background: #f85909;
}
input[type=range].burn-orange::-ms-thumb {
  background: #f85909;
}
input[type=range].burn-orange::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].burn-orange::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].burn-orange::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].burn-orange::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].burn-orange:hover::-webkit-slider-runnable-track {
  background: #f9722e;
}
input[type=range].burn-orange:hover::-moz-range-track {
  background: #f9722e;
}
input[type=range].burn-orange:hover::-ms-fill-lower {
  background: #f9722e;
}
input[type=range].burn-orange:hover::-ms-fill-upper {
  background: #f9722e;
}
input[type=range].razzmatazz::-webkit-slider-thumb {
  background: #b40035;
}
input[type=range].razzmatazz::-moz-range-thumb {
  background: #b40035;
}
input[type=range].razzmatazz::-ms-thumb {
  background: #b40035;
}
input[type=range].razzmatazz::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].razzmatazz::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].razzmatazz::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].razzmatazz::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].razzmatazz:hover::-webkit-slider-runnable-track {
  background: #da0040;
}
input[type=range].razzmatazz:hover::-moz-range-track {
  background: #da0040;
}
input[type=range].razzmatazz:hover::-ms-fill-lower {
  background: #da0040;
}
input[type=range].razzmatazz:hover::-ms-fill-upper {
  background: #da0040;
}
input[type=range].desert::-webkit-slider-thumb {
  background: #845032;
}
input[type=range].desert::-moz-range-thumb {
  background: #845032;
}
input[type=range].desert::-ms-thumb {
  background: #845032;
}
input[type=range].desert::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].desert::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].desert::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].desert::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].desert:hover::-webkit-slider-runnable-track {
  background: #a0613d;
}
input[type=range].desert:hover::-moz-range-track {
  background: #a0613d;
}
input[type=range].desert:hover::-ms-fill-lower {
  background: #a0613d;
}
input[type=range].desert:hover::-ms-fill-upper {
  background: #a0613d;
}
input[type=range].charcoal::-webkit-slider-thumb {
  background: #313131;
}
input[type=range].charcoal::-moz-range-thumb {
  background: #313131;
}
input[type=range].charcoal::-ms-thumb {
  background: #313131;
}
input[type=range].charcoal::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].charcoal::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].charcoal::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].charcoal::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].charcoal:hover::-webkit-slider-runnable-track {
  background: #444444;
}
input[type=range].charcoal:hover::-moz-range-track {
  background: #444444;
}
input[type=range].charcoal:hover::-ms-fill-lower {
  background: #444444;
}
input[type=range].charcoal:hover::-ms-fill-upper {
  background: #444444;
}
input[type=range].golden-brown::-webkit-slider-thumb {
  background: #7b500c;
}
input[type=range].golden-brown::-moz-range-thumb {
  background: #7b500c;
}
input[type=range].golden-brown::-ms-thumb {
  background: #7b500c;
}
input[type=range].golden-brown::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].golden-brown::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].golden-brown::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].golden-brown::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].golden-brown:hover::-webkit-slider-runnable-track {
  background: #9e6710;
}
input[type=range].golden-brown:hover::-moz-range-track {
  background: #9e6710;
}
input[type=range].golden-brown:hover::-ms-fill-lower {
  background: #9e6710;
}
input[type=range].golden-brown:hover::-ms-fill-upper {
  background: #9e6710;
}
input[type=range].sepia::-webkit-slider-thumb {
  background: #503710;
}
input[type=range].sepia::-moz-range-thumb {
  background: #503710;
}
input[type=range].sepia::-ms-thumb {
  background: #503710;
}
input[type=range].sepia::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].sepia::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].sepia::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].sepia::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].sepia:hover::-webkit-slider-runnable-track {
  background: #704d16;
}
input[type=range].sepia:hover::-moz-range-track {
  background: #704d16;
}
input[type=range].sepia:hover::-ms-fill-lower {
  background: #704d16;
}
input[type=range].sepia:hover::-ms-fill-upper {
  background: #704d16;
}
input[type=range].alizarin::-webkit-slider-thumb {
  background: #c41c10;
}
input[type=range].alizarin::-moz-range-thumb {
  background: #c41c10;
}
input[type=range].alizarin::-ms-thumb {
  background: #c41c10;
}
input[type=range].alizarin::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].alizarin::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].alizarin::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].alizarin::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].alizarin:hover::-webkit-slider-runnable-track {
  background: #e72113;
}
input[type=range].alizarin:hover::-moz-range-track {
  background: #e72113;
}
input[type=range].alizarin:hover::-ms-fill-lower {
  background: #e72113;
}
input[type=range].alizarin:hover::-ms-fill-upper {
  background: #e72113;
}
input[type=range].rust::-webkit-slider-thumb {
  background: #a53f0e;
}
input[type=range].rust::-moz-range-thumb {
  background: #a53f0e;
}
input[type=range].rust::-ms-thumb {
  background: #a53f0e;
}
input[type=range].rust::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].rust::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].rust::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].rust::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].rust:hover::-webkit-slider-runnable-track {
  background: #c84d11;
}
input[type=range].rust:hover::-moz-range-track {
  background: #c84d11;
}
input[type=range].rust:hover::-ms-fill-lower {
  background: #c84d11;
}
input[type=range].rust:hover::-ms-fill-upper {
  background: #c84d11;
}
input[type=range].blush::-webkit-slider-thumb {
  background: #a83b56;
}
input[type=range].blush::-moz-range-thumb {
  background: #a83b56;
}
input[type=range].blush::-ms-thumb {
  background: #a83b56;
}
input[type=range].blush::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].blush::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].blush::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].blush::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].blush:hover::-webkit-slider-runnable-track {
  background: #bf4a67;
}
input[type=range].blush:hover::-moz-range-track {
  background: #bf4a67;
}
input[type=range].blush:hover::-ms-fill-lower {
  background: #bf4a67;
}
input[type=range].blush:hover::-ms-fill-upper {
  background: #bf4a67;
}
input[type=range].fire-brick::-webkit-slider-thumb {
  background: #851b2f;
}
input[type=range].fire-brick::-moz-range-thumb {
  background: #851b2f;
}
input[type=range].fire-brick::-ms-thumb {
  background: #851b2f;
}
input[type=range].fire-brick::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].fire-brick::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].fire-brick::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].fire-brick::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].fire-brick:hover::-webkit-slider-runnable-track {
  background: #a5213a;
}
input[type=range].fire-brick:hover::-moz-range-track {
  background: #a5213a;
}
input[type=range].fire-brick:hover::-ms-fill-lower {
  background: #a5213a;
}
input[type=range].fire-brick:hover::-ms-fill-upper {
  background: #a5213a;
}
input[type=range].sunglow::-webkit-slider-thumb {
  background: #fec600;
}
input[type=range].sunglow::-moz-range-thumb {
  background: #fec600;
}
input[type=range].sunglow::-ms-thumb {
  background: #fec600;
}
input[type=range].sunglow::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].sunglow::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].sunglow::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].sunglow::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].sunglow:hover::-webkit-slider-runnable-track {
  background: #ffcf25;
}
input[type=range].sunglow:hover::-moz-range-track {
  background: #ffcf25;
}
input[type=range].sunglow:hover::-ms-fill-lower {
  background: #ffcf25;
}
input[type=range].sunglow:hover::-ms-fill-upper {
  background: #ffcf25;
}
input[type=range].milk-punch::-webkit-slider-thumb {
  background: #eedaa4;
}
input[type=range].milk-punch::-moz-range-thumb {
  background: #eedaa4;
}
input[type=range].milk-punch::-ms-thumb {
  background: #eedaa4;
}
input[type=range].milk-punch::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].milk-punch::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].milk-punch::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].milk-punch::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].milk-punch:hover::-webkit-slider-runnable-track {
  background: #f4e7c4;
}
input[type=range].milk-punch:hover::-moz-range-track {
  background: #f4e7c4;
}
input[type=range].milk-punch:hover::-ms-fill-lower {
  background: #f4e7c4;
}
input[type=range].milk-punch:hover::-ms-fill-upper {
  background: #f4e7c4;
}
input[type=range].yukon-gold::-webkit-slider-thumb {
  background: #6c5a16;
}
input[type=range].yukon-gold::-moz-range-thumb {
  background: #6c5a16;
}
input[type=range].yukon-gold::-ms-thumb {
  background: #6c5a16;
}
input[type=range].yukon-gold::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].yukon-gold::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].yukon-gold::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].yukon-gold::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].yukon-gold:hover::-webkit-slider-runnable-track {
  background: #8c741d;
}
input[type=range].yukon-gold:hover::-moz-range-track {
  background: #8c741d;
}
input[type=range].yukon-gold:hover::-ms-fill-lower {
  background: #8c741d;
}
input[type=range].yukon-gold:hover::-ms-fill-upper {
  background: #8c741d;
}
input[type=range].green-pea::-webkit-slider-thumb {
  background: #18542c;
}
input[type=range].green-pea::-moz-range-thumb {
  background: #18542c;
}
input[type=range].green-pea::-ms-thumb {
  background: #18542c;
}
input[type=range].green-pea::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].green-pea::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].green-pea::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].green-pea::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].green-pea:hover::-webkit-slider-runnable-track {
  background: #20723b;
}
input[type=range].green-pea:hover::-moz-range-track {
  background: #20723b;
}
input[type=range].green-pea:hover::-ms-fill-lower {
  background: #20723b;
}
input[type=range].green-pea:hover::-ms-fill-upper {
  background: #20723b;
}
input[type=range].laurel::-webkit-slider-thumb {
  background: #28692c;
}
input[type=range].laurel::-moz-range-thumb {
  background: #28692c;
}
input[type=range].laurel::-ms-thumb {
  background: #28692c;
}
input[type=range].laurel::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].laurel::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].laurel::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].laurel::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].laurel:hover::-webkit-slider-runnable-track {
  background: #328538;
}
input[type=range].laurel:hover::-moz-range-track {
  background: #328538;
}
input[type=range].laurel:hover::-ms-fill-lower {
  background: #328538;
}
input[type=range].laurel:hover::-ms-fill-upper {
  background: #328538;
}
input[type=range].elf-green::-webkit-slider-thumb {
  background: #13664b;
}
input[type=range].elf-green::-moz-range-thumb {
  background: #13664b;
}
input[type=range].elf-green::-ms-thumb {
  background: #13664b;
}
input[type=range].elf-green::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].elf-green::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].elf-green::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].elf-green::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].elf-green:hover::-webkit-slider-runnable-track {
  background: #198663;
}
input[type=range].elf-green:hover::-moz-range-track {
  background: #198663;
}
input[type=range].elf-green:hover::-ms-fill-lower {
  background: #198663;
}
input[type=range].elf-green:hover::-ms-fill-upper {
  background: #198663;
}
input[type=range].lake::-webkit-slider-thumb {
  background: #1d6374;
}
input[type=range].lake::-moz-range-thumb {
  background: #1d6374;
}
input[type=range].lake::-ms-thumb {
  background: #1d6374;
}
input[type=range].lake::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].lake::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].lake::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].lake::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].lake:hover::-webkit-slider-runnable-track {
  background: #257d93;
}
input[type=range].lake:hover::-moz-range-track {
  background: #257d93;
}
input[type=range].lake:hover::-ms-fill-lower {
  background: #257d93;
}
input[type=range].lake:hover::-ms-fill-upper {
  background: #257d93;
}
input[type=range].cobalt-blue::-webkit-slider-thumb {
  background: #093e87;
}
input[type=range].cobalt-blue::-moz-range-thumb {
  background: #093e87;
}
input[type=range].cobalt-blue::-ms-thumb {
  background: #093e87;
}
input[type=range].cobalt-blue::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].cobalt-blue::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].cobalt-blue::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].cobalt-blue::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].cobalt-blue:hover::-webkit-slider-runnable-track {
  background: #0b4eab;
}
input[type=range].cobalt-blue:hover::-moz-range-track {
  background: #0b4eab;
}
input[type=range].cobalt-blue:hover::-ms-fill-lower {
  background: #0b4eab;
}
input[type=range].cobalt-blue:hover::-ms-fill-upper {
  background: #0b4eab;
}
input[type=range].mariner::-webkit-slider-thumb {
  background: #2d64b1;
}
input[type=range].mariner::-moz-range-thumb {
  background: #2d64b1;
}
input[type=range].mariner::-ms-thumb {
  background: #2d64b1;
}
input[type=range].mariner::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].mariner::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].mariner::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].mariner::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].mariner:hover::-webkit-slider-runnable-track {
  background: #3876cc;
}
input[type=range].mariner:hover::-moz-range-track {
  background: #3876cc;
}
input[type=range].mariner:hover::-ms-fill-lower {
  background: #3876cc;
}
input[type=range].mariner:hover::-ms-fill-upper {
  background: #3876cc;
}
input[type=range].fuchsia::-webkit-slider-thumb {
  background: #8a0686;
}
input[type=range].fuchsia::-moz-range-thumb {
  background: #8a0686;
}
input[type=range].fuchsia::-ms-thumb {
  background: #8a0686;
}
input[type=range].fuchsia::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].fuchsia::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].fuchsia::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].fuchsia::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].fuchsia:hover::-webkit-slider-runnable-track {
  background: #af08aa;
}
input[type=range].fuchsia:hover::-moz-range-track {
  background: #af08aa;
}
input[type=range].fuchsia:hover::-ms-fill-lower {
  background: #af08aa;
}
input[type=range].fuchsia:hover::-ms-fill-upper {
  background: #af08aa;
}
input[type=range].blue-violet::-webkit-slider-thumb {
  background: #8527ea;
}
input[type=range].blue-violet::-moz-range-thumb {
  background: #8527ea;
}
input[type=range].blue-violet::-ms-thumb {
  background: #8527ea;
}
input[type=range].blue-violet::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].blue-violet::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].blue-violet::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].blue-violet::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].blue-violet:hover::-webkit-slider-runnable-track {
  background: #994aed;
}
input[type=range].blue-violet:hover::-moz-range-track {
  background: #994aed;
}
input[type=range].blue-violet:hover::-ms-fill-lower {
  background: #994aed;
}
input[type=range].blue-violet:hover::-ms-fill-upper {
  background: #994aed;
}
input[type=range].purple-heart::-webkit-slider-thumb {
  background: #682a92;
}
input[type=range].purple-heart::-moz-range-thumb {
  background: #682a92;
}
input[type=range].purple-heart::-ms-thumb {
  background: #682a92;
}
input[type=range].purple-heart::-webkit-slider-runnable-track {
  background: var(--color-background-input2);
}
input[type=range].purple-heart::-moz-range-track {
  background: var(--color-background-input2);
}
input[type=range].purple-heart::-ms-fill-lower {
  background: var(--color-background-input2);
}
input[type=range].purple-heart::-ms-fill-upper {
  background: var(--color-background-input2);
}
input[type=range].purple-heart:hover::-webkit-slider-runnable-track {
  background: #7d32b0;
}
input[type=range].purple-heart:hover::-moz-range-track {
  background: #7d32b0;
}
input[type=range].purple-heart:hover::-ms-fill-lower {
  background: #7d32b0;
}
input[type=range].purple-heart:hover::-ms-fill-upper {
  background: #7d32b0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 10px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 10px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
}