@import "src/variables";
@import "src/functions";

.#{$nano}btn {
  &.#{$nano}ghost {
    color: hsla(0, 0%, 100%, 0.4);

    @each $name in $colors {
      &.#{$nano}#{$name} {
        color: #{gvar("#{$name}")};
        &:active,
        &.#{$nano}active {
          color: #{gvar("#{$name}-m20")};
          background-color: #{gvar("#{$name}")};
        }
        &:hover {
          color: #{gvar("#{$name}-p10")};
        }
      }
    }

    &:hover {
      background-color: rgb(255 255 255 / 10%);
    }
  }
}
