@import "src/variables";
@import "src/functions";

.#{$nano}btn {
  &.#{$nano}outline {
    @each $name in $colors {
      &.#{$nano}#{$name} {
        color: #{nn-gvar("#{$name}-p10")};
        border: 1px #{nn-gvar("#{$name}")} solid;

        &:hover,
        &:active,
        &.#{$nano}active {
          color: #{nn-gvar("#{$name}-m20")};
          background-color: #{nn-gvar("#{$name}-p20")};
          border-color: #{nn-gvar("#{$name}-p20")};
        }
      }
    }
  }
}
