@import "src/variables";
@import "src/functions";

.#{$nano}btn {
  &.#{$nano}nav {
    color: hsla(0, 0%, 100%, 0.4);

    @each $name in $colors {
      &.#{$nano}#{$name} {
        &:active,
        &.#{$nano}active {
          color: #{nn-gvar("#{$name}-p20")};
          box-shadow: -2px 0 0 #{nn-gvar("#{$name}")};
        }
      }
    }

    &:hover {
      color: rgb(255 255 255);
      background-color: rgb(255 255 255 / 10%);
    }
  }
}
