@import "src/variables";
@import "src/functions";

.#{$nano}btn {
  &.#{$nano}outline {
    @each $name, $value in $colors {
      $new-color: darken($value, 10%);

      &.#{$nano}#{$name} {
        border: 1px $value solid;

        $lightness: lightness($value);
        @if ($lightness > 50) {
          color: $value;
          &:hover {
            color: darken($value, $lightness - 15%);
          }
        } @else {
          color: lighten($value, 20%);
          &:hover {
            color: #ffffff;
          }
        }

        &:hover {
          background-color: $new-color;
          border-color: $new-color;
        }

        &:active,
        &.#{$nano}active {
          border-color: lighten($value, 20%);
          background-color: lighten($value, 20%);
          color: darken($value, 20%);
        }
      }
    }
  }
}
