@import "src/variables";
@import "src/functions";

.#{$nano}btn {
  font-size: 9pt;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  transition: all $transition ease;
  border-radius: 0;
  min-height: 35px;
  min-width: 35px;
  width: 100%;
  border-width: 0;
  background-color: transparent;

  &.#{$nano}round {
    border-radius: 22px;
  }

  > span {
    pointer-events: none;
  }

  #{wc("icon")} {
    font-size: 14px;
    min-width: 25px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}