@import "src/variables";
@import "src/functions";

.btn {
  $original-color: #888;
  border-radius: 50%;
  font-size: 9pt;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;

  > span {
    pointer-events: none;
  }

  &.rounded,
  &.flat {
    @each $name, $value in $colors {
      $new-color: darken($value, 10%);
      &.#{$name} {
        background-color: $value;
        &:hover {
          background-color: $new-color;
        }
        &:active {
          background-color: lighten($value, 20%);
          color: darken($value, 20%);
        }
      }
    }
  }

  nn-icon {
    font-size: 14px;
    &:not(:only-child) {
      margin-right: 0.5rem;
    }
  }

  &:focus {
    outline: none;
  }

  &.rounded {
    &:active {
      background-color: lighten($original-color, 20%) !important;
      color: darken($original-color, 20%) !important;
    }
  
    &.active {
      background-color: lighten(#116ec4, 20%) !important;
      color: darken(#116ec4, 20%) !important;
    }
  
    &:hover {
      cursor: pointer;
      background-color: darken($original-color, 10%);
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  &.flat, &.transparent {
    font-weight: bold;
    letter-spacing: 1pt;
    text-transform: uppercase;
    transition: all $transition ease;
    border-radius: 0;
    min-height: 35px;
    width: max(35px, 100%);
    border-width: 0;
  }

  &.transparent {
    background-color: transparent;
    color: rgb(255 255 255 / 40%);

    &:hover {
      color: rgb(255 255 255);
      background-color: rgb(255 255 255 / 10%);
    }

    &:active, &.active {
      background-color: rgb(255 255 255 / 5%);
    }

    @each $name, $value in $colors {
      &.#{$name} {
        &:active, &.active {
          color: lighten($value, 20%);
          box-shadow: -2px 0 0 $value;
        }
      }
    }
  }

  &.flat {
    background-color: $original-color;
    box-shadow: 0px 3px 0 darken($original-color, 10%);

    @each $name, $value in $colors {
      $new-color: darken($value, 10%);

      &.#{$name} {
        box-shadow: 0px 3px 0 $new-color;
        $lightness: lightness($value);
        @if ($lightness > 50) {
          color: darken($value, $lightness - 15%);
        } @else {
          color: #ffffff;
        }

        &:hover {
          box-shadow: 0px 3px 0 darken($value, 20%);
        }
        &:active {
          box-shadow: 0px 3px 0 lighten($value, 10%);
        }
      }
    }

    &:active {
      box-shadow: 0px 3px 0 lighten($original-color, 10%) !important;
    }

    &.active {
      box-shadow: 0px 3px 0 lighten(#116ec4, 10%) !important;
    }

    &:hover {
      box-shadow: 0px 3px 0 darken($original-color, 20%);
    }
  }
}
