@import "src/variables";
@import "src/functions";

#{wc("container")} {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 100%;
  @each $size in (400, 500, 600, 900, 1450) {
    &.#{$nano}sz#{$size} {
      max-width: #{$size}px;
      flex-basis: #{$size}px;
    }
  }
}
