@import "src/variables";
@import "src/functions";
@import "src/mixins";
@import "src/grid";

#{nn-wc("row")} {
	#{nn-wc("column", ">")} {
		@include nn-width-abs;
		@include nn-width-percents;
		@include nn-width-percents-calc;
		flex-grow: 0;
		flex-shrink: 0;

		&[#{$nano}grow] {
      flex-grow: 1;
			max-width: 100%;
    }

		&[#{$nano}shrink] {
			flex-shrink: 1;
    }
	}
}