@import "src/variables";
@import "src/functions";
@import "src/grid";

#{nn-wc("icon")} {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    display: inline-block;
  }

  $sizes: (45, 90, 135, 180, 225, 270, 315);

  @each $degree in $sizes {
    $selector: ".#{$nano}d#{$degree}";

    &#{$selector} {
      &:before {
        transform: rotate(#{$degree}deg);
      }
      &.#{$nano}flip {
        &:before {
          transform: scaleX(-1) rotate(#{$degree}deg);
        }
      }
    }
  }

  &.#{$nano}flip {
    &:before {
      transform: scaleX(-1);
    }
  }
}
