@import "src/variables";
@import "src/functions";

#{wc("icon")} {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    display: inline-block;
  }

  &.#{$nano}left:before {
    transform: rotate(90deg);
  }

  &.#{$nano}up:before {
    transform: rotate(180deg);
  }

  &.#{$nano}right:before {
    transform: rotate(270deg);
  }
}
