@import "src/variables";
@import "src/functions";

.#{$nano}label {
  font-size: 9pt;
  color: var(--nn-color-foreground);
  background-color: var(--nn-input-color-background);
  box-shadow: 0px 3px 0 var(--nn-input-color-shadow);
  border: 0 none transparent;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  transition: all $transition ease;
  border-radius: 0;
  min-height: 35px;
  width: max(35px, 100%);
  padding: 0.5rem;

  &:hover {
    background: var(--nn-input-color-background-hover);
    box-shadow: 0px 3px 0 var(--nn-input-color-shadow-hover);
  }

  @each $name, $value in $colors {
    $new-color: darken($value, 10%);

    &.#{$nano}#{$name} {
      box-shadow: 0px 3px 0 $new-color;
      background-color: $value;
      $lightness: lightness($value);

      @if ($lightness > 50) {
        color: darken($value, $lightness - 15%);
      } @else {
        color: #ffffff;
      }
      &:hover {
        box-shadow: 0px 3px 0 darken($value, 20%);
        background-color: $new-color;
      }
    }
  }

  &.nn-input-color {
    text-transform: none;
    &,
    &:hover {
      color: #272730;
      background-color: #f2f2f2;
      box-shadow: 0 3px 0 #ccc;
    }
  }
}
