@import "src/variables";
@import "src/functions";
@import "src/mixins";

@mixin range-color($name) {
  &.#{$nano}#{$name} {
    $thumb: #{nn-gvar("#{$name}-m10")};
    $thumb-focus: #{nn-gvar("#{$name}-m10")};
    $track-focus: #{nn-gvar("#{$name}")};

    &::-webkit-slider-thumb ,
    &::-moz-range-thumb,
    &::-ms-thumb {
      background: $thumb;
    }
    &::-webkit-slider-runnable-track,
    &::-moz-range-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: var(--nn-track-color);
    }

    &:hover {
      &::-webkit-slider-runnable-track,
      &::-moz-range-track,
      &::-ms-fill-lower,
      &::-ms-fill-upper {
        background: $track-focus;
      }
    }
  }
}

$thumb-height: 20px;
$thumb-width: 20px;
$thumb-radius: 10px;
$track-radius: 10px;

.#{$nano}range {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background-color: var(--nn-input-color-background);
  box-shadow: 0px 3px 0 var(--nn-input-color-shadow);
  padding: 0.5rem;
  min-height: 35px;
  margin: 0 0 0.5rem;

  @each $name in $colors {
    @include range-color($name);
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border-radius: $thumb-radius;
    border: 0px solid #000101;
  }

  &::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $track-radius;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
  }

  &::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border-radius: $thumb-radius;
    border: 0px solid #000101;
  }

  &::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $track-radius;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  &::-ms-fill-upper {
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  &::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $track-radius;
    cursor: pointer;
  }

  &:focus,
  &:active {
    @include nn-outline();
  }

  &:hover {
    box-shadow: 0px 3px 0 var(--nn-input-color-shadow-hover);
  }
}
