@import "src/variables";
@import "src/functions";

@mixin range-color($name, $value) {
  &.#{$name} {
    $thumb: darken($value, 7.5%);
    $thumb-focus: darken($value, 7.5%);
    $track-focus: $value;

    &::-webkit-slider-thumb {
      background: $thumb;
    }
    &::-moz-range-thumb {
      background: $thumb;
    }
    &::-ms-thumb {
      background: $thumb;
    }
    &::-webkit-slider-runnable-track {
      background: var(--color-background-input2);
    }
    &::-moz-range-track {
      background: var(--color-background-input2);
    }
    &::-ms-fill-lower {
      background: var(--color-background-input2);
    }
    &::-ms-fill-upper {
      background: var(--color-background-input2);
    }

    &:hover {
      &::-webkit-slider-runnable-track {
        background: $track-focus;
      }
      &::-moz-range-track {
        background: $track-focus;
      }
      &::-ms-fill-lower {
        background: $track-focus;
      }
      &::-ms-fill-upper {
        background: $track-focus;
      }
    }
  }
}

$thumb-height: 20px;
$thumb-width: 20px;
$thumb-radius: 10px;
$track-radius: 10px;

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  border: none;
  background: transparent;

  @each $name, $value in $colors {
    @include range-color($name, $value);
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border-radius: $thumb-radius;
    border: 0px solid #000101;
  }

  &::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $track-radius;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
  }

  &::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border-radius: $thumb-radius;
    border: 0px solid #000101;
  }

  &::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $track-radius;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  &::-ms-fill-upper {
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  &::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $track-radius;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
