@import "src/variables";
@import "src/functions";

@mixin scrollbar-base() {
  scrollbar-width: thin;
  scrollbar-color: var(--nn-thumb-color) var(--nn-track-color);
  scrollbar-base-color: var(--nn-track-color);
  scrollbar-highlight-color: var(--nn-track-color);
  scrollbar-track-color: var(--nn-track-color);
  scrollbar-face-color: var(--nn-thumb-color);
  scrollbar-arrow-color: var(--nn-thumb-color);
  scrollbar-shadow-color: var(--nn-thumb-color);

  &::-webkit-scrollbar-thumb {
    background: var(--nn-thumb-color);
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    background: var(--nn-track-color);
    border-radius: 25px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
}

@mixin scrollbar($name: "silver") {
  &:hover,
  &.keep {
    scrollbar-face-color: #{nn-gvar("#{$name}")};
    scrollbar-arrow-color: #{nn-gvar("#{$name}")};
    scrollbar-shadow-color: #{nn-gvar("#{$name}")};

    &::-webkit-scrollbar-thumb {
      background: #{nn-gvar("#{$name}")};
    }
  }
}

#{nn-wc("scroll-area")} {
  overflow: auto;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  max-height: 100%;
  width: 100%;
  display: block;

  &[#{$nano}no-horizontal] {
    overflow-x: hidden;
  }

  &[#{$nano}no-vertical] {
    overflow-y: hidden;
  }

  @include scrollbar-base();
  @include scrollbar();

  @each $name in $colors {
    &[#{$nano}color="#{$name}"] {
      @include scrollbar($name);
    }
  }
}
