$global-colors: (
  "silver": #c0c0c0,
  "white": #ffffff,
  "royal-purple": #64429c,
  "persian-red": #d73333,
  "denim": #116ec4,
  "gold-tips": #e6b031,
  "shamrock": #34ce7e,
  "cod-grey": #1b1b1b,
  "gravel": #6e6e6e,
  "emerald": #5acf57,
  "burn-orange": #f9722e,
  "razzmatazz": #da0040,
  "desert": #a0613d,
  "charcoal": #444444,
);

$colors: (
  "silver": #c0c0c0,
  "royal-purple": #64429c,
  "persian-red": #d73333,
  "denim": #116ec4,
  "gold-tips": #e6b031,
  "shamrock": #34ce7e,
  "cod-grey": #1b1b1b,
  "gravel": #6e6e6e,
  "emerald": #5acf57,
  "burn-orange": #f9722e,
  "razzmatazz": #da0040,
  "desert": #a0613d,
  "charcoal": #444444,
  "golden-brown": #9e6710,
  "sepia": #704d16,
  "alizarin": #e72113,
  "rust": #c84d11,
  "blush": #bf4a67,
  "fire-brick": #a5213a,
  "sunglow": #ffcf25,
  "milk-punch": #f4e7c4,
  "yukon-gold": #8c741d,
  "green-pea": #20723b,
  "laurel": #328538,
  "elf-green": #198663,
  "lake": #257d93,
  "cobalt-blue": #0b4eab,
  "mariner": #3876cc,
  "fuchsia": #af08aa,
  "blue-violet": #994aed,
  "purple-heart": #7d32b0,
);

//------------------

$transition: 200ms;
