.nano-app {
  height: 100vh;
  margin-bottom: 0;
  align-items: stretch;

  &,
  .main-panel,
  .panel,
  .workarea {
    max-height: 100vh;
  }

  .main-panel {
    position: relative;
    background: var(--color-panel-background);
    border-right: 1px solid #222;

    .container {
      margin: unset;
      height: 100%;
    }

    .column {
      > .btn.flat {
        margin: 0 0 0.75rem;
      }
    }
  }

  .router-area {
    > .column {
      height: 100vh;
    }
  }

  .panel {
    transition: all 200ms ease;
    background: var(--color-panel-details-background);
    border-right: 1px solid var(--color-panel-border-separator);

    .scroll-area {
      padding-top: 1rem;
      padding-bottom: 1rem;
      overflow-x: hidden;
    }

    fieldset {
      border-radius: 5px;
      border: 1px solid var(--color-border);
    }

    .row-block {
      opacity: 1;
      margin: 0 1rem 1rem;
      padding: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    legend {
      font-weight: 700;
      padding: 0;
      color: var(--color-legend);
      margin-bottom: 1rem;
    }

    label,
    .label {
      margin: 0 0 0.5rem;
      font-size: 11pt;
      font-weight: 700;
      color: var(--color-label);

      &:not(.btn) {
        display: block;
      }
    }

    button,
    label,
    select,
    input[type="text"] {
      width: 100%;
    }

    &.hide-panel {
      max-width: 0;
      border-right: 0;

      fieldset {
        opacity: 0;
      }
    }
  }
  .workarea {
    transition: all 200ms ease;
    background-color: var(--color-workarea-background);
  }
}
