.radio-select {
  text-align: center;

  .btn.flat {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin: 0.25rem 0.25rem 0.3rem;
  }
}
