.tooltip {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    font-family: "Montserrat", Helvetica, Arial, Tahoma, sans-serif;
    display: none;
    background-color: #444444;
  }

  &:before {
    font-size: 11px;
    padding: 5px 8px;
    border-radius: 5px;
    top: 0;
    left: 45px;
    color: #eeeeee;
    box-shadow: 3px 1px 5px rgb(0 0 0 / 40%);
    white-space: nowrap;
  }

  &:after {
    content: "";
    top: 6px;
    left: 42px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }

  &:hover {
    &:before,
    &:after {
      display: block;
    }
  }

  &.home:before {
    content: "Home";
  }
  &.projects:before {
    content: "Projects";
  }
  &.experiments:before {
    content: "Experiments";
  }
  &.grid:before {
    content: "Grid Builder";
  }
  &.wheel:before {
    content: "Color Wheel Builder";
  }
  &.gear:before {
    content: "Gear Builder";
  }
  &.buttons:before {
    content: "Buttons";
  }
  &.colors:before {
    content: "Colors";
  }
  &.cube:before {
    content: "Cube";
  }
  &.statistics:before {
    content: "Statistics";
  }
  &.theme:before {
    content: "Toggle Theme";
  }
  &.universe:before {
    content: "A Parallel Universe Where Cows Rule Earth";
  }
  &.monitor:before {
    content: "Monitor";
  }
  &.server:before {
    content: "Server";
  }
  &.vue:before {
    content: "Vue site";
  }
  &.react:before {
    content: "React site";
  }
}
