.mdi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-monster:before {
  content: "\e900";
}
.mdi-brightness-4:before {
  content: "\f00dd";
}
.mdi-chart-areaspline:before {
  content: "\f0127";
}
.mdi-chart-bar:before {
  content: "\f0128";
}
.mdi-chevron-down:before {
  content: "\f0140";
}
.mdi-chevron-up:before {
  content: "\f0143";
}
.mdi-close:before {
  content: "\f0156";
}
.mdi-codepen:before {
  content: "\f0175";
}
.mdi-cow:before {
  content: "\f019a";
}
.mdi-cube-outline:before {
  content: "\f01a7";
}
.mdi-duck:before {
  content: "\f01e5";
}
.mdi-format-color-fill:before {
  content: "\f0266";
}
.mdi-github:before {
  content: "\f02a4";
}
.mdi-home:before {
  content: "\f02dc";
}
.mdi-language-html5:before {
  content: "\f031d";
}
.mdi-language-javascript:before {
  content: "\f031e";
}
.mdi-linkedin:before {
  content: "\f033b";
}
.mdi-minus:before {
  content: "\f0374";
}
.mdi-palette:before {
  content: "\f03d8";
}
.mdi-plus:before {
  content: "\f0415";
}
.mdi-projector-screen:before {
  content: "\f042f";
}
.mdi-server-network:before {
  content: "\f048d";
}
.mdi-angular:before {
  content: "\f06b2";
}
.mdi-react:before {
  content: "\f0708";
}
.mdi-sass:before {
  content: "\f07ec";
}
.mdi-vuejs:before {
  content: "\f0844";
}
.mdi-robot-industrial:before {
  content: "\f0b46";
}
.mdi-cog-transfer-outline:before {
  content: "\f105c";
}
.mdi-gesture-tap-button:before {
  content: "\f12a8";
}
