.btn {
  &.flat {
    $original-color: #888;
    font-weight: bold;
    letter-spacing: 1pt;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    transition: all $transition ease;
    border-radius: 0;
    padding: 13px 30px;
    font-size: 9pt;
    color: #fff;
    border: 0;
    background-color: $original-color;
    box-shadow: 0px 3px 0 darken( $original-color, 10% );

    &.icon {
      padding: 0;
      width: 44px;
      height: 44px;

      &.md {
        width: 32px;
        height: 32px;
      }
    }
  
    &:focus {
      outline: none;
    }

    &:active {
      background-color: lighten( $original-color, 20% ) !important;
      box-shadow: 0px 3px 0 lighten($original-color, 10% ) !important;
      color: darken( $original-color, 20% ) !important;
    }

    &.active {
      background-color: lighten( #116ec4, 20% ) !important;
      box-shadow: 0px 3px 0 lighten( #116ec4, 10% ) !important;
      color: darken( #116ec4, 20% ) !important;
    }

    input[type=radio],
    input[type=checkbox] {
      display: none;
    }
    
    @each $name, $value in $colors {
      $new-color: darken( $value, 10% );
      &.#{$name} {
        background-color: $value;
        box-shadow: 0px 3px 0 $new-color;
        &:hover {
          background-color: $new-color;
          box-shadow: 0px 3px 0 darken( $value, 20% );
        }
        &:active {
          background-color: lighten( $value, 20% );
          box-shadow: 0px 3px 0 lighten( $value, 10% );
          color: darken( $value, 20% );
        }
      }
    }

    &:hover {
      cursor: pointer;
      background-color: darken( $original-color, 10% );
      box-shadow: 0px 3px 0 darken( $original-color, 20% );
    }
 }
}