@mixin button-color( $name, $color )
{
  $newColor: darken( $color, 10% );
  &.#{$name} {
    background-color: $color;
    box-shadow: 0px 3px 0 $newColor;
    &:hover
    {
      background-color: $newColor;
      box-shadow: 0px 3px 0 darken( $color, 20% );
    }
    &:active
    {
      background-color: lighten( $color, 20% );
      box-shadow: 0px 3px 0 lighten( $color, 10% );
      color: darken( $color, 20% );
    }
  }
}