#{nn-wc("row")} {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  align-items: flex-start;

  @include nn-responsive-grid("sm", 576px);
  @include nn-responsive-grid("md", 768px);
  @include nn-responsive-grid("lg", 992px);
  @include nn-responsive-grid("xl", 1200px);
  @include nn-responsive-grid("xxl", 1400px);

  @extend %nn-spacing;

  &[#{$nano}grid] {
    align-items: stretch;
    justify-content: center;
    gap: 0.5rem;
  }

  @import "grid-group";
}
