@import "grid-mixins";

nn-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  align-items: flex-start;

  @extend %grid;

  @include responsive-grid("sm", 576px);
  @include responsive-grid("md", 768px);
  @include responsive-grid("lg", 992px);
  @include responsive-grid("xl", 1200px);
  @include responsive-grid("xxl", 1400px);

  // styles

  @extend %spacing;

  &.component-row {
    align-items: center;

    > nn-column {
      &:not(:last-child) {
        padding-right: 0.5rem;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      input,
      select,
      button {
        margin-bottom: 0;
      }
    }
  }

  &.vertical {
    flex-flow: column;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
    align-items: center;

    > nn-column {
      max-width: unset;
    }
  }

  &.grid {
    align-items: stretch;
    justify-content: center;

    > div {
      flex: 1 1 30%;
      padding: 5px;

      &:only-child {
        flex-grow: 0;
      }
    }
  }

  @import "grid-group";
}
