&.#{$nano}group {
  align-items: stretch;

  #{nn-wc("column", ">")} {
    > .#{$nano}label {
      align-items: center !important;
      display: flex !important;
      text-align: center;
      justify-content: center;
    }

    > .#{$nano}range,
    > .#{$nano}input {
      display: block;
    }

    > #{$nano}btn > button,
    > .#{$nano}btn,
    > .#{$nano}range,
    > .#{$nano}input,
    > .#{$nano}label {
      padding: 6px 15px;
      height: 100%;
      min-height: 100%;
      margin: 0;
      border: 0;
      border-radius: 0;
      width: 100%;
    }

    &:first-child {
      > #{$nano}btn > button,
      > .#{$nano}btn,
      > .#{$nano}range,
      > .#{$nano}input,
      > .#{$nano}label {
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
      }
    }

    &:last-child {
      > #{$nano}btn > button,
      > .#{$nano}btn,
      > .#{$nano}range,
      > .#{$nano}input,
      > .#{$nano}label {
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
      }
    }
  }
}
