@mixin scrollbar-base($scroll-thumb, $scroll-track) {
  scrollbar-width: thin;
  scrollbar-color: $scroll-thumb $scroll-track;
  scrollbar-base-color: $scroll-track;
  scrollbar-highlight-color: $scroll-track;
  scrollbar-track-color: $scroll-track;
  scrollbar-face-color: $scroll-thumb;
  scrollbar-arrow-color: $scroll-thumb;
  scrollbar-shadow-color: $scroll-thumb;

  &::-webkit-scrollbar-thumb {
    background: $scroll-thumb;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    background: $scroll-track;
    border-radius: 25px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
}

@mixin scrollbar($background: "silver") {
  &:hover,
  &.keep {
    scrollbar-face-color: gcolor($background);
    scrollbar-arrow-color: gcolor($background);
    scrollbar-shadow-color: gcolor($background);

    &::-webkit-scrollbar-thumb {
      background: gcolor($background);
    }
  }
}

nn-scroll-area {
  overflow: auto;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  max-height: 100%;
  width: 100%;
  display: block;

  &.no-horizontal {
    overflow-x: hidden;
  }

  &.no-vertical {
    overflow-y: hidden;
  }

  @include scrollbar-base(gcolor("silver"), rgb(249, 249, 249));
  .nano-dark & {
    @include scrollbar-base(gcolor("gravel"), gcolor("cod-grey"));
  }

  @include scrollbar("silver");
  @each $name, $value in $colors {
    &.#{$name} {
      @include scrollbar($name);
    }
  }
}
