$global-colors: (
  'silver': #c0c0c0,
  'white': #ffffff,
);

$transition: 200ms;
 
$blue: #116ec4;
$red: #d73333;
$cyan: #38c7d2;
$mustard: #e6b031;
$purple: #64429c;
$green: #5acf57;
$orange: #f9722e;
$fucsia: #da0040;
$mint: #34ce7e;
$brown: #a0613d;
$gray: #444;
$light-blue: lighten( $blue, 25%);