$nano: "nn-";
$css-width: (
  (1, 20),
  (1, 19),
  (1, 18),
  (1, 17),
  (1, 16),
  (1, 15),
  (1, 14),
  (1, 13),
  (1, 12),
  (1, 11),
  (1, 10),
  (1, 9),
  (1, 8),
  (1, 7),
  (3, 20),
  (1, 6),
  (1, 5),
  (1, 4),
  (3, 10),
  (1, 3),
  (7, 20),
  (2, 5),
  (5, 12),
  (9, 20),
  (1, 2),
  (11, 20),
  (7, 12),
  (3, 5),
  (13, 20),
  (2, 3),
  (7, 10),
  (3, 4),
  (4, 5),
  (5, 6),
  (17, 20),
  (9, 10),
  (11, 12),
  (19, 20),
  (1, 1)
);

$global-colors: (
  "silver": #c0c0c0,
  "white": #ffffff,
  "royal-purple": #64429c,
  "persian-red": #d73333,
  "denim": #116ec4,
  "gold-tips": #e6b031,
  "shamrock": #34ce7e,
  "cod-grey": #1b1b1b,
  "gravel": #6e6e6e,
  "emerald": #5acf57,
  "burn-orange": #f9722e,
  "razzmatazz": #da0040,
  "desert": #a0613d,
  "charcoal": #444444,
);

.nn-light {
  --nn-color-foreground: hsl(240deg 11% 17%);
  --nn-input-color-background: hsl(0deg 0% 95%);
  --nn-input-color-background-hover: hsl(0deg 0% 90%);
  --nn-input-color-shadow: hsl(0deg 0% 80%);
  --nn-input-color-shadow-hover: hsl(0deg 0% 70%);
  --nn-track-color: hsl(0deg 0% 84%);
  --nn-thumb-color: #c0c0c0;
  --nn-shade-background: hsl(240deg 10% 83% / 27%);
  --nn-border-color: #e2e2e2;
}
.nn-dark {
  --nn-color-foreground: hsl(0deg 0% 95%);
  --nn-input-color-background: hsl(240deg 11% 17%);
  --nn-input-color-background-hover: hsl(240deg 11% 25%);
  --nn-input-color-shadow: hsl(240deg 11% 10%);
  --nn-input-color-shadow-hover: hsl(240deg 11% 20%);
  --nn-track-color: hsl(0deg 0% 14%);
  --nn-thumb-color: #6e6e6e;
  --nn-shade-background: hsl(240deg 12% 10% / 27%);
  --nn-border-color: #444444;
}
