.section-gear {
  .workarea {
    .scroll-area {
      height: 100%;
      display: flex;
      overflow-x: hidden;
      padding: 1rem;
      canvas {
        margin: auto;
        display: block;
        max-width: 100%;
      }
    }
  }
}
