.section-wheel {
  .workarea {
    .scroll-area {
      height: 100%;
      display: flex;
      padding: 1rem;
      > div {
        margin: auto;
        display: block;
        max-width: 100%;
      }
    }
  }

  .nano-row.row-block {
    .nano-row {
      margin-bottom: 2rem;
    }
  }
}
