// ------------------ Fonts
@import "~@fontsource/montserrat/300.css";
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/600.css";

// ------------------ Modules
@import "~nano-grid/scss/nano-grid";
@import "~nano-grid/scss/btn";
@import "~nano-grid/scss/scroll-area";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", Helvetica, Arial, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  overflow: hidden;
}

main {
  &.nano-light {
    --color-title: #9c330a;
    --color-background: #ffffff;
    --color-foreground: #1e1e1e;
    --color-workarea-background: #f8f7fb;
    --color-panel-details-background: #ffffff;
    --color-panel-background: #272b42;
    --color-panel-border-separator: #cccccc;
    --color-border: #e2e2e2;
    --color-palette: #f7f7f7;
    --color-label: #104e86;
    --color-legend: #9c330a;
  }
  &.nano-dark {
    --color-title: #e69b28;
    --color-background: #222;
    --color-foreground: #eee;
    --color-workarea-background: #1e1e1e;
    --color-panel-details-background: #1f1f23;
    --color-panel-background: #232327;
    --color-panel-border-separator: #19191d;
    --color-border: #444444;
    --color-palette: #272727;
    --color-label: #4ca1ef;
    --color-legend: #b9b90e;
  }
  --title-shadow: 0;
  --color-shadow: rgb(0 0 0 / 65%);
  --shadow-depth: 2px 2px 5px;
}

select,
input[type="text"],
input[type="number"],
.input-label {
  font-weight: bold;
  letter-spacing: 1pt;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  transition: all $transition ease;
  border-radius: 0;
  padding: 0.5rem;
  font-size: 9pt;
  background: #444444;
  color: #fff;
  border: 0 none transparent;

  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0 0 2px 1px #116ec4;
  }

  &.disabled,
  &:disabled {
    background: #888888;
    color: #444;
    pointer-events: none;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="range"] {
  width: 100%;
}

hr {
  border-color: var(--color-border);
  border-width: 0 0 1px 0;
}

/*------------------------*/

.btn.flat {
  display: flex;
  align-items: center;
  justify-content: center;

  &.fsz {
    width: 100%;
  }
}

/*------------------------*/

.table {
  .suffix {
    padding-bottom: 2px;
  }
  .table-head {
    .nano-row {
      .column {
        text-transform: uppercase;
        font-weight: 300;
        padding: 0.25rem 1rem;
        font-size: 14px;
      }
    }
  }
  .table-body {
    .nano-row {
      background-color: rgba(127.5, 127.5, 127.5, 0.2);
      transition: background-color ease-in-out 200ms;
      &:hover {
        background-color: rgba(127.5, 127.5, 127.5, 0.35);
      }
      .column {
        padding: 0.5rem 1rem;
      }
    }
  }
}

/*------------------------*/
.pill-container {
  background-color: rgba(127.5, 127.5, 127.5, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.pill {
  padding: 4px 12px;
  background-color: #1d774a;
  border-radius: 10px;
  margin-right: 0.5rem;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

/*------------------------*/
main.universe {
  .nano-app {
    .panel,
    .workarea {
      &,
      * {
        animation: chaos 15s linear infinite;
      }
    }
  }

  .cow {
    animation: cow-stalker 1s;
    animation-fill-mode: forwards;
  }
}
.cow {
  position: fixed;
  bottom: -100px;
  left: -100px;
}

@keyframes cow-stalker {
  from {
    bottom: -100px;
    left: -100px;
  }
  to {
    bottom: 0;
    left: 48px;
  }
}

@keyframes chaos {
  from {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateZ(360deg);
  }
}

@import "core/icomoon";
@import "core/animations";
@import "core/layers";
@import "views/home";
@import "views/grid";
@import "views/gear";
@import "views/wheel";
@import "components/app";
@import "components/container";
@import "components/palette";
@import "components/listings";
@import "components/radio-select";
@import "components/tooltip";
@import "components/gallery";
