nn-pill {
  --nn-pill-color: #333;
  --nn-pill-text-color: #26220d;

  padding: 4px 6px;
  border-radius: 10px;
  color: var(--nn-pill-text-color);
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--nn-pill-color);
}
