nn-dropdown {
  --nn-dropdown-bgcolor: #252740;
  --nn-dropdown-btn-bgcolor: #313144;
  --nn-dropdown-btn-color: #64719b;

  position: relative;
  display: inline-block;

  &.open {
    .dropdown-trigger {
      background-color: var(--nn-dropdown-btn-color);
      color: var(--nn-dropdown-btn-bgcolor);
    }

    .dropdown-content {
      display: block;
    }
  }

  &:has(.active) {
    .dropdown-trigger {
      background-color: var(--nn-dropdown-btn-color);
      color: var(--nn-dropdown-btn-bgcolor);
    }
  }

  .dropdown-trigger {
    cursor: pointer;
    background-color: var(--nn-dropdown-btn-bgcolor);
    color: var(--nn-dropdown-btn-color);
  }

  .dropdown-content a,
  .dropdown-content button,
  .dropdown-trigger {
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: var(--nn-dropdown-bgcolor);
    color: var(--nn-dropdown-btn-color);

    &:hover {
      background-color: var(--nn-dropdown-btn-color);
      color: var(--nn-dropdown-btn-bgcolor);
    }
  }

  .dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    inset: 100% 0 auto auto;
    background-color: var(--nn-dropdown-bgcolor);
    padding: 0.5em;
    z-index: 1000;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  &[position='left'] {
    .dropdown-content {
      top: 100%;
      left: 0;
      inset: 100% auto auto 0;
    }
  }
}
