nn-icono {
  --nn-icono: '';
  --nn-icono-direction: '';
  display: inline-block;

  &:before {
    display: inline-block;
    content: var(--nn-icono);
    rotate: var(--nn-icono-direction);
  }

  &[direction='down'] {
    --nn-icono-direction: 0deg;
  }
  &[direction='left'] {
    --nn-icono-direction: 90deg;
  }
  &[direction='up'] {
    --nn-icono-direction: 180deg;
  }
  &[direction='right'] {
    --nn-icono-direction: 270deg;
  }
}
